<!-- Header Start -->

<app-admin-header *ngIf="headerFlag == 'admin'"></app-admin-header>

<app-biller-header *ngIf="headerFlag == 'biller'"></app-biller-header>

<app-tech-header *ngIf="headerFlag == 'tech'"></app-tech-header>

<app-doctor-header *ngIf="headerFlag == 'doctor'"></app-doctor-header>

<!-- Header End -->

<mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>

<mat-card-content class="title_wrapper">
    Account Setting
</mat-card-content>


<span class="add_header" *ngIf="cookiesData.type == 'tech'">
    <span class="bradcrumb"><a [routerLink]="['/tech/dashboard']">Dashboard &nbsp;/</a> &nbsp; Account Setting</span>
</span>
<span class="add_header" *ngIf="cookiesData.type == 'admin'">
    <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Account Setting</span>
</span>
<span class="add_header" *ngIf="cookiesData.type == 'biller'">
    <span class="bradcrumb"><a [routerLink]="['/biller/dashboard']">Dashboard &nbsp;/</a> &nbsp; Account Setting</span>
</span>
<span class="add_header" *ngIf="cookiesData.type == 'doctor'">
    <span class="bradcrumb"><a [routerLink]="['/biller/dashboard']">Dashboard &nbsp;/</a> &nbsp; Account Setting</span>
</span>
<!-- End header with add button -->

<mat-card class="add_form">
    <h2>Account Information</h2>
    <mat-card-content class="form_wrapper">
        <form class="example-form" autocomplete="off" name="AccountSettingsForm" [formGroup]="AccountSettingsForm"
            (ngSubmit)="AccountSettingsFormSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Enter First Name</mat-label>
                <input matInput placeholder="First Name" [formControl]="AccountSettingsForm.controls['firstname']"
                    (blur)="inputUntouch(AccountSettingsForm,'firstname')">
                <mat-error *ngIf="AccountSettingsForm.controls['firstname'].touched && !AccountSettingsForm.controls['firstname'].valid
           && AccountSettingsForm.controls['firstname'].errors.required">
                    First Name field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter Last Name</mat-label>
                <input matInput placeholder="Last Name" [formControl]="AccountSettingsForm.controls['lastname']"
                    (blur)="inputUntouch(AccountSettingsForm,'lastname')">
                <mat-error *ngIf="AccountSettingsForm.controls['lastname'].touched && !AccountSettingsForm.controls['lastname'].valid
           && AccountSettingsForm.controls['lastname'].errors.required">
                    Last Name field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" [formControl]="AccountSettingsForm.controls['email']"
                    (blur)="inputUntouch(AccountSettingsForm,'email')">
                <mat-error *ngIf="AccountSettingsForm.controls['email'].touched && !AccountSettingsForm.controls['email'].valid
            && AccountSettingsForm.controls['email'].errors.required">
                    E-Mail  can not be blank</mat-error>
                    <mat-error
                    *ngIf="!AccountSettingsForm.controls['email'].valid && !AccountSettingsForm.controls['email'].errors.required">
                    Email is not valid</mat-error>
                    
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Phone </mat-label>
                <input type="number" matInput placeholder="Phone"
                    [formControl]="AccountSettingsForm.controls['phoneno']"
                    (blur)="inputUntouch(AccountSettingsForm,'phoneno')">
                <mat-error *ngIf="AccountSettingsForm.controls['phoneno'].touched && !AccountSettingsForm.controls['phoneno'].valid
            && AccountSettingsForm.controls['phoneno'].errors.required">
                    Phone Number field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date</mat-label>
                <input [value]="date.value" matInput [matDatepicker]="myPicker" placeholder="date">
                <mat-datepicker-toggle matSuffix [for]="myPicker" disabled></mat-datepicker-toggle>
                <mat-datepicker #myPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input type="number" matInput placeholder="ZIP" [formControl]="AccountSettingsForm.controls['zip']"
                    (blur)="inputUntouch(AccountSettingsForm,'zip')">
                <mat-error *ngIf="AccountSettingsForm.controls['zip'].touched && !AccountSettingsForm.controls['zip'].valid
          && AccountSettingsForm.controls['zip'].errors.required">
                    Zip field can not be blank</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" [formControl]="AccountSettingsForm.controls['address']"
                    (blur)="inputUntouch(AccountSettingsForm,'address')">
                <mat-error *ngIf="AccountSettingsForm.controls['address'].touched && !AccountSettingsForm.controls['address'].valid
            && AccountSettingsForm.controls['address'].errors.required">
                    Address field can not be blank</mat-error>
            </mat-form-field>
            <mat-form-field class="parent_cat" appearance="fill">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                    <mat-option [value]=0>Select a category</mat-option>
                    <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="parent_cat" appearance="fill">
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                    <mat-option value=0>Select a category</mat-option>
                    <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                </mat-select>
            </mat-form-field>

            
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput placeholder="type" [formControl]="AccountSettingsForm.controls['type']"
                    (blur)="inputUntouch(AccountSettingsForm,'type')">
                <mat-error *ngIf="AccountSettingsForm.controls['type'].touched && !AccountSettingsForm.controls['type'].valid
           && AccountSettingsForm.controls['type'].errors.required">
                    Type field can not be blank</mat-error>
            </mat-form-field>

            <span class="submit_form">
                <button mat-flat-button type="button" (click)="CancelRedirectToDashboard()"> Cancel </button>
                <button mat-flat-button type="submit" [disabled]="!AccountSettingsForm.valid"> Update </button>
            </span>
        </form>
    </mat-card-content>

</mat-card>