<span class="main_wrapper">
  <span class="img_wrapper">
    <mat-card class="login_wrapper">

      <mat-card-content>
        <div class="login_container">

          <lib-login 
            [fromTitle]="fromTitle"
            [fullUrl]="fullUrl"
            [forgetRouteingUrl]="forgetRouteingUrl"
            [signUpRouteingUrl]='signUpRouteingUrl'
            [routerStatus]="routerStatus" 
            [endpoint]="endpoint" 
            [logo]="logo">
          </lib-login>
        </div>

      </mat-card-content>

    </mat-card>
  </span>
</span>