<!-- Admin Header -->
<app-admin-header></app-admin-header>

<!-- header with add button -->
<mat-card class="admin_wrapper">
    <!-- header with add button -->
    <mat-card-content class="table_wrapper">
        <mat-toolbar class="top_header">
            <h2> Report Not Process : {{reportData.length}} </h2>
        </mat-toolbar>

        <span class="add_header">
      <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Admin</span>
        </span>
        <!-- End header with add button -->

        <!-- table -->
        <!-- <lib-listing class="DataTable" *ngIf="allResloveData.length>0" [datasource]="allResloveData" [skip]="allUserData_skip" [detail_skip_array]="previewModal_skip" [modify_header_array]="allUserData_modify_header" [apiurl]="apiUrl" [sourcedata]="tableName"
            [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status" [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="SearchingEndpoint" [date_search_source]="SearchingSourceName" [search_settings]="search_settings">
        </lib-listing> -->

        <h2 class="no_data" *ngIf="reportData.length == 0">No record found.</h2>
        <!-- end table -->



        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- File Original Name Column -->
            <ng-container matColumnDef="file_original_name">
                <th mat-header-cell *matHeaderCellDef> File Original Name </th>
                <td mat-cell *matCellDef="let element"> {{element.file_original_name}} </td>
            </ng-container>

            <!-- Doctor Name Column -->
            <ng-container matColumnDef="doctor_name" (click)="$event.stopPropagation()">
                <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let element"> {{element.doctor_name}} </td>
            </ng-container>

            <!-- Tech Name Column -->
            <ng-container matColumnDef="tech_name" (click)="$event.stopPropagation()">
                <th mat-header-cell *matHeaderCellDef> Tech Name </th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> {{element.tech_name}} </td>
            </ng-container>

            <!-- Upload time Column -->
            <ng-container matColumnDef="upload_time" (click)="$event.stopPropagation()">
                <th mat-header-cell *matHeaderCellDef (click)="$event.stopPropagation()"> Upload Time </th>
                <td mat-cell *matCellDef="let element"> {{element.upload_time}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action" (click)="$event.stopPropagation()">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element;let i = index;" (click)="$event.stopPropagation()">
                    <mat-button-toggle-group class="margin-small">
                        <mat-button-toggle type="button" (click)="action('retry', element._id, i);">
                            <i class="material-icons"> replay </i>
                        </mat-button-toggle>
                        <mat-button-toggle type="button" (click)="action('delete', element._id, i);">
                            <i class="material-icons"> delete </i>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </table>



        <!-- Admin Footer -->
    </mat-card-content>
</mat-card>



<app-admin-footer></app-admin-footer>