<lib-listing *ngIf="configData.responseData != null && configData.responseData.length > 0"
             [datasource]="configData.responseData"
             [skip]="configData.skipFields"
             [modify_header_array]="configData.modify_header_array"
             [apiurl]="configData.baseUrl"
             [deleteendpoint]="configData.endPoint.deleteEvent"
             [updateendpoint]="configData.endPoint.rescheduleBookedEvent"
             [jwttoken]="configData.jwtToken"
             [date_search_source]="configData.source"
             [date_search_endpoint]="configData.endPoint.listUpcomingBookedEvents"
             [sourcedata]="configData.source"
             [statusarr]="configData.statusarray"
             [url]="configData.custom_link"
             [search_settings]="configData.search_settings"
             [searchendpoint]="configData.endPoint.listUpcomingBookedEvents"
             [sortdata]="configData.sortdata"
             [datacollection]="configData.endPoint.listUpcomingBookedEvents"
             [date_search_source_count]="configData.date_search_source_count"
             [libdata]="configData.libdata"
             [updatetable]="configData.updatetable"
             [limitcond]="configData.limitcond">
</lib-listing>
