<!-- Admin Header -->
<app-admin-header *ngIf="htmlText.user_details.user_type == 'admin'"></app-admin-header>

<app-doctor-header *ngIf="htmlText.user_details.user_type == 'doctor'"></app-doctor-header>

<app-adminbiller-header *ngIf="htmlText.user_details.user_type == 'admin_biller'"></app-adminbiller-header>

<mat-card class="admin_wrapper">
    <mat-card-content class="title_wrapper">Conversation</mat-card-content>

    <mat-card-content class="job_reprt_wrapper" *ngIf="this.htmlText.oldTickets.length > 0">
        <mat-toolbar class="job_reprt_action" *ngIf="htmlText.user_details.user_type != 'doctor'">
            <button mat-raised-button color="primary" (click)="changeStatus('approved');">Approved</button>
            <button mat-raised-button color="primary" (click)="changeStatus('not approved');">Not Approved</button>
        </mat-toolbar>

        <ng-container *ngFor="let ticket of htmlText.oldTickets; let ticketIndex = index;">
            <mat-card class="job_seeker_details">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ ticket.user_name | titlecase }}</mat-card-title>
                    <mat-card-subtitle>{{ ticket.user_type | titlecase }}, Posted on: {{ ticket.created_datetime | date }} ({{ ticket.created_datetime | timeAgo }})
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="report_desc">
                    <p [innerHTML]="ticket.description"></p>
                </mat-card-content>

                <section class="itm">
                    <h2 class="count_n"> Total Attachment: {{ ticket.files.length }}</h2>
                    <mat-toolbar class="report_image_w">
                        <mat-card-content class="image_items" *ngFor="let file of ticket.files; let fileIndex = index;"
                           (deferLoad)="file.show = true">
                            <ng-container *ngIf="file.show">
                                <img style="cursor: pointer;" [defaultImage]="'../../../../../assets/images/image-loader.svg'" [lazyLoad]="file.image_path" />
                                <!-- <img style="cursor: pointer;" [src]="file.image_path" /> -->
                            </ng-container>

                            <ng-container *ngIf="!file.show">
                                <img [src]="'../../../../../assets/images/image-loader.svg'" />
                            </ng-container>

                            <span class="report_action_wrapper">
                                <button mat-button (click)="viewImage(ticketIndex, fileIndex);">preview</button>
                                <button mat-button (click)="downloadAttachment(ticketIndex, fileIndex);">download</button>
                            </span>


                        </mat-card-content>
                    </mat-toolbar>
                </section>
            </mat-card>
        </ng-container>

        <mat-toolbar class="job_reprt_action" *ngIf="htmlText.user_details.user_type != 'doctor'">

            <button style="margin: 4px;" mat-raised-button color="primary"
                (click)="changeStatus('approved');">Approved</button>
            <button style="margin: 4px;" mat-raised-button color="primary" (click)="changeStatus('not approved');">Not
                Approved</button>
        </mat-toolbar>
    </mat-card-content>

    <ng-container *ngIf="this.htmlText.oldTickets.length == 0">
        <p> No record found. </p>
    </ng-container>
</mat-card>


<!-- header with add button -->
<mat-card class="admin_wrapper"
    *ngIf="this.htmlText.oldTickets.length > 0 || htmlText.user_details.user_type != 'doctor'">
    <mat-card-content class="title_wrapper">
        {{ htmlText.header }}
    </mat-card-content>
    <!-- End header with add button -->

    <mat-card class="add_form">
        <mat-card-content class="form_wrapper">
            <ckeditor [(ngModel)]="htmlText.ckEditorValue"></ckeditor>
            <span style="color: red;" *ngIf="htmlText.ckeditorError">Write your description.</span>

            <lib-file-upload [config]="configData" class="file_upload"></lib-file-upload>

            <span class="submit_form">
                <button mat-flat-button type="button" (click)="createJobTickets();"> {{ htmlText.buttonText }} </button>

                <ng-container *ngIf="htmlText.user_details.user_type == 'admin'">
                    <button mat-flat-button type="button" [routerLink]="['/admin/dashboard']"> Back</button>
                </ng-container>

                <button mat-flat-button type="reset" *ngIf="params_id == ''">Reset</button>
            </span>

        </mat-card-content>
    </mat-card>

</mat-card>


<app-tech-footer></app-tech-footer>