<!-- Admin Header -->
<app-admin-header *ngIf="htmlText.user_details.user_type == 'admin'"></app-admin-header>

<app-doctor-header *ngIf="htmlText.user_details.user_type == 'doctor'"></app-doctor-header>

<app-adminbiller-header *ngIf="htmlText.user_details.user_type == 'admin_biller'"></app-adminbiller-header>

<mat-card class="admin_wrapper">
    <mat-card-content class="title_wrapper">Conversation</mat-card-content>

    <ng-container *ngIf="this.htmlText.oldTickets.length > 0">
        <ng-container *ngIf="htmlText.user_details.user_type != 'doctor'">
            <button style="margin: 4px;" mat-raised-button color="primary" (click)="changeStatus('approved');">Approved</button>
            <button style="margin: 4px;" mat-raised-button color="warn" (click)="changeStatus('not approved');">Not Approved</button>
        </ng-container>
        
        <ng-container *ngFor="let ticket of htmlText.oldTickets; let ticketIndex = index;">
            <mat-card style="margin: 6px;" class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ ticket.user_name }}</mat-card-title>
                    <mat-card-subtitle>{{ ticket.user_type }}, Posted on: {{ ticket.created_datetime | date }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p [innerHTML]="ticket.description"></p>
                </mat-card-content>

                <mat-grid-list [cols]="ticket.files.length" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let file of ticket.files; let fileIndex = index;" (click)="viewImage(ticketIndex, fileIndex);">
                        <img style="cursor: pointer;" [src]="file.basepath + file.fileservername" />
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </ng-container>

        <ng-container *ngIf="htmlText.user_details.user_type != 'doctor'">
            <button style="margin: 4px;" mat-raised-button color="primary" (click)="changeStatus('approved');">Approved</button>
            <button style="margin: 4px;" mat-raised-button color="warn" (click)="changeStatus('not approved');">Not Approved</button>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="this.htmlText.oldTickets.length == 0">
        <mat-card class="example-card">
            <mat-card-content>
                <p> No record found. </p>
            </mat-card-content>
        </mat-card>
    </ng-container>
</mat-card>


<!-- header with add button -->
<mat-card class="admin_wrapper" *ngIf="this.htmlText.oldTickets.length > 0 || htmlText.user_details.user_type != 'doctor'">
    <mat-card-content class="title_wrapper">
        {{ htmlText.header }}
    </mat-card-content>
    <!-- End header with add button -->

    <mat-card class="add_form">
        <mat-card-content class="form_wrapper">
            <ckeditor [(ngModel)]="htmlText.ckEditorValue"></ckeditor>
            <span style="color: red;" *ngIf="htmlText.ckeditorError">Write your description.</span>

            <lib-file-upload [config]="configData" class="file_upload"></lib-file-upload>

            <span class="submit_form">
                <button mat-flat-button type="button" (click)="createJobTickets();"> {{ htmlText.buttonText }} </button>

                <ng-container *ngIf="htmlText.user_details.user_type == 'admin'">
                    <button mat-flat-button type="button" [routerLink]="['/admin/dashboard']"> Back</button>
                </ng-container>

                <button mat-flat-button type="reset" *ngIf="params_id == ''">Reset</button>
            </span>

        </mat-card-content>
    </mat-card>

</mat-card>


<app-tech-footer></app-tech-footer>