.add_header { display: flex; margin: 0 16px; }
.add_header button { margin-left: auto; background: linear-gradient(180deg, #fac855, #e47e2a)!important; text-transform: uppercase; font-family: "RobotoBlack"; padding-top: 4px; }

@media screen and (max-width: 480px) {
  .doctor_content_wrapper .mat-card-title { font-size: 24px; }
  .patient_report_section .patient_top_search h1 { font-size: 24px; }
  .add_header { display: flex; margin: 0 16px; flex-direction: column; justify-content: center; align-items: center; }
  .add_header button { margin-left: 0; margin: 10px 0 0 0; }
}
