<!-- Admin Header -->
<app-admin-header></app-admin-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="table_wrapper">
    <mat-toolbar class="top_header">
      <h2> Manage doctor </h2>
    </mat-toolbar>

    <mat-toolbar class="add_header">
      <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Doctor</span>
      <button mat-flat-button [routerLink]="['/admin/doctor-management/add']">Add Doctor</button>
    </mat-toolbar>
    <!-- End header with add button -->

    <!-- Listing goes here  -->
    <lib-listing class="DataTable" *ngIf="docData.length>0" [datasource]="docData" [skip]="docData_skip"
      [modify_header_array]="docData_modify_header" [sourcedata]="tableName" [detail_skip_array]="previewModal_skip"
      [apiurl]="apiUrl" [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="searchingEndpoint"
      [date_search_source]="searchSourceName" [search_settings]="search_settings">

    </lib-listing>

    <h2 *ngIf="docData.length == 0">No record found.</h2>
    <!-- Listing ends here  -->
  </mat-card-content>
</mat-card>

<!-- Admin Footer -->
<app-admin-footer></app-admin-footer>