<app-tech-header></app-tech-header>

<mat-card class="admin_wrapper">
  <!-- header with add button -->
  <mat-card-content class="title_wrapper">
    my appoinments
  </mat-card-content>
  <mat-toolbar class="add_header">

    <span class="bradcrumb"><a [routerLink]="['/tech/dashboard']">Dashboard &nbsp;/</a> &nbsp;
      Appoinments</span>
  </mat-toolbar>
  <!-- End header with add button -->

  <lib-booked-event-listing [configData]="configData"></lib-booked-event-listing>
</mat-card>

<app-admin-footer></app-admin-footer>
