<app-admin-header></app-admin-header>

<mat-card-content class="content_wrapper">
  <mat-card-content class="itemsection one">
    <span class="counteer"> {{ doctorCount }} </span>
    <p>Total Number of Doctors</p>
    <button mat-flat-button type="button" [routerLink]="['/admin/doctor-management']">View Details</button>
  </mat-card-content>
  <mat-card-content class="itemsection two">
    <span class="counteer"> {{ billerCount }}</span>
    <p>Total Number of Billers</p>
    <button mat-flat-button type="button" [routerLink]="['/admin/biller-management']">View Details</button>
  </mat-card-content>
  <mat-card-content class="itemsection three">
    <span class="counteer"> {{ techCount }} </span>
    <p>Total Number of Techs</p>
    <button mat-flat-button type="button" [routerLink]="['/admin/tech-management']">View Details</button>
  </mat-card-content>
</mat-card-content>



<mat-card-content class="admin_superbillsection">
  <h1>Physician Report and Super Bills</h1>
  <mat-card-content class="biller_wrapper">
    <mat-card-content class="super_bill_item sp_one">
      <span class="border_wrapper">
        <mat-card-content class="circle">
          <img src="../../../../assets/images/admincircle_icon1.png">
        </mat-card-content>
      </span>
      <span>
        <h2> {{ uploadedStatusCount }} </h2>
        <p>Total No of <br>
          Reports Uploaded
        </p>
        <button mat-flat-button (click)="viewReportProcessData('Reports Uploaded')">view all</button>
      </span>

    </mat-card-content>
    <mat-card-content class="super_bill_item sp_two">
      <span class="border_wrapper">
        <mat-card-content class="circle">
          <img src="../../../../assets/images/admincircle_icon2.png">
        </mat-card-content>
      </span>
      <span>
        <h2> {{ processedStatusCount }} </h2>
        <p>Total No of <br>
          Report Processed
        </p>
        <button mat-flat-button (click)="viewReportProcessData('Report Processed')">view all</button>
      </span>

    </mat-card-content>
    <mat-card-content class="super_bill_item sp_three">
      <span class="border_wrapper">
        <mat-card-content class="circle">
          <img src="../../../../assets/images/admincircle_icon3.png">
        </mat-card-content>
      </span>
      <span>
        <h2> {{ signedStatusCount }} </h2>
        <p>Total No of <br>
          Report Signed
        </p>
        <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
      </span>

    </mat-card-content>
    <mat-card-content class="super_bill_item sp_four">
      <span class="border_wrapper">
        <mat-card-content class="circle">
          <img src="../../../../assets/images/admincircle_icon4.png">
        </mat-card-content>
      </span>
      <span>
        <h2> {{ billerStatusCount }} </h2>
        <p> Sent to <br>
          Super Bill
        </p>
        <button mat-flat-button (click)="viewReportProcessData('Super Bill')">view all</button>
      </span>

    </mat-card-content>
  </mat-card-content>
</mat-card-content>


<mat-card-content class="admin_table" *ngIf="commonArray.length > 0">
  <mat-toolbar class="top_header">
    <h2>{{ headerText }}</h2>
  </mat-toolbar>

  <mat-toolbar class="action_bar">

    <!-- <mat-form-field>
      <input matInput placeholder="Search by Doctor" (keyup)="filterByName({ 'doctorName_regex': $event.target.value })" >
    </mat-form-field> -->
    <mat-form-field>
      <input matInput placeholder="Search by Patient"
        (keyup)="filerByReports('patientName_regex', $event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Search by Tech Name"
        (keyup)="filerByReports( 'techname_regex' , $event.target.value )">
    </mat-form-field>
    <mat-form-field class="parent_cat">
      <mat-select placeholder="Search By Status" (selectionChange)="filerByReports('status_regex' , $event.value )">
        <mat-option value=0>Select a status</mat-option>
        <mat-option value="waiting for doctor sign">Waiting For Doctor Sign</mat-option>
        <mat-option value="doctor signed">Doctor Signed</mat-option>
        <mat-option value="send to biller">Send To Biller</mat-option>
        <mat-option value="error">Error</mat-option>
        <mat-option value="pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- date search start here -->
    <ng-container>
      <span class="date-range">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </span>
      <button mat-raised-button color="primary" class="add_button" style="margin:
  0!important; margin-left: 10px!important;" (click)="dateReportsRangeSearch();">Search</button>
    </ng-container>
    <!--date search end here  -->

  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="patientName">
      <th mat-header-cell *matHeaderCellDef> Patient Name. </th>
      <td mat-cell *matCellDef="let element" data-label="patient Name"> {{ element.patientName }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="record_type">
      <th mat-header-cell *matHeaderCellDef> Record Type </th>
      <td mat-cell *matCellDef="let element" data-label="Record type"> {{ element.record_type }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="date_added">
      <th mat-header-cell *matHeaderCellDef> Date Added </th>
      <td mat-cell *matCellDef="let element" data-label="Date Added"> {{ element.date_added }} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="record">
      <th mat-header-cell *matHeaderCellDef> Record </th>
      <td mat-cell *matCellDef="let element" data-label="record"> {{ element.record }} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="techName">
      <th mat-header-cell *matHeaderCellDef> Tech Name </th>
      <td mat-cell *matCellDef="let element" data-label="techName"> {{ element.techName }} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" data-label="Status"> <span>{{ element.status }} </span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card-content>


<!-- All Data listing start here(default listing) -->
<mat-card-content class="admin_table" *ngIf="commonArray.length == 0">

  <mat-toolbar class="top_header">
    <h2> Patient Record Report </h2>
    <button class="add_new" mat-button  >Add new Patient</button>
  </mat-toolbar>

  <mat-toolbar class="action_bar">

    <mat-form-field>
      <input matInput placeholder="Search by Doctor" (keyup)="filterByName('doctorName_regex', $event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Search by Patient" (keyup)="filterByName('patientName_regex', $event.target.value)">
    </mat-form-field>
    <mat-form-field class="parent_cat">
      <mat-select placeholder="Search By Status" (selectionChange)="filterByName('status_regex', $event.value)">
        <mat-option value=0>Select a status</mat-option>
        <mat-option value="waiting for doctor sign">Waiting For Doctor Sign</mat-option>
        <mat-option value="doctor signed">Doctor Signed</mat-option>
        <mat-option value="send to biller">Send To Biller</mat-option>
        <mat-option value="error">Error</mat-option>
        <mat-option value="pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container>
      <span class="date-range">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </span>
      <button mat-raised-button color="primary" class="add_button" (click)="dateRangeSearch()">Search</button>
    </ng-container>

  </mat-toolbar>

  <table mat-table [dataSource]="allDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
    </ng-container>

    <ng-container matColumnDef="patientNamecopy">
      <th mat-header-cell *matHeaderCellDef> Patient Name. </th>
      <td mat-cell *matCellDef="let element" data-label="Patient Name"> {{ element.patientNamecopy }} </td>
    </ng-container>

    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef> Doctor Name</th>
      <td mat-cell *matCellDef="let element" data-label="Doctor Name"> {{ element.doctorName }} </td>
    </ng-container>

    <ng-container matColumnDef="billerName">
      <th mat-header-cell *matHeaderCellDef> Biller Name</th>
      <td mat-cell *matCellDef="let element" data-label="Biller Name"> {{ element.billerName }} </td>
    </ng-container>

    <ng-container matColumnDef="record">
      <th mat-header-cell *matHeaderCellDef> Record</th>
      <td mat-cell *matCellDef="let element" data-label="Record"> {{ element.record }} </td>
    </ng-container>

    <ng-container matColumnDef="billGenerationDate">
      <th mat-header-cell *matHeaderCellDef> Bill Generation Date</th>
      <td mat-cell *matCellDef="let element" data-label="Bill Generation Date"> {{ element.billGenerationDate }} </td>
    </ng-container>

    <ng-container matColumnDef="techName">
      <th mat-header-cell *matHeaderCellDef> Tech Name</th>
      <td mat-cell *matCellDef="let element" data-label="Tech Name"> {{ element.techName }} </td>
    </ng-container>

    <ng-container matColumnDef="billSentDate">
      <th mat-header-cell *matHeaderCellDef> Bill SentDate</th>
      <td mat-cell *matCellDef="let element" data-label="Bill Sent Date"> {{ element.billSentDate }} </td>
    </ng-container>

    <ng-container matColumnDef="superBill">
      <th mat-header-cell *matHeaderCellDef> Super Bill</th>
      <td mat-cell *matCellDef="let element" data-label="Super Bill"> {{ element.superBill }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date</th>
      <td mat-cell *matCellDef="let element" data-label="Date"> {{ element.date }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element" data-label="Status"> {{ element.status }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allDataColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: allDataColumns;let i = index"></tr>
  </table>

   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card-content>
<!-- dashboard all listing end here -->


<app-admin-footer></app-admin-footer>
