<app-admin-header></app-admin-header>

<mat-card class="admin_wrapper">


  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/majorDC_icon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_major_doctor }}</h4>
          <span class="tolTip">
            <a mat-raised-button #major_doctor="matTooltip"
              matTooltip="The total number of independent doctors registered under the Admin" matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="major_doctor.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br> Major Doctors</p>
        <button mat-button [routerLink]="['/admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.total_biller }}</h4>
          <span class="tolTip">
            <a mat-raised-button #total_biller="matTooltip"
              matTooltip="The data listed for the total number of billers registered under Admin, Distributor, Doctor’s Group Admin, and Diagnostic Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="total_biller.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Billers</p>
        <button mat-flat-button [routerLink]="['/admin/biller-management']">View Details</button>
      </span>
    </mat-card-content>
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/techIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.total_tech }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TotalTechsS="matTooltip"
              matTooltip=" The data listed for the total number of registered techs under Admin, Distributor, Doctor’s Group Admin, and Diagnostic Admin. "
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TotalTechsS.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Techs</p>
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content> 
  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/distributorIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.total_distributor }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TotalDistributor="matTooltip"
              matTooltip="The data listed for the total number of doctor’s offices registered under Admin, Distributor, Doctor’s Group Admin, and Diagnostic Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TotalDistributor.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br> Distributor</p>
        <button mat-button [routerLink]="['/admin/distributors-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/groupadminIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.total_doctors_group_admin }}</h4>
          <span class="tolTip">
            <a mat-raised-button #DoctorsGroupAdmin="matTooltip"
              matTooltip="The data listed for the total number of Doctor’s Group Admin added by the Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="DoctorsGroupAdmin.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Doctors Group Admin</p>
        <button mat-flat-button [routerLink]="['/admin/doctor-management/group']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerAdminIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_biller_admin }}</h4>
          <span class="tolTip">
            <a mat-raised-button #BillerAdmin="matTooltip"
              matTooltip="The data listed for the total number of billers added" matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="BillerAdmin.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Biller Admin</p>
        <button mat-flat-button [routerLink]="['/admin/adminbiller-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content> 
  <mat-card-content class="content_wrapper">
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/doctorOfficeIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.total_doctor_office }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TotalDoctorOffice="matTooltip"
              matTooltip="The data listed for the total number of Doctor’s Office added by the Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TotalDoctorOffice.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total No of <br>Doctor's Office</p>
        <button mat-button [routerLink]="['/admin/doctor-office-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/diagnosticAdminIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_diagnostic_admin }}</h4>
          <span class="tolTip">
            <a mat-raised-button #DiagnosticAdmin="matTooltip"
              matTooltip="The data listed for the total number of Diagnostic Admin added by the Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="DiagnosticAdmin.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total No of <br>Diagnostic Admin</p>
        <button mat-button [routerLink]="['/admin/diagnostic-admin-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/totalDoctorIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_parent_doctor }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TotalNoDoctors="matTooltip"
              matTooltip="The data listed for the total number of doctors registered under the Admin, Distributor, Doctor’s Group Admin, and Diagnostic Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TotalNoDoctors.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total No of <br>Doctors</p>
        <button mat-button [routerLink]="['/admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content> 
  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/salesPersonIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_sales_person }} </h4>
          <span class="tolTip">
            <a mat-raised-button #TotalSalesPerson="matTooltip"
              matTooltip="The data listed for the total number of Sales Persons registered under the Admin, Distributor, and Diagnostic Admin."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TotalSalesPerson.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Sales Person</p>
        <button mat-flat-button [routerLink]="['/admin/sales-person-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/appointmentsPendingIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_appointments_pending }}</h4>
          <span class="tolTip">
            <a mat-raised-button #AppointmentsPending="matTooltip"
              matTooltip="The data listed for the number of patient appointments pending" matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="AppointmentsPending.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>
        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Appointments<br> Pending</p>
        <button mat-flat-button [routerLink]="['/admin/booked-appoinments/pending']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/appointmentsCompletedIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_appointments_completed }}</h4>
          <span class="tolTip">
            <a mat-raised-button #AppointmentsCompleted="matTooltip"
              matTooltip="The data listed for the total number of patient appointments completed by the doctor."
              matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="AppointmentsCompleted.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Appointments<br> Completed</p>
        <button mat-flat-button [routerLink]="['/admin/booked-appoinments/completed']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content>


  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>Physician Report and Super Bills</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports Added
          </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_reports }} </h2>

            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #ReportsAdded="matTooltip"
                matTooltip="The data listed for the total number of reports added by the biller."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="ReportsAdded.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Reports Uploaded')">view all</button>
        </span> 
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Report Processed
          </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_reports - allResolveData.total_pdf_to_images_not_process }} </h2>
            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #reportsProcessed="matTooltip"
                matTooltip="The data listed for the total number of reports processed by the system."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="reportsProcessed.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Report Processed')">view all</button>
        </span>

      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total No of <br>
            Report Signed
          </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_sign_reports }} </h2>
            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #reportSigned="matTooltip"
                matTooltip="The data listed for the total number of reports signed by the doctors."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="reportSigned.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
        </span>


      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Sent to <br>
            Biller
          </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_send_to_supar_biller_reports }} </h2>
            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #sentBiller="matTooltip"
                matTooltip="The data listed for the total no. of reports sent to the billers."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="sentBiller.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Super Bill')">view all</button>
        </span>


      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Downloaded </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_reports_download }} </h2>
            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #reportsDownloaded="matTooltip"
                matTooltip=" The data listed for the no. of reports that are downloaded." matTooltipPosition="above"
                aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="reportsDownloaded.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Download Bill')">view all</button>
        </span>



      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Pending Sing </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_not_sign_reports }} </h2>
            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #reportsPending="matTooltip"
                matTooltip="The data listed for the total no. of reports that are yet to be signed by the doctors."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="reportsPending.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Reports Pending Sing')">view all</button>
        </span>



      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Job Tickets Created </p>
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_job_tickets }} </h2>
            <!-- tool tip -->
            <span class="tolTip">
              <a mat-raised-button #JobTicketsCreated="matTooltip"
                matTooltip="The data listed for the total no. of reports that have job tickets added."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="JobTicketsCreated.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Job Tickets')">view all</button>
        </span>

      </mat-card-content>
    </mat-card-content>
  </mat-card-content>

  <app-doctor-signup-share [shareDetails]="shareDetails"></app-doctor-signup-share>


  <!-- All Data listing start here(default listing) -->
  <mat-card-content class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Patient Reports Pending Actions</h1>
        <span class="tolTip">
          <a mat-raised-button #pendingActions="matTooltip"
            matTooltip=" All the Reports listed here are processed by System but awaiting on Admin actions."
            matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="pendingActions.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>

      </span>
    </mat-card-content>

    <!-- table -->
    <lib-listing class="DataTable" *ngIf="allBillerData.length>0" [datasource]="allBillerData" [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" [detail_skip_array]="previewModal_detail_skip" [apiurl]="apiUrl"
      [sourcedata]="tableName" [editroute]="editUrl" [jwttoken]="jwtToken" [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" [search_settings]="search_settings" [sortdata]="sortdata"
      [datacollection]="datacollection" [libdata]="libdata" [date_search_source_count]="billerData_count"
      [limitcond]="limitcond">
    </lib-listing>

  </mat-card-content>
  <!-- dashboard all listing end here -->


  <!-- All Data listing start here(default listing) -->
  <mat-card-content class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Admin Processed Reports</h1>
        <span class="tolTip">
          <a mat-raised-button #processedReports="matTooltip"
            matTooltip="All the Reports listed here are reviewed by Admin." matTooltipPosition="above"
            aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="processedReports.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>
    <app-approved-patient-reports></app-approved-patient-reports>

  </mat-card-content>
  <!-- dashboard all listing end here -->


  <!-- All Data listing start here(default listing) -->
  <mat-card-content id="jobTickets" class="table_wrapper admin_dashboard">

    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Patient Reports with Job Tickets</h1>
        <span class="tolTip">
          <a mat-raised-button #JobTickets="matTooltip"
            matTooltip="All the Reports listed here are on Hold for further clarification from Doctor through job tickets."
            matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="JobTickets.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>
    
    <app-job-ticket-patient-reports></app-job-ticket-patient-reports>

  </mat-card-content>
  <!-- dashboard all listing end here -->

  <app-admin-footer></app-admin-footer>