/* header css */
.techdashboard_header .mat-toolbar-row{ height: auto; }
.techdashboard_header .mat-toolbar-row .logo_wrapper{ max-width: 200px; display: block; }
.techdashboard_header .mat-toolbar-row .logo_wrapper img{ max-width: 100%; vertical-align: middle; }
.techdashboard_header .mat-toolbar-row{ justify-content: space-between; padding: 0 40px;}
.techdashboard_header .mat-toolbar-row .quotation { margin-bottom: 0px;}
.techdashboard_header .mat-toolbar-row .quotation p{ font-family: "RobotoMedium"; font-size: 30px; color: #002035; text-transform: uppercase; margin: 0; }
.techdashboard_header .mat-toolbar-row .profile_section { display: flex; border-left: 1px solid #e2dede; padding-left: 20px; }
.techdashboard_header .mat-toolbar-row .profile_section .username{ padding-right: 20px; display: block; }


.techdashboard_header .mat-toolbar-row .quotation .mat-list-base{ display: flex;}
.techdashboard_header .mat-toolbar-row .quotation .mat-list-base .mat-list-item:after{ content:""; width:2px; height: 80px; background: red;}
.active{ color: #c18500!important; }
.techdashboard_header .mat-toolbar-row .quotation .mat-nav-list .mat-list-item { margin: 0 16px; }

/*End header css */
.content_wrapper{ display: flex; justify-content: space-between;  align-items: center; width: 100%; margin: auto; text-align: center; }
.content_wrapper .itemsection{width: 33%;
  margin: 0px 7px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  border: 1px solid #e8e9ef;  overflow: hidden;  }
  .content_wrapper .itemsection .button_wrapper{ background: #4d545a; width: 23%;
    display: flex;
    align-items: center;
    justify-content: center; }

    .content_wrapper .itemsection .icon{  display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 22%;
      box-sizing: border-box;}
    .content_wrapper .itemsection .button_wrapper button{     width: auto;
      background: transparent;
      color: #fff;
      padding: 0;
      font-family: "AvenirMedium";
      font-size: 15px;
}
.content_wrapper .itemsection .counteer { box-sizing: border-box; width: 55%; padding: 5px; text-align: left; }
.content_wrapper .itemsection .counteer .dataCount{ font-size: 48px; font-family: "AvenirBlack";  color: #4d545a; margin: 0;}
.content_wrapper .itemsection .counteer .doctorNumber{ font-size: 18px; font-family: "AvenirMedium";  color: #4d545a; margin:0;}

.content_wrapper .itemsection:nth-child(3n+1){ margin-left: 0;}
.content_wrapper .itemsection:nth-child(3n+3){ margin-right: 0;}

.doctor_content_wrapper{
  background: url("../../../../assets/images/doctorcontentbg.jpg") no-repeat center center;
  background-size: cover; display: block; padding: 50px 40px; margin: 0 16px;
}

.doctor_content_wrapper .mat-card-title{  font-size: 40px; font-family: "RobotoBlack"; text-transform: uppercase; color: #fff; margin-bottom: 30px;
  display: block;}
.doctor_content_wrapper .table_structure{ width: 1080px; display: block;}
.doctor_content_wrapper table{ width: 100%;}
/* .doctor_content_wrapper table tr th{ color: #5aa8ed; font-size: 30px; font-family: "RobotoMedium"; font-weight: normal; text-transform: uppercase; }
.doctor_content_wrapper table tr td{ color: #fff; font-size: 24px; font-family: "RobotoRegular";  text-transform: uppercase; } */
.table_structure .mat-list mat-list-base { display: flex; }
.table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: inline-flex;
  height: auto;
  -webkit-tap-highlight-color: transparent;
  width: auto;
  padding: 0;color: #fff; border-right: 1px solid #044f82;
}
.table_structure .mat-list-base .mat-list-item:nth-last-child(1){ border: none;}

.table_structure .mat-list-item p{ display: block; width: 100%; margin: 0; }

.table_structure .mat-list-item .title_n{ color: #5aa8ed; font-size: 30px; font-family: "RobotoMedium"; font-weight: normal; text-transform: uppercase;  }
.table_structure .mat-list-item .title_a{ color: #fff; font-size: 24px; font-family: "RobotoRegular";  text-transform: uppercase; }
.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #012035;
}
.patient_report_section  .form_wrapper{ display: flex; margin: 0 10px;}
.patient_report_section  .form_wrapper .mat-form-field-flex{ border: 1px solid #000!important; }
.patient_report_section  .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0!important;
}
.patient_report_section .patient_top_search { display: flex; align-items: center; justify-content: space-between; padding: 0 16px; margin-top: 20px; margin-bottom: 0;}
.patient_report_section .patient_top_search .search_bar { display: flex;  }
.patient_report_section .patient_top_search .search_bar button{
  border: none;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center; cursor: pointer;
}

.patient_report_section .patient_top_search h1{ font-size: 32px; text-transform: uppercase;  color: #002035; margin: auto;}
.patient_report_section .patient_top_search .search_bar button:focus{ outline: none; }
.patient_report_section .button_action button{  border-radius: 5px;
  background: linear-gradient(180deg, #f9dc19, #daa505);
  color: #5e3619;
  text-transform: uppercase;
  font-family: "RobotoBlack";
  font-size: 25px;
  padding: 10px;
  width: 515px;    border: 3px solid #d59d01; }

  .patient_report_section .button_action{
  display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: auto;

}

/* table section */
.top_header{ background: #f5ba4f; align-items: center; display: flex; justify-content: space-between; }
.top_header .add_new{ background: #f3f3f3; border-radius: 0; font-size: 20px; text-transform: uppercase; padding: 5px 20px; font-family: "RobotoBold"; }
.top_header h2{ margin: 0; font-size: 40px; color: #1f1f1f; font-family: "RobotoBold"; text-transform: uppercase; }
.admin_superbillsection {display: block; }
.admin_superbillsection h1{ font-size: 20px;
  font-family: 'AvenirMedium';
  color: #535353;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #9c9c9c;
  padding-bottom: 6px; }
.admin_superbillsection .biller_wrapper  { display: flex; justify-content: center;}
.admin_superbillsection .biller_wrapper .super_bill_item{ width: 24%; margin: .5%; padding:0px; display: flex;  }
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(1){ background: #4099ff;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(2){ background: #ab8ce4;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(3){ background: #26c6da;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(4){ background: #ff5370;}
.admin_superbillsection .biller_wrapper .super_bill_item span{display: flex; flex-direction: column; align-items: self-end; width: 83%; box-sizing: border-box; padding: 16px 5px; padding-right: 34px;}
.admin_superbillsection .biller_wrapper .super_bill_item span h2{ color: #fff; font-size: 60px; text-transform: uppercase; font-family: 'RobotoBlack'; margin: 0;}
.admin_superbillsection .biller_wrapper .super_bill_item span P{ color: #fff;
  font-size: 24px;
  font-family: 'AvenirMedium';
  margin: 0;
  margin-bottom: 16px;
  text-shadow: 1px 1px 0px #dadada;}
.admin_superbillsection .biller_wrapper .super_bill_item span button{ color: #fff; font-size: 16px; text-transform: uppercase; font-family: 'RobotoRegular'; background: rgba(0,0,0,.3);
  border-radius: 00; line-height: 32px; margin-top: auto; }
.admin_superbillsection .biller_wrapper .super_bill_item .border_wrapper{ width: 20%;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;}

.admin_superbillsection .biller_wrapper .super_bill_item .border_wrapper .circle img{ max-width: 100%;}



/* searches */
.admin_table .action_bar{ height: auto; justify-content: space-between;}



@media screen and (max-width: 1700px){
  .content_wrapper .itemsection p { font-size: 26px; }
  .one, .two, .three { background-position: 100% center; }
}
@media screen and (max-width: 1680px){
  .techdashboard_header .mat-toolbar-row .quotation p { font-size: 24px; }
}
@media screen and (max-width: 1500px){
  .techdashboard_header .mat-toolbar-row .quotation p { font-size: 22px; }
  .content_wrapper .itemsection { padding-bottom: 36px; }
}
@media screen and (max-width: 1440px){
  .content_wrapper .itemsection p { line-height: 26px; font-size: 24px;}

}

@media screen and (max-width: 1400px){
.techdashboard_header .mat-toolbar-row .quotation p { font-size: 20px; text-align: center; line-height: 22px; white-space: normal; }
.techdashboard_header .mat-toolbar-row { padding: 0 20px; }
}

@media screen and (max-width: 1240px){
  .doctor_content_wrapper{ background: #012035; }
}
@media screen and (max-width: 1199px){
.doctor_content_wrapper .table_structure { width: 100%;  }
.patient_report_section .button_action { width: 970px; }
.patient_report_section .button_action button { width: 475px; font-size: 20px; padding: 8px; }
.content_wrapper { display: flex; justify-content: center; align-items: center; text-align: center; flex-wrap: wrap; }
.content_wrapper .itemsection { width: 31%; margin: 15px 12px; }
.doctor_content_wrapper { padding: 40px 30px; }
.doctor_content_wrapper .mat-card-title { font-size: 36px; margin-bottom: 20px; }

.table_structure .mat-list-item .title_n { font-size: 26px; }
.table_structure .mat-list-item .title_a { font-size: 22px; }
.content_wrapper .itemsection p{ width: 100%; font-size: 20px; padding: 0; box-sizing: border-box; }
.techdashboard_header .mat-toolbar-row { height: auto; flex-direction: column; }
.admin_superbillsection .biller_wrapper{ display: flex; justify-content: center; flex-wrap: wrap; }
.admin_superbillsection  .biller_wrapper .super_bill_item  { width: 49%; }
}

@media screen and (max-width: 1080px){
.doctor_content_wrapper {
    padding: 40px 20px;
}
.doctor_content_wrapper .mat-card-title {
  font-size: 32px;
  margin-bottom: 20px;
}
.table_structure .mat-list-item .title_n {
  font-size: 22px;
}
.table_structure .mat-list-item .title_a {
  font-size: 20px;
}
}
@media screen and (max-width: 1038px){
.content_wrapper .itemsection { width: 30.9%;  }
}

@media screen and (max-width: 991px){
.doctor_content_wrapper { text-align: center; }
.patient_report_section .patient_top_search { display: flex; align-items: center; flex-direction: column; }
.patient_report_section .patient_top_search .search_bar { margin-bottom: 20px; }
.patient_report_section .button_action button { padding: 8px 30px; margin: 0 10px; width: 100%;}
.patient_report_section .button_action { width: auto; margin: 0 5px; display: flex; justify-content: center; }
.content_wrapper .itemsection { width: 30.8%; }
.table_structure .mat-list-item .title_a { font-size: 16px; }
.techdashboard_header .mat-toolbar-row .quotation { display: none; }
.techdashboard_header .mat-toolbar-row .quotation .mat-list-base { display: block;}
.content_wrapper .itemsection { margin: 15px 10px; }
.admin_superbillsection h1 { font-size: 30px; font-family: 'RobotoBlack'; color: #002035; text-transform: uppercase; margin-bottom: 10px; margin-top: 20px; }
.content_wrapper .itemsection p{ font-size: 18px; }
.admin_table .action_bar { justify-content: space-between; flex-wrap: wrap; }
}
@media screen and (max-width: 970px){
.patient_report_section .button_action button { width: auto; }
.table_structure .mat-list-item .title_n { font-size: 18px; }

.one { background: linear-gradient(100deg, #f9c856, #dd671d); }
.two { background: linear-gradient(100deg, #0973d1, #05335a); }
.three { background: linear-gradient(100deg, #44cf80, #26a555); }
}
@media screen and (max-width: 950px){
  .content_wrapper .itemsection {
    width: 30.8%;
}
  .content_wrapper .itemsection p { font-size: 20px; }
  .table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {  margin-bottom: 16px; }
}


@media screen and (max-width: 850px){
.content_wrapper .itemsection { width: 30.2%; }
/* hiding searchbar */
.patient_report_section .patient_top_search .search_bar {
  margin-bottom: 20px;
  display: none;
}

.techdashboard_header .mat-toolbar-row {
  padding: 0 16px;
  flex-direction: column;
}


}

@media screen and (max-width: 768px){
.content_wrapper .itemsection { width: 100%; margin: 16px; margin-bottom: 0; }
.content_wrapper .itemsection:nth-last-child(1) {margin-bottom: 16px; }
.patient_report_section .button_action { display: flex; justify-content: center; flex-direction: column; }
.patient_report_section .button_action button { margin-bottom: 16px; word-break: break-word; white-space: normal; line-height: 22px; }
.techdashboard_header .mat-toolbar-row { padding: 0 16px; }
.techdashboard_header .mat-toolbar-row .quotation p { margin: 16px 0; }
.doctor_content_wrapper { padding: 20px 0px; }
.table_structure .mat-list-item .title_a { font-size: 14px; }
.doctor_content_wrapper .mat-card-title { font-size: 28px; margin-bottom: 5px; text-align: left; padding: 0 16px; }
.table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option { margin-bottom: 16px; }
.footer_section .footer_content { width: auto; }
.table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option { display: flex; text-align: left; }
.admin_superbillsection  .biller_wrapper .super_bill_item  { width: 100%; }
.content_wrapper { width: 100%; }
.admin_superbillsection h1 { text-align: center;}
.admin_superbillsection .biller_wrapper .super_bill_item span P br{ display: none;}
}
@media screen and (max-width: 480px){
.doctor_content_wrapper .mat-card-title { font-size: 24px; }
.patient_report_section .patient_top_search h1 { font-size: 24px; }
}
