.health_risk_report {
  width: 70%;
  margin: 26px auto;
  display: block;
  background: #f3f3f3;
  box-sizing: border-box;
}

.health_risk_report table {
  width: 100%;
  border-collapse: collapse;
}

.health_risk_report th {
  height: 50px;
}

.health_risk_report table, th, td {
  padding: 0 10px;
  border: 1px solid #adadad;
}

.health_risk_report table tr:nth-child(1) th {
  border: none;
}

.health_risk_report table input[type="text"], input[type="date"] {
  height: 50px;
  border: none;
  padding: 0 10px;
}

.health_risk_report table .order_input {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1.4px solid #000!important;
}

.area_header {
  width: 100%;
}

.area_content {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
}

.gender_label {
  display: flex;
}

.ordering_phy {
  text-align: right;
  font-weight: 500;
}

.rm_phy {
  text-align: center;
  font-weight: 500;
}

.fifty_width {
  width: 50%;
}

.health_risk_report table input:focus, textarea:focus {
  outline: none;
}

@media screen and (max-width: 1440px) {
  .health_risk_report {
    width: 90%;
  }
}
