<app-diagnostic-admin-header></app-diagnostic-admin-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/totalDoctorIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_doctor }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TNDoctors="matTooltip" matTooltip="Data listed for the total number of doctors registered under the logged in Diagnostic Admin." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNDoctors.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Doctors</p>
        <button mat-button [routerLink]="['/diagnostic-admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>


    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_biller }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TNBillers="matTooltip" matTooltip="Data listed for the total number of billers registered under the logged in Diagnostic Admin.
            " matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNBillers.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Billers</p>
        <button mat-flat-button [routerLink]="['/diagnostic-admin/biller-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/techIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_tech }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TNTechs="matTooltip" matTooltip="Data listed for the total number of techs registered under the logged in Diagnostic Admin.
            " matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNTechs.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Techs</p>
        <button mat-flat-button [routerLink]="['/diagnostic-admin/biller-management']">View Details</button>
      </span>
    </mat-card-content>
    <!-- new modification -->

  </mat-card-content> 

  <mat-card-content class="content_wrapper">
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/doctorOfficeIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_doctor_office }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TNdoctoroffice="matTooltip" matTooltip="Data listed for the total number of techs registered under the logged in Diagnostic Admin.
            " matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNdoctoroffice.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>
        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Doctor's Office</p>
        <button mat-button [routerLink]="['/diagnostic-admin/doctor-office-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/appointmentsPendingIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.total_sales_person }}</h4>
          <span class="tolTip">
            <a mat-raised-button #AppPending="matTooltip" matTooltip="Data listed for the total number of techs registered under the logged in Sales Person." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="AppPending.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Sales Person</p>
        <button mat-flat-button [routerLink]="['/diagnostic-admin/sales-person-management']">View Details</button>
      </span>
    </mat-card-content>

  
  </mat-card-content>



  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>Physician Report and Super Bills</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports Added
          </p> 

          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_reports_added }} </h2>
            <span class="tolTip">
              <a mat-raised-button #total_biller="matTooltip"
                matTooltip="The data listed for the total number of reports added by the biller.
                "
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="total_biller.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          
          <!-- <button mat-flat-button (click)="viewReportProcessData('Total No of Reports Added')">view all</button> -->
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Report Processed
          </p>
         
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_report_processed }} </h2>
            <span class="tolTip">
              <a mat-raised-button #TNRProcess="matTooltip"
                matTooltip="The data listed for the total number of reports processed by the system."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="TNRProcess.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Total No of Report Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total Number of <br>
            Report Signed
          </p>
         
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_report_signed }} </h2>
            <span class="tolTip">
              <a mat-raised-button #TNRsigned="matTooltip"
                matTooltip="The data listed for the total number of reports signed by the doctors."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="TNRsigned.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Total No of Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Sent to <br>
            Biller
          </p>
          
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_sent_to_biller }} </h2>
            <span class="tolTip">
              <a mat-raised-button #SendTOBiller="matTooltip"
                matTooltip="The data listed for the total no. of reports sent to the billers."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="SendTOBiller.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Sent to Biller')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Downloaded </p>
         
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_reports_download }} </h2>
            <span class="tolTip">
              <a mat-raised-button #ReportsDownloaded="matTooltip"
                matTooltip="The data listed for the number of reports that are downloaded."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="ReportsDownloaded.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Reports Downloaded')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Pending Sing </p>
          
          <span class="counter_with_tool">
            <h2> {{ allResolveData.total_not_sign_reports }} </h2>
            <span class="tolTip">
              <a mat-raised-button #ReportsPendingSing="matTooltip"
                matTooltip="The data listed for the total no. of reports that are yet to be signed by the doctors."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)=" ReportsPendingSing.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button (click)="viewReportProcessData('Reports Pending Sing')">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>


  <!-- Share doctor sign up link -->
  <app-doctor-signup-share [shareDetails]="shareDetails"></app-doctor-signup-share>


  <!-- All Data listing start here(default listing) -->
  <mat-card-content class="table_wrapper">

    <!-- <mat-toolbar class="top_header">
      <h2> {{ htmlText.headerText }} </h2>
    </mat-toolbar> -->
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1> {{ htmlText.headerText }} </h1>
        <span class="tolTip">
          <a mat-raised-button #pendingActions="matTooltip"
            matTooltip="The reports listed here are reviewed by Admin."
            matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="pendingActions.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>
    <mat-card-content class="admin_dashboard">
      <!-- table -->
      <lib-listing class="DataTable" *ngIf="allBillerData.length>0" [datasource]="allBillerData"
        [skip]="allUserData_skip" [modify_header_array]="allUserData_modify_header"
        [detail_skip_array]="previewModal_detail_skip" [apiurl]="apiUrl" [sourcedata]="tableName" [editroute]="editUrl"
        [jwttoken]="jwtToken" [statusarr]="status" [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint"
        [date_search_endpoint]="SearchingEndpoint" [date_search_source]="SearchingSourceName"
        [search_settings]="search_settings" [sortdata]="sortdata" [datacollection]="datacollection" [libdata]="libdata"
        [date_search_source_count]="billerData_count" [limitcond]="limitcond">
      </lib-listing>
    </mat-card-content>
  </mat-card-content>
  <!-- dashboard all listing end here -->
</mat-card>

<app-admin-footer></app-admin-footer>
