<app-doctor-header></app-doctor-header>


<mat-card-content class="content_wrapper">
  <mat-card-content class="itemsection">
    <mat-card-content class="one uploadsign">
      <p>Manage Your Signature </p>

    </mat-card-content>

    <span class="section_title">
      <img src="../../../../assets/images/editicon.png">
    </span>

    <span class="signaturefont">{{ htmlText.viewSign }}</span>

    <mat-card-content class="sign_uploader">
      <span class="sing_box">
        <input type="text" [(ngModel)]="htmlText.viewSign" (keyup)="removeErrorMessage();">
        <br/>
        <span style="color: red;">{{ htmlText.errorMessage }}</span>
      </span>

      <br />

      <span class="sing_box">
        <button class="signature_upload" (click)="updateSignature();" mat-flat-button>{{ htmlText.buttonText }}</button>
      </span>
    </mat-card-content>
  </mat-card-content>
</mat-card-content>

<!-- Tech Footer -->
<app-admin-footer></app-admin-footer>
