<mat-card-content class="encounter_wrapper">
    <form class="example-form" autocomplete="off">

        <table class="tableone">
            <tr>
                <td colspan="3">
                    <h2 class="header"> Health Risk Analysis System</h2>
                </td>
            </tr>

            <tr>
                <td> Patient Name <input type="text" value="{{ reportDetails.reportData[0].patient_name }}"></td>
                <td>
                    <label> <input type="radio" [(ngModel)]="reportDetails.reportData[0].gender"
                            [ngModelOptions]="{standalone: 1}" value='Male'>M</label>
                    <label> <input type="radio" [(ngModel)]="reportDetails.reportData[0].gender"
                            [ngModelOptions]="{standalone: 1}" value='Female'>F</label>
                </td>
                <td> <label>Date <input type="text" value="{{ reportDetails.reportData[0].test_date | date }}"> </label>
                </td>
            </tr>

            <tr>
                <td> Ordering Physician <input type="text" value="{{ reportDetails.reportData[0].doctor_name }}"></td>
                <td colspan="2"><label> D.O.B <input type="text"
                            value="{{ reportDetails.reportData[0].birth_date | date }}"></label></td>
            </tr>

            <tr>
                <td> Physician’s Signature <input class="signaturefont" type="text"
                        value="{{ cookiesData.user_details.doctor_signature }}"></td>
            </tr>

            <tr>
                <td> Patient’s Insurance Carrier (s) <input class="signaturefont" type="text"> </td>
                <td colspan="2">
                    <label>
                        <input type="checkbox" [(ngModel)]="orginalReportDetails.cpt_codes.no_diagnosis_detected"
                            [ngModelOptions]="{standalone: 1}">
                        No Diagnoses Established
                    </label>
                </td>
            </tr>
        </table>

        <mat-card-content class="second_table">
            <table class="tabletwo">
                <tr>
                    <td colspan="2">
                        <h2 class="red_para">Symptom Checklist</h2>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">        
                        <lib-book-appointment-form class="book-appointment" *ngIf="configData.patientInfoFormFields.length > 0" [configData]="configData"></lib-book-appointment-form>
                    </td>
                </tr>

            </table>

        </mat-card-content>
    </form>
</mat-card-content>