<mat-card-content class="encounter_wrapper">
    <form class="example-form" autocomplete="off">

        <mat-card-content class="second_table">
            <table class="tabletwo">
                <tr>
                    <td colspan="2">
                        <h2 class="red_para">Patient Details</h2>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">        
                        <lib-book-appointment-form class="book-appointment" [configData]="configData"></lib-book-appointment-form>
                    </td>
                </tr>

            </table>

        </mat-card-content>
    </form>
</mat-card-content>