/* header css */
.techdashboard_header .mat-toolbar-row{ height: auto; }
.techdashboard_header .mat-toolbar-row .logo_wrapper{ max-width: 200px; display: block; }
.techdashboard_header .mat-toolbar-row .logo_wrapper img{ max-width: 100%; vertical-align: middle; }
.techdashboard_header .mat-toolbar-row{ justify-content: space-evenly; padding: 0 40px;}
.techdashboard_header .mat-toolbar-row .quotation { margin-bottom: 0px;}
.techdashboard_header .mat-toolbar-row .quotation p{ font-family: "RobotoMedium"; font-size: 30px; color: #002035; text-transform: uppercase; margin: 0; white-space: normal;
  text-align: center;}
.techdashboard_header .mat-toolbar-row .profile_section { display: flex; border-left: 1px solid #e2dede; padding-left: 20px; }
.techdashboard_header .mat-toolbar-row .profile_section .username{ padding-right: 20px; display: block; }
/*End header css */


.add_form{ width: 80%; margin: 20px auto; background: #f3f3f3; padding: 16px 10px; padding-bottom: 50px; border: 1px solid #91e7ff; }
.add_form .form_wrapper .mat-form-field{ width: 49%; margin: 0.5%; }
.add_form .form_wrapper textarea{ resize: none;}
.add_form h2{ font-family: "RobotoBlack"; text-transform: uppercase; font-size: 24px; padding: 0 6px; color: #1dbce9; }
/* .add_form .submit_form { display: block; width: 100%; text-align: center; margin-top: 30px; } */

.add_form .submit_form{
display: flex;
width: 100%;
text-align: center;
margin-top: 30px;
justify-content: space-between;
margin: auto; }
/* .add_form .submit_form button{ border-radius: 5px; background: linear-gradient(180deg, #f9dc19, #daa505); color: #5e3619; text-transform: uppercase; font-family: "RobotoBlack"; font-size: 25px; padding: 8px;
  width: 390px; border: 3px solid #d59d01; } */
.add_form .submit_form button{ border-radius: 5px; background: linear-gradient(180deg, #f9dc19, #daa505); color: #5e3619; text-transform: uppercase; font-family: "RobotoBlack"; font-size: 25px; padding: 8px;
width: 24%; border: 3px solid #d59d01; }
.add_form .submit_form button:nth-child(1){ background: linear-gradient(180deg, #f2be00, #a52a08); color: #f3f3f3; border: 2px solid #bb3c0d;  }
.add_form .return_button { background: #1dbce9; color: #fff; margin-bottom: 12px;}




@media screen and (max-width: 1460px){
  .techdashboard_header .mat-toolbar-row .quotation p { font-size: 24px; line-height: 26px;}
}
@media screen and (max-width: 1366px){
.add_form .submit_form button {font-size: 22px;}
}
@media screen and (max-width: 1000px){
  .add_form .submit_form button { width: 48%; }
}
@media screen and (max-width: 991px){
.techdashboard_header .mat-toolbar-row { flex-direction: column; padding: 20px;}
.techdashboard_header .mat-toolbar-row .quotation p { margin-top: 16px; }
}
@media screen and (max-width: 768px){
  .add_form .form_wrapper .mat-form-field { width: 100%; margin: 0; }
}
@media screen and (max-width: 576px){
.add_form .submit_form button { font-size: 22px; padding: 2px; }

.add_form .submit_form button { width: 100%; margin: 0; margin-top: 20px; }
.add_form .submit_form { display: flex; flex-direction: column-reverse; text-align: center; margin-top: 0px; }
.add_form .submit_form button:nth-child(1) { margin-right: 0; margin-top: 20px; }
}

@media screen and (max-width: 360px){
.techdashboard_header .mat-toolbar-row .quotation p { font-size: 16px; line-height: 22px; }
.add_form h2 { font-size: 22px; line-height: 24px; text-align: center; }
}



#menu_button{ display: none;}

.add_header{ display: flex; margin: 0 16px;}
.add_header button{ margin-left: auto;
  background: linear-gradient(180deg, #fac855, #e47e2a)!important;
  text-transform: uppercase;
  font-family: "RobotoBlack"; padding-top: 4px;
}