<mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="search.name" />
</mat-form-field>

<mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <input matInput placeholder="City" [(ngModel)]="search.city">
</mat-form-field>

<mat-form-field class="example-full-width">
    <mat-label>State</mat-label>
    <input matInput placeholder="State" [(ngModel)]="search.state">
</mat-form-field>

<button mat-raised-button type="button" color="primary" (click)="getPageData();">Search</button>


<br>
<br>

<mat-list role="list">
    <mat-list-item role="listitem">Showing {{page.page_count}} result from
        <ng-container *ngIf="total_count == 0">Many.</ng-container>
        <ng-container *ngIf="total_count > 0">{{ total_count }}.</ng-container>
    </mat-list-item>

    <mat-form-field class="example-full-width">
        <mat-label> Current page {{ page.page_no }} Total page {{ total_count / page.page_count }}</mat-label>
        <input matInput type="number" placeholder="Total page {{ total_count / page.page_count }}"
            (keyup)="getPageData();" [(ngModel)]="page.page_no">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Page Count</mat-label>
        <input matInput type="number" placeholder="Page data {{ page.page_count }}" (keyup)="getPageData();"
            [(ngModel)]="page.page_count">
    </mat-form-field>
</mat-list>

<button mat-raised-button color="primary" (click)="nextPage('prev');">Prev</button>
<button mat-raised-button color="primary" (click)="nextPage();">Next</button>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ (page.page_no - 1) * page.page_count + (i + 1) }}.
        </td>
    </ng-container>

    <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item.key}}">

        <th mat-header-cell *matHeaderCellDef>
            <ng-container *ngIf="sort_val == item.key.toLowerCase()"> </ng-container>
            {{ item.value }}
            <i *ngIf="sort_type == 'asc'" (click)="sortPageData(item.key);"
                class="material-icons">
                keyboard_arrow_down
            </i>
            <i *ngIf="sort_type == 'desc'" (click)="sortPageData(item.key);"
                class="material-icons">
                keyboard_arrow_up
            </i>
        </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="item.key != 'DOB' && item.key != 'DOA'"> {{ element[item.key] }} </span>
            <span *ngIf="item.key == 'DOB' || item.key == 'DOA'"> {{ element[item.key] | date }} </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displaycolvals"></tr>
    <tr mat-row *matRowDef="let row; columns: displaycolvals;"></tr>

</table>

<mat-list role="list">
    <mat-list-item role="listitem">Showing {{page.page_count}} result from
        <ng-container *ngIf="total_count == 0">Many.</ng-container>
        <ng-container *ngIf="total_count > 0">{{ total_count }}.</ng-container>
    </mat-list-item>

    <mat-form-field class="example-full-width">
        <mat-label> Current page {{ page.page_no }} Total page {{ total_count / page.page_count }}</mat-label>
        <input matInput type="number" placeholder="Total page {{ total_count / page.page_count }}"
            (keyup)="getPageData();" [(ngModel)]="page.page_no">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Page Count</mat-label>
        <input matInput type="number" placeholder="Page data {{ page.page_count }}" (keyup)="getPageData();"
            [(ngModel)]="page.page_count">
    </mat-form-field>
</mat-list>

<button mat-raised-button color="primary" (click)="nextPage('prev');">Prev</button>
<button mat-raised-button color="primary" (click)="nextPage();">Next</button>