/* header css */
.techdashboard_header { height: auto; }
.techdashboard_header   .logo_wrapper{ max-width: 200px; display: block; cursor: pointer; }
.techdashboard_header   .logo_wrapper:focus{ outline: none; border: none; }
.techdashboard_header   .logo_wrapper img{ max-width: 100%; vertical-align: middle; }
.techdashboard_header  { justify-content: space-between; padding: 0 40px;}
.techdashboard_header  .quotation { margin-bottom: 0px;}
.techdashboard_header   .quotation p{ font-family: "RobotoMedium"; font-size: 30px; color: #002035; text-transform: uppercase; margin: 0; }
.techdashboard_header   .profile_section button{ padding-top: 8px; }
.techdashboard_header   .profile_section { display: flex; border-left: 1px solid #e2dede; padding-left: 20px; margin-bottom: 0; justify-content: center;
  align-items: center;}
.techdashboard_header  .profile_section .username{ padding-right: 20px; display: block; }


.techdashboard_header   .quotation .mat-list-base{ display: flex;}
.techdashboard_header .quotation .mat-list-base .mat-list-item:before{ content: "";
  width: 2px;
  height: 15px;
  background: #1c1c1c;
  display: inline-block;
  position: absolute;
  top: 35%;}

  .techdashboard_header .quotation .mat-list-base .mat-list-item:nth-child(1):before{ content: "";  width: 2px;
    height: 0px;
    background: #1c1c1c;
    display: inline-block;
    position: absolute;
    top: 35%;}


.active{ color: #c18500!important; }
.techdashboard_header  .quotation .mat-nav-list .mat-list-item { margin: 0 16px; position: relative; }

/*End header css */

#menu_button{ display: none;}



@media screen and (max-width: 1500px){
  .techdashboard_header  .quotation p { font-size: 22px; }
  .content_wrapper .itemsection { padding-bottom: 36px; }
}
@media screen and (max-width: 1440px){
  .content_wrapper .itemsection p { line-height: 26px; font-size: 24px;}

}

@media screen and (max-width: 1400px){
.techdashboard_header  .quotation p { font-size: 20px; text-align: center; line-height: 22px; white-space: normal; }
.techdashboard_header  { padding: 0 20px; }
}

@media screen and (max-width: 1366px){
  .techdashboard_header  .quotation  .mat-nav-list  .mat-list-item  { margin: 0; }
}
@media screen and (max-width: 1240px){
  .doctor_content_wrapper{ background: #012035; }
}
@media screen and (max-width: 1199px){
.doctor_content_wrapper .table_structure { width: 100%;  }
.patient_report_section .button_action { width: 970px; }
.patient_report_section .button_action button { width: 475px; font-size: 20px; padding: 8px; }
.content_wrapper { display: flex; justify-content: center; align-items: center; text-align: center; flex-wrap: wrap; }
.content_wrapper .itemsection { width: 31%; margin: 15px 12px; }
.doctor_content_wrapper { padding: 40px 30px; }
.doctor_content_wrapper .mat-card-title { font-size: 36px; margin-bottom: 20px; }

.table_structure .mat-list-item .title_n { font-size: 26px; }
.table_structure .mat-list-item .title_a { font-size: 22px; }
.content_wrapper .itemsection p{ width: 100%; font-size: 22px; }
.techdashboard_header  { height: auto; flex-direction: column; }

}

@media screen and (max-width: 1080px){
.doctor_content_wrapper {
    padding: 40px 20px;
}
.doctor_content_wrapper .mat-card-title {
  font-size: 32px;
  margin-bottom: 20px;
}
.table_structure .mat-list-item .title_n {
  font-size: 22px;
}
.table_structure .mat-list-item .title_a {
  font-size: 20px;
}
}
@media screen and (max-width: 1038px){
.content_wrapper .itemsection { width: 30.9%;  }
}

@media screen and (max-width: 991px){
.doctor_content_wrapper { text-align: center; }
.patient_report_section .patient_top_search { display: flex; align-items: center; flex-direction: column; }
.patient_report_section .patient_top_search .search_bar { margin-bottom: 20px; }
.patient_report_section .button_action button { padding: 8px 30px; margin: 0 10px; width: 100%;}
.patient_report_section .button_action { width: auto; margin: 0 5px; display: flex; justify-content: center; }
.content_wrapper .itemsection { width: 30.8%; }
.table_structure .mat-list-item .title_a { font-size: 16px; }
#menu_button{ display: block;}
.techdashboard_header  .quotation { display: none; }

.techdashboard_header  .quotation .mat-list-base {
  display: block;
}
}
@media screen and (max-width: 970px){
.patient_report_section .button_action button { width: auto; }
.table_structure .mat-list-item .title_n { font-size: 18px; }

.one { background: linear-gradient(100deg, #f9c856, #dd671d); }
.two { background: linear-gradient(100deg, #0973d1, #05335a); }
.three { background: linear-gradient(100deg, #44cf80, #26a555); }
}
@media screen and (max-width: 950px){
  .content_wrapper .itemsection {
    width: 30.8%;
}
  .content_wrapper .itemsection p { font-size: 20px; }
  .table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {  margin-bottom: 16px; }
}


@media screen and (max-width: 850px){
.content_wrapper .itemsection { width: 30.2%; }
/* hiding searchbar */
.patient_report_section .patient_top_search .search_bar {
  margin-bottom: 20px;
  display: none;
}

.techdashboard_header  {
  padding: 0 16px;
  flex-direction: column;
}


}
@media screen and (max-width: 768px){
.content_wrapper .itemsection { width: 100%; margin: 16px; margin-bottom: 0; }
.content_wrapper .itemsection:nth-last-child(1) {margin-bottom: 16px; }
.patient_report_section .button_action { display: flex; justify-content: center; flex-direction: column; }
.patient_report_section .button_action button { margin-bottom: 16px; word-break: break-word; white-space: normal; line-height: 22px; }
.techdashboard_header  { padding: 0 16px; }
.techdashboard_header  .quotation p { margin: 16px 0; }
.doctor_content_wrapper { padding: 20px 0px; }
.table_structure .mat-list-item .title_a { font-size: 14px; }
.doctor_content_wrapper .mat-card-title { font-size: 28px; margin-bottom: 5px; text-align: left; padding: 0 16px; }

.table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option { margin-bottom: 16px; }
.footer_section .footer_content { width: auto; }

.table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option { display: flex; text-align: left; }
}

@media screen and (max-width: 480px){
.doctor_content_wrapper .mat-card-title { font-size: 24px; }
.patient_report_section .patient_top_search h1 { font-size: 24px; }
}
