<app-doctor-office-header></app-doctor-office-header>



<mat-card class="admin_wrapper">
  <button mat-button (click)="openDialog()" class="changeBTN">Change Doctor</button>
  <mat-label *ngIf="configData.responseData.length == 0 && !loading">No slot found for this tech</mat-label>

  <lib-view-slot-user class="calenderView" [configData]="configData"
                      *ngIf="configData.responseData.length > 0 && configData.patientInfoFormFields.length > 0"></lib-view-slot-user>

</mat-card>

<app-admin-footer></app-admin-footer>
