<h1 mat-dialog-title>Choose your doctor from below</h1>
<div mat-dialog-content>
<!--  <p>What's your favorite animal?</p>-->
  <mat-form-field>
    <mat-label>Select doctor</mat-label>
    <mat-select [(ngModel)]="doctor" (selectionChange)="onChangeDoctor($event.value)">
      <mat-option *ngFor="let doctor of doctorList" [value]="{doctor_id: doctor._id, parent_id: doctor.parent_id, parent_type: doctor.parent_type}">
        {{doctor.firstname + ' ' + doctor.lastname}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!--
  <mat-form-field>
    <mat-label>Select tech</mat-label>
    <mat-select [(ngModel)]="selectedIds.tech_id">
      <mat-option *ngFor="let tech of techList" [value]="tech.value">
        {{tech.text}}
      </mat-option>
    </mat-select>
    <mat-progress-bar mode="buffer" *ngIf="loadingTech"></mat-progress-bar>
  </mat-form-field>
  -->
</div>
<div mat-dialog-actions>
<!--  <button mat-button (click)="onNoClick()">No Thanks</button>-->
  <button mat-button [mat-dialog-close]="selectedIds" cdkFocusInitial>Ok</button>
</div>
