<!-- Admin Header -->
<app-admin-header></app-admin-header>

<!-- header with add button -->
<mat-card-content class="title_wrapper">
    manage Doctor's Office
</mat-card-content>

<span class="add_header">

    <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Doctor's Office</span>
    <button mat-flat-button [routerLink]="['/admin/doctor-office-management/add']">Add Doctors Office</button>
</span>

<lib-listing class="DataTable" *ngIf="doctorOfficeAllData.length>0" 
        [datasource]="doctorOfficeAllData"
        [skip]="doctorOfficeAllData_skip" 
        [detail_skip_array]="previewModal_skip"
        [modify_header_array]="doctorOfficeAllData_modify_header" 
        [apiurl]="apiUrl" 
        [sourcedata]="tableName"
        [editroute]="editUrl" 
        [jwttoken]="user_cookie" 
        [statusarr]="status" 
        [updateendpoint]="UpdateEndpoint"
        [deleteendpoint]="deleteEndpoint" 
        [date_search_endpoint]="SearchingEndpoint"
        [date_search_source]="SearchingSourceName"
        [search_settings]="search_settings">
      </lib-listing>
      <h2 *ngIf="doctorOfficeAllData.length == 0">No record found.</h2>

<!-- Admin Footer -->
<app-admin-footer></app-admin-footer>