<!-- Admin Header -->
<app-admin-header *ngIf="userData.user_type == 'admin'"></app-admin-header>
<!-- Diagnostic Admin Header -->
<app-diagnostic-admin-header *ngIf="userData.user_type == 'diagnostic_admin'"></app-diagnostic-admin-header>

<!-- Doctor Group Admin Header -->
<app-doctor-group-header *ngIf="userData.user_type == 'doctor_group'"></app-doctor-group-header>

<!-- Distributors Admin Header -->
<app-distributors-header *ngIf="userData.user_type == 'distributors'"></app-distributors-header>

<!-- Doctor Header -->
<app-doctor-header *ngIf="userData.user_type == 'doctor'"></app-doctor-header>





<mat-card class="admin_wrapper">
  <!-- header with add button -->
  <mat-card-content class="table_wrapper">
    <mat-toolbar class="top_header">
      <h2> Manage Biller </h2>
    </mat-toolbar>

    <span class="add_header">
      <ng-container *ngIf="userData.user_type == 'admin'">
        <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Biller</span>
        <button mat-flat-button [routerLink]="['/admin/biller-management/add']">Add Biller</button>
      </ng-container>
      
      
      <ng-container *ngIf="userData.user_type == 'diagnostic_admin'">
        <span class="bradcrumb"><a [routerLink]="['/diagnostic-admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Biller</span>
        <button mat-flat-button [routerLink]="['/diagnostic-admin/biller-management/add']">Add Biller</button>
      </ng-container>

      <ng-container *ngIf="userData.user_type == 'doctor_group'">
        <span class="bradcrumb"><a [routerLink]="['/doctor-group/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Biller</span>
        <button mat-flat-button [routerLink]="['/doctor-group/biller-management/add']">Add Biller</button>
      </ng-container>

      <ng-container *ngIf="userData.user_type == 'distributors'">
        <span class="bradcrumb"><a [routerLink]="['/distributors/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Biller</span>
        <button mat-flat-button [routerLink]="['/distributors/biller-management/add']">Add Biller</button>
      </ng-container>

      <ng-container *ngIf="userData.user_type == 'doctor'">
        <span class="bradcrumb"><a [routerLink]="['/doctor/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Biller</span>
        <button mat-flat-button [routerLink]="['/doctor/biller-management/add']">Add Biller</button>
      </ng-container>
    </span>
    <!-- End header with add button -->

    <!-- table -->
    <lib-listing class="DataTable" *ngIf="allBillerData.length>0" (onLiblistingChange)="listenLiblistingChange($event)" [datasource]="allBillerData" [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" [detail_skip_array]="previewModal_detail_skip" [apiurl]="apiUrl"
      [sourcedata]="tableName" [editroute]="editUrl" [jwttoken]="user_cookie" [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" [search_settings]="search_settings" [sortdata]="sortdata" [datacollection]="datacollection" [libdata]="libdata" [date_search_source_count]="billerData_count" [limitcond]="limitcond" >
    </lib-listing>
    
    <h2 *ngIf="allBillerData.length == 0">No record found.</h2>
    <!-- end table -->
  </mat-card-content>
</mat-card>



<!-- Admin Footer -->
<app-admin-footer></app-admin-footer>