<app-doctor-header></app-doctor-header>

<mat-card class="admin_wrapper">
  <section class="mediaDoc">
    <mat-card-title class="testingDoc"> Media Deck of Testing Services </mat-card-title>
    <mat-card-content class="mediaDoc_wrapper">
      <span class="new_wrapper_left">
        <mat-card-content class="media_inner_items">
          <mat-card-content class="image_wrapper">
            <img src="../../../../assets/images/doctor-Dashboard-Banner.jpg">
          </mat-card-content>
          <a mat-button class="action_button" href="../../../../assets/Doctors Resources/DCS doctor's deck.pdf"
            target="_blank"> download </a>
        </mat-card-content>
      </span>
      <span class="new_wrapper_right">
        <mat-card-content class="media_inner_items">

          <mat-card-content class="image_wrapper">
            <img src="../../../../assets/images/doctor-Dashboard-sampeltest.jpg">
          </mat-card-content>
          <a mat-button class="action_button" href="../../../../assets/Doctors Resources/AWSPhysiciansReport2019567.pdf"
            target="_blank"> download </a>
        </mat-card-content>

        <mat-card-content class="media_inner_items">
          <mat-card-content class="image_wrapper">
            <img src="../../../../assets/images/doctor-Dashboard-Health-report.jpg">
          </mat-card-content>
          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/Clinical Quick Reference Guide.pdf" target="_blank"> download </a>
        </mat-card-content>
      </span>

    </mat-card-content>
  </section>


  <section class="quickRef">
    <mat-card-title class="testingDoc">Clinical Quick Reference Guide </mat-card-title>

    <mat-card-content class="report_wrapper">

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport1.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Impact of Reduced Heart Rate Variability on Risk for
            Cardiac Events</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Impact of Reduced Heart Rate Variability on Risk.pdf"
          target="_blank"> download </a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport2.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Determination of age-related increases in largeartery stiffness by digital pulse
            contour analysis</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Determination of age-related.pdf" target="_blank" > download</a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport3.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Role of Endothelial Dysfunction in Atherosclerosis</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Role of Endothelial Dysfunction in Atherosclerosis.pdf"
          target="_blank"> download </a>
      </mat-card-content>
      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport4.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Diabetes, Glucose, Insulin, and Heart Rate Variability</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Diabetes_Glucose_Insulin_and_Heart.pdf" target="_blank">
          download </a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport5.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Diabetic Neuropathies: The Nerve Damageof Diabetes</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Diabetic Neuropathies.pdf" target="_blank"> download </a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport6.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Vitamin D Status, Autonomic Nervous SystemActivity, and Cardiometabolic Risk</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Vitamin D Status Autonomic Nervous System.pdf"
          target="_blank"> download </a>
      </mat-card-content>
      <span class="viewMore" [ngClass]="viewstatus ? 'show' : 'hide'">
        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport7.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Assessment of Vascular Aging and
              Atherosclerosis in Hypertensive Subjects:
              Second Derivative of Photoplethysmogram
              Versus Pulse Wave Velocity</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Assessment of Vascular Aging.pdf" target="_blank"> download
          </a>
        </mat-card-content>

        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport8.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Determination of age-related increases in large
              artery stiffness by digital pulse contour analysis</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Determination of age-related.pdf" target="_blank"> download
          </a>
        </mat-card-content>
        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport9.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Diabetes: Sweat Response and
              Heart Rate Variability During
              Electrical Stimulation in Controls
              and People With Diabetes</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Diabetes Sweat Response.pdf" target="_blank"> download </a>
        </mat-card-content>

        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport10.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">The Relationship between Vascular Function
              and the Autonomic Nervous System</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/The Relationship between.pdf" target="_blank"> download
          </a>
        </mat-card-content>
        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport11.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Assessment of insulin sensitivity by the hyperinsulinemic euglycemic clamp:
              Comparison with the spectral analysis of photoplethysmography</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/Assessment of insulin sensitivity by the hyperinsulinemic.pdf"
            target="_blank"> download </a>
        </mat-card-content>


        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport12.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Detection of neuropathy using a sudomotor
              test in type 2 diabetes</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Detection of neuropathy using a sudomotor test.pdf"
            target="_blank"> download </a>
        </mat-card-content>

        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport13.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Diagnosis and Treatment of Pain in Small Fiber Neuropathy.</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Diagnosis and Treatment of Pain in Small Fiber Neuropathy.pdf"
            target="_blank"> download </a>
        </mat-card-content>

      </span>

    </mat-card-content>

    <mat-toolbar class="viewMore_w">
      <button mat-button (click)="viewMore()">{{ btnName }}</button>
    </mat-toolbar>
  </section>



  <!-- Count Block  -->

  <mat-card-content class="admin_superbillsection">
    <mat-card-title class="testingDoc">Physician Report</mat-card-title>
    <mat-card-content class="biller_wrapper">
      <mat-card-content class="super_bill_item sp_one" *ngIf="htmlText.signFlag == true">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>MANAGE YOUR SIGNATURE</p>
          <button mat-flat-button [routerLink]="['/doctor/signature-management']">SIGN</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Numbers of<br> Reports Uploaded</p>
          <h2> {{ allResolveData.signReportCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_three">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total Numbers of<br> Reports Processed</p>
          <h2> {{ allResolveData.pendingReportCount }}</h2>
          <button mat-flat-button (click)="viewReportProcessData('Report unSigned')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>

  <!-- Pending and signed  Data listing start here -->
  <mat-card-content class="table_wrapper">
    <mat-card-title class="testingDoc">Physician Report List</mat-card-title>
    <mat-toolbar class="top_header">
      <h2> {{ htmlText.headerText }} </h2>
    </mat-toolbar>

    <span class="action_bar">
      <mat-form-field>
        <input matInput type="text" placeholder="Search By Patient" [(ngModel)]="searchJson.patientName" />
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="searchJson.status">
          <mat-option value="">Select a status</mat-option>
          <mat-option value="waiting for doctor sign">Waiting For Doctor Sign</mat-option>
          <mat-option value="doctor signed">Doctor Signed</mat-option>
          <mat-option value="send to biller">Send To Biller</mat-option>
          <mat-option value="error">Error</mat-option>
          <mat-option value="pending">Pending</mat-option>
          this.viewReportProcessData(this.htmlText.headerText);
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Choose a date" [satDatepicker]="picker"
          [(ngModel)]="searchJson.dateRange" />
        <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>

      <button mat-button class="add_btn" (click)="viewReportProcessData(htmlText.headerText);">Date Search</button>
    </span>

    <table mat-table [dataSource]="allDataSource" class="mat-elevation-z8 adminTables">

      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="patient_name">
        <th mat-header-cell *matHeaderCellDef> Patient Name. </th>
        <td mat-cell *matCellDef="let element" data-label="Patient Name">{{ element.patient_name }} </td>
      </ng-container>

      <ng-container matColumnDef="doctor_name">
        <th mat-header-cell *matHeaderCellDef> Doctor Name</th>
        <td mat-cell *matCellDef="let element" data-label="Doctor Name" innerHTML="{{ element.doctor_name }}"> </td>
      </ng-container>

      <ng-container matColumnDef="tech_name">
        <th mat-header-cell *matHeaderCellDef> Tech Name</th>
        <td mat-cell *matCellDef="let element" data-label="Tech Name"> {{ element.tech_name }} </td>
      </ng-container>

      <ng-container matColumnDef="biller_name" *ngIf="htmlText.headerText != 'Report unSigned'">
        <th mat-header-cell *matHeaderCellDef> Biller Name</th>
        <td mat-cell *matCellDef="let element" data-label="Biller Name"> {{ element.biller_name }} </td>
      </ng-container>

      <ng-container matColumnDef="report_type">
        <th mat-header-cell *matHeaderCellDef> Record Type</th>
        <td mat-cell *matCellDef="let element" data-label="Record Type"> {{ element.report_type }} </td>
      </ng-container>

      <ng-container matColumnDef="bill_generation_date" *ngIf="htmlText.headerText != 'Report unSigned'">
        <th mat-header-cell *matHeaderCellDef> Bill Generation Date</th>
        <td mat-cell *matCellDef="let element" data-label="Bill Generation Date">
          {{ element.bill_generation_date | date }} </td>
      </ng-container>

      <ng-container matColumnDef="bill_sent_date" *ngIf="htmlText.headerText != 'Report unSigned'">
        <th mat-header-cell *matHeaderCellDef> Bill Sent Date</th>
        <td mat-cell *matCellDef="let element" data-label="Bill Sent Date"> {{ element.billSentDate | date }} </td>
      </ng-container>

      <ng-container matColumnDef="super_bill" *ngIf="htmlText.headerText != 'Report unSigned'">
        <th mat-header-cell *matHeaderCellDef> Super Bill</th>
        <td mat-cell *matCellDef="let element" data-label="Super Bill"> {{ element.super_bill }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element" data-label="Status"> {{ element.status }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <button *ngIf="element.status == 'Pending Signature'" mat-button type="button" class="viewButton"
            [routerLink]="['/doctor/patient-record-report', element._id]">View</button>
          <button mat-raised-button *ngIf="element.status != 'Pending Signature'" type="button"
            class="viewButton downloadBtn" disabled>View</button>
          <button mat-raised-button *ngIf="element.status != 'Pending Signature'" type="button"
            class="viewButton downloadBtn" (click)="downloadReport(element);">Download</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="allDataColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: allDataColumns;let i = index"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
  </mat-card-content>
</mat-card>


<app-admin-footer></app-admin-footer>
