<app-doctor-header></app-doctor-header>

<mat-card class="admin_wrapper">

  <section class="mediaDoc" *ngIf="authData.parent_type != 'admin'">
    <mat-card-title class="testingDoc"> Media Deck of Testing Services </mat-card-title>
    <mat-card-content class="mediaDoc_wrapper">
      <span class="new_wrapper_left">
        <mat-card-content class="media_inner_items">
          <mat-card-content class="image_wrapper">
            <img src="../../../../assets/images/doctor-Dashboard-Banner.jpg">
          </mat-card-content>
          <a mat-button class="action_button" href="../../../../assets/Doctors Resources/DCS doctor's deck.pdf"
            target="_blank"> download </a>
        </mat-card-content>
      </span>
      <span class="new_wrapper_right">
        <mat-card-content class="media_inner_items">

          <mat-card-content class="image_wrapper">
            <img src="../../../../assets/images/doctor-Dashboard-sampeltest.jpg">
          </mat-card-content>
          <a mat-button class="action_button" href="../../../../assets/Doctors Resources/AWSPhysiciansReport2019567.pdf"
            target="_blank"> download </a>
        </mat-card-content>

        <mat-card-content class="media_inner_items">
          <mat-card-content class="image_wrapper">
            <img src="../../../../assets/images/doctor-Dashboard-Health-report.jpg">
          </mat-card-content>
          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/Clinical Quick Reference Guide.pdf" target="_blank"> download
          </a>
        </mat-card-content>
      </span>

    </mat-card-content>
  </section>


  <section class="quickRef" *ngIf="authData.parent_type != 'admin'">
    <mat-card-title class="testingDoc">Clinical Quick Reference Guide </mat-card-title>

    <mat-card-content class="report_wrapper">

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport1.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Impact of Reduced Heart Rate Variability on Risk for
            Cardiac Events</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Impact of Reduced Heart Rate Variability on Risk.pdf"
          target="_blank"> download </a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport2.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Determination of age-related increases in largeartery stiffness by digital pulse
            contour analysis</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Determination of age-related.pdf" target="_blank">
          download</a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport3.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Role of Endothelial Dysfunction in Atherosclerosis</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Role of Endothelial Dysfunction in Atherosclerosis.pdf"
          target="_blank"> download </a>
      </mat-card-content>
      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport4.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Diabetes, Glucose, Insulin, and Heart Rate Variability</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Diabetes_Glucose_Insulin_and_Heart.pdf" target="_blank">
          download </a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport5.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Diabetic Neuropathies: The Nerve Damageof Diabetes</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Diabetic Neuropathies.pdf" target="_blank"> download </a>
      </mat-card-content>

      <mat-card-content class="items_w">
        <mat-card-content class="icon_w">
          <img src="../../../../assets/images/clinicalReport6.jpg">
        </mat-card-content>

        <mat-card-content class="name_wr">
          <span class="reportName">Vitamin D Status, Autonomic Nervous SystemActivity, and Cardiometabolic Risk</span>
          <img src="../../../../assets/images/pdfIcon.jpg">
        </mat-card-content>

        <a mat-button class="action_button"
          href="../../../../assets/Doctors Resources/2nd Block/Vitamin D Status Autonomic Nervous System.pdf"
          target="_blank"> download </a>
      </mat-card-content>
      <span class="viewMore" [ngClass]="viewstatus ? 'show' : 'hide'">
        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport7.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Assessment of Vascular Aging and
              Atherosclerosis in Hypertensive Subjects:
              Second Derivative of Photoplethysmogram
              Versus Pulse Wave Velocity</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Assessment of Vascular Aging.pdf" target="_blank">
            download
          </a>
        </mat-card-content>

        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport8.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Determination of age-related increases in large
              artery stiffness by digital pulse contour analysis</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Determination of age-related.pdf" target="_blank">
            download
          </a>
        </mat-card-content>
        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport9.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Diabetes: Sweat Response and
              Heart Rate Variability During
              Electrical Stimulation in Controls
              and People With Diabetes</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Diabetes Sweat Response.pdf" target="_blank"> download
          </a>
        </mat-card-content>

        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport10.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">The Relationship between Vascular Function
              and the Autonomic Nervous System</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/The Relationship between.pdf" target="_blank"> download
          </a>
        </mat-card-content>
        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport11.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Assessment of insulin sensitivity by the hyperinsulinemic euglycemic clamp:
              Comparison with the spectral analysis of photoplethysmography</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/Assessment of insulin sensitivity by the hyperinsulinemic.pdf"
            target="_blank"> download </a>
        </mat-card-content>


        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport12.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Detection of neuropathy using a sudomotor
              test in type 2 diabetes</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Detection of neuropathy using a sudomotor test.pdf"
            target="_blank"> download </a>
        </mat-card-content>

        <mat-card-content class="items_w">
          <mat-card-content class="icon_w">
            <img src="../../../../assets/images/clinicalReport13.jpg">
          </mat-card-content>

          <mat-card-content class="name_wr">
            <span class="reportName">Diagnosis and Treatment of Pain in Small Fiber Neuropathy.</span>
            <img src="../../../../assets/images/pdfIcon.jpg">
          </mat-card-content>

          <a mat-button class="action_button"
            href="../../../../assets/Doctors Resources/2nd Block/Diagnosis and Treatment of Pain in Small Fiber Neuropathy.pdf"
            target="_blank"> download </a>
        </mat-card-content>

      </span>

    </mat-card-content>

    <mat-toolbar class="viewMore_w">
      <button mat-button (click)="viewMore()">{{ btnName }}</button>
    </mat-toolbar>
  </section>

  <ng-container *ngIf="otherData.all_details.user_type == 'distributors'">
    <section class="Admindmin_details">
      <mat-card-content class="inner_er">

        <mat-list class="list_wrapper">
          <h3>{{header.name}} : {{otherData.all_details.distributorname}} &nbsp;</h3>
          <h2>Details</h2>

          <span class="inner">

            <mat-list-item>
              <span class="lg">Contact Person :&nbsp; </span><span> {{ otherData.all_details.contactperson }} </span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Contact Phone :&nbsp; </span><span> {{otherData.all_details.phone}}</span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Contact Email :&nbsp; </span><span> {{otherData.all_details.email}} </span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Address :&nbsp; </span><span> {{otherData.all_details.address}} </span>

            </mat-list-item>
          </span>
        </mat-list>
      </mat-card-content>
    </section>
  </ng-container>


  <ng-container *ngIf="otherData.all_details.user_type == 'diagnostic_admin'">
    <section class="Admindmin_details">
      <mat-card-content class="inner_er">
        <mat-list class="list_wrapper">
          <h3>{{header.name}} : {{otherData.all_details.center_name}} &nbsp;</h3>
          <h2>Details</h2>

          <span class="inner">

            <mat-list-item>
              <span class="lg">Contact Person :&nbsp; </span><span> {{ otherData.all_details.contact_person[0].name }}
              </span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Contact Phone :&nbsp; </span><span>
                {{otherData.all_details.contact_person[0].phone}}</span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Contact Email :&nbsp; </span><span> {{otherData.all_details.contact_person[0].email}}
              </span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Address :&nbsp; </span><span> {{otherData.all_details.address}} </span>

            </mat-list-item>
          </span>
        </mat-list>
      </mat-card-content>
    </section>

  </ng-container>


  <ng-container *ngIf="otherData.all_details.user_type == 'doctor_group'">
    <section class="Admindmin_details">
      <mat-card-content class="inner_er">

        <mat-list class="list_wrapper">
          <h3>{{header.name}} : {{otherData.all_details.groupname }} &nbsp;</h3>
          <h2>Details</h2>

          <span class="inner">

            <mat-list-item>
              <span class="lg">Contact Person :&nbsp; </span><span> {{ otherData.all_details.contactperson }} </span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Contact Phone :&nbsp; </span><span> {{otherData.all_details.phone}}</span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Contact Email :&nbsp; </span><span> {{otherData.all_details.email}} </span>

            </mat-list-item>
            <mat-list-item>
              <span class="lg">Address :&nbsp; </span><span> {{otherData.all_details.address}} </span>

            </mat-list-item>
          </span>
        </mat-list>
      </mat-card-content>
    </section>
  </ng-container>

  <!-- Count Block  -->

  <mat-card-content class="admin_superbillsection">
    <mat-card-title class="testingDoc">Physician Report</mat-card-title>
    <mat-card-content class="biller_wrapper">
      <mat-card-content class="super_bill_item sp_one" *ngIf="htmlText.signFlag == true">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <span class="counter_with_tool">
            <p>MANAGE YOUR SIGNATURE</p>
            <span class="tolTip">
              <a mat-raised-button #manageSignature="matTooltip"
                matTooltip="Here the doctor can manage their signature by updating their signature if required."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="manageSignature.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <button mat-flat-button [routerLink]="['/doctor/signature-management']">SIGN</button>
        </span>
      </mat-card-content>

      <!-- <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Numbers of<br> Reports Uploaded</p>
          <h2> {{ allResolveData.signReportCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_three">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total Numbers of<br> Reports Processed</p>
          <h2> {{ allResolveData.pendingReportCount }}</h2>
          <button mat-flat-button (click)="viewReportProcessData('Report unSigned')">view all</button>
        </span>
      </mat-card-content> -->

      <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <span class="counter_with_tool">
            <p>Total Numbers of <br> Reports Processed</p>
            <span class="tolTip">
              <a mat-raised-button #reportsProcessed="matTooltip"
                matTooltip="Data listed for the total number of reports processed by the system."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="reportsProcessed.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>

          <h2> 112 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <span class="counter_with_tool">
            <p>Total Numbers of <br> Reports Pending Signature</p>
            <span class="tolTip">
              <a mat-raised-button #reportsPending="matTooltip"
                matTooltip="Data listed for the total number of reports yet to be signed by the doctor."
                matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
              </a>
              <a mat-button (click)="reportsPending.toggle()" class="toggle_btn" aria-label=" toggle section">
                <span class="material-icons"> help_outline </span>
              </a>
            </span>
          </span>
          <h2> 212 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>

    <mat-card-content class="admin_superbillsection">
      <mat-card-content class="biller_wrapper">
        <mat-card-content class="super_bill_item sp_two">
          <span class="border_wrapper">
            <mat-card-content class="circle">
              <img src="../../../../assets/images/reporticon2.png">
            </mat-card-content>
          </span>

          <span class="container_wrapper">

            <span class="counter_with_tool">
              <p> Total Numbers of <br> Reports Asked for Review</p>
              <span class="tolTip">
                <a mat-raised-button #reportsReview="matTooltip"
                  matTooltip="Data listed for the total of reports, that admins or biller admins asked for a review."
                  matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
                </a>
                <a mat-button (click)="reportsReview.toggle()" class="toggle_btn" aria-label=" toggle section">
                  <span class="material-icons"> help_outline </span>
                </a>
              </span>
            </span>
            <h2> 76 </h2>
            <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
          </span>
        </mat-card-content>

        <mat-card-content class="super_bill_item sp_two">
          <span class="border_wrapper">
            <mat-card-content class="circle">
              <img src="../../../../assets/images/reporticon2.png">
            </mat-card-content>
          </span>

          <span class="container_wrapper">

            <span class="counter_with_tool">
              <p> Total Numbers of <br> Reports Sent to Biller</p>
              <span class="tolTip">
                <a mat-raised-button #reportsBiller="matTooltip"
                  matTooltip="Data listed for the total numbers of reports signed by the doctor and sent to the biller."
                  matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
                </a>
                <a mat-button (click)="reportsBiller.toggle()" class="toggle_btn" aria-label=" toggle section">
                  <span class="material-icons"> help_outline </span>
                </a>
              </span>
            </span>
            <h2> 92 </h2>
            <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
          </span>
        </mat-card-content>

        <mat-card-content class="super_bill_item sp_two">
          <span class="border_wrapper">
            <mat-card-content class="circle">
              <img src="../../../../assets/images/reporticon2.png">
            </mat-card-content>
          </span>

          <span class="container_wrapper">
         
            <span class="counter_with_tool">
              <p>Total Numbers of <br> Reports Downloaded by Biller</p>
              <span class="tolTip">
                <a mat-raised-button #reportsDownloaded="matTooltip"
                  matTooltip="The data available for the total of reports the biller downloaded."
                  matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
                </a>
                <a mat-button (click)="reportsDownloaded.toggle()" class="toggle_btn" aria-label=" toggle section">
                  <span class="material-icons"> help_outline </span>
                </a>
              </span>
            </span>
            <h2> 155 </h2>
            <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
          </span>
        </mat-card-content>

      </mat-card-content>
    </mat-card-content>
  </mat-card-content>

  <!-- Pending and signed  Data listing start here -->
  <mat-card-content class="table_wrapper">
    <mat-card-title class="testingDoc">Physician Report List</mat-card-title>
    <mat-toolbar class="top_header">
      <h2> {{ htmlText.headerText }} </h2>
    </mat-toolbar>

    <span class="action_bar">
      <!-- <mat-form-field>
        <input matInput type="text" placeholder="Search By Patient" [(ngModel)]="searchJson.patientName" />
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="searchJson.status">
          <mat-option value="">Select a status</mat-option>
          <mat-option value="waiting for doctor sign">Waiting For Doctor Sign</mat-option>
          <mat-option value="doctor signed">Doctor Signed</mat-option>
          <mat-option value="send to biller">Send To Biller</mat-option>
          <mat-option value="error">Error</mat-option>
          <mat-option value="pending">Pending</mat-option>
          this.viewReportProcessData(this.htmlText.headerText);
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Choose a date" [satDatepicker]="picker"
          [(ngModel)]="searchJson.dateRange" />
        <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field> -->

      <!-- <button mat-button class="add_btn" (click)="viewReportProcessData(htmlText.headerText);">Date Search</button> -->
    </span>

    <div class="tablewrapper admin_dashboard">

      <!-- table -->
      <lib-listing class="DataTable" *ngIf="allDocData.length>0" [datasource]="allDocData" [skip]="allUserData_skip"
        [modify_header_array]="allUserData_modify_header" [detail_skip_array]="previewModal_detail_skip"
        [apiurl]="apiUrl" [sourcedata]="tableName" [editroute]="editUrl" [jwttoken]="jwtToken" [statusarr]="status"
        [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="SearchingEndpoint"
        [date_search_source]="SearchingSourceName" [search_settings]="search_settings" [sortdata]="sortdata"
        [datacollection]="datacollection" [libdata]="libdata" [date_search_source_count]="docData_count"
        [limitcond]="limitcond">
      </lib-listing>

    </div>
    <!-- <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator> -->
  </mat-card-content>
</mat-card>


<app-admin-footer></app-admin-footer>