<app-doctor-header></app-doctor-header>


<mat-card-content class="content_wrapper" >
  <mat-card-content class="itemsection">
    <mat-card-content class="one uploadsign">
      <p>Manage Your Signature </p>

    </mat-card-content>

    <span class="section_title">
      <img src="../../../../assets/images/editicon.png">
    </span>
    <!-- <mat-card-content class="sign_uploader">

      <input type="text"> 
          <button  class="signature_upload" (click)="openDialog()" mat-flat-button>{{ buttonText }}</button>
          <h2 *ngIf="DoctorSignedData.length == 0" class="message">No Signature Added</h2>

    </mat-card-content> -->

    <button class="gotoUpload" mat-button routerLink="/doctor/signature-management">Manage Signature</button>

    <!-- <span class="sign_uploader" *ngIf="DoctorSignedData.length == 0">
      <h2 class="message">No record found.</h2>
        <button class="signature_upload" (click)="openDialog()" mat-flat-button>Add One</button>

    </span> -->
  </mat-card-content>

 


  <mat-card-content class="itemsection two">
    <span class="counteer"> 16</span>
    <p>Signed Records</p>
    <button mat-flat-button>View Details</button>
  </mat-card-content>
  <mat-card-content class="itemsection three">
    <span class="counteer"> 12</span>
    <p>Pending Signature</p>
    <button mat-flat-button>View Details</button>
  </mat-card-content>
</mat-card-content>

<!-- Tech Footer -->
<app-admin-footer></app-admin-footer>
