.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border: 2px solid rgb(224, 218, 218);
}

.headerSpan {
  text-align: center;
  display: block;
  margin: auto;
}

.darkToolbar {
  background-color: black;
}

.gridListWrapper {
  padding: 30px;
}

.buttonsetToolbar {
  background-color: #f4f3f8;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.singleButton {
  margin: 5px;
  display: inline-block;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.headerSpan {
  text-align: center;
  display: block;
  margin: auto;
}

.darkToolbar {
  background-color: black;
}

.gridListWrapper {
  padding: 30px;
}

.buttonsetToolbar {
  background-color: #f4f3f8;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.singleButton {
  margin: 5px;
  display: inline-block;
}

.calender_first {
  margin-bottom: 16px;
  width: 100%;
}

.title {
  text-align: center;
  background: #57abdc;
  color: #fff;
  padding: 16px;
  margin: 0 16px;
  margin-bottom: 20px;
}

.calendar_wrapper {
  width: 60%;
  margin: auto;
  border: 1px solid #00ffb8;
}

.calendar_wrapper .event_wrapper {
  display: flex;
  flex-direction: column;
}

.calendar_wrapper .event_wrapper .mat-form-field {
  width: 100%;
}

.time_picker, .button_wrapper {
  display: flex;
  justify-content: space-between;
}

.time_picker .timer, .button_wrapper button {
  width: 49%;
}

.button_wrapper {
  margin-top: 20px;
}

.button_wrapper button {
  padding: 5px;
  border-radius: 0;
}



.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.slotview {
  background-color: #f4f3f8;
  padding: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  margin: 5px;
  width: 30%;
}

b {
  font-weight: 500;
}

mat-card-content {
  font-size: 15px;
}

.filter {
  align-content: center;
  margin-left: 3%;
  margin-right: 3%;
}

.filter-box {
  width: 200px;
  margin-bottom: auto;
  margin-right: 15px;
  font-size: 14px;
}

.filter-box :disabled {
  color: #000;
  border-color: lightgray;
}

.m-r {
  margin-right: 6px;
}

.m-l {
  margin-left: 6px;
}

.pagination {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
  float: right;
  font-size: 15px;
  padding: 5px;
}

.selectPageCount {
  width: 45px;
}

.sample_label {
  margin-left: 12px;
}

/* test wrapper */
.lib_wrpr{ display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lb_item{
  width: 49%;
  border: 1px solid #dadada;
  margin: 0.5%;
  box-sizing: border-box;
  padding: 10px;

}
.lb_item .header{ margin: 0; margin-bottom: 16px;}
.symptoms_type {
  display:flex; justify-content: space-between;
}
.symptoms_type .label_name{ margin: 0;}
.checbox_wrapper{ display: flex;
  justify-content: space-between;}
.checbox_wrapper label{ margin:0 5px;}
