<app-adminbiller-header></app-adminbiller-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="content_wrapper">

  </mat-card-content>

  <!-- Report Status Section Start -->
  <mat-card-content class="admin_superbillsection">
    <h1>Total Patient Report Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Processed
          </p>
          <h2> {{ allResolveData.total_report_processed_count }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Processed', '');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Approved
          </p>
          <h2> {{ allResolveData.total_report_approved_count }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Approved', '');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Not Approved
          </p>
          <h2> {{ allResolveData.total_report_not_approved_count }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Not Approved', '');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports in Hold
          </p>
          <h2> {{ allResolveData.total_report_hold_count }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports in Hold', '');">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>
  <!-- Report Status Section End -->


  <mat-card-content class="admin_superbillsection">
    <h1>Last Month Patient Report Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Processed
          </p>
          <h2> {{ allResolveData.total_report_processed_count_by_week_month.last_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Processed', 'Last Month');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Approved
          </p>
          <h2> {{ allResolveData.total_report_approved_count_by_week_month.last_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Approved', 'Last Month');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Not Approved
          </p>
          <h2> {{ allResolveData.total_report_not_approved_count_by_week_month.last_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Not Approved', 'Last Month');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports in Hold
          </p>
          <h2> {{ allResolveData.total_report_hold_count_by_week_month.last_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports in Hold', 'Last Month');">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>


  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>This Month Patient Report Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Processed
          </p>
          <h2> {{ allResolveData.total_report_processed_count_by_week_month.this_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Processed', 'This Month');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Approved
          </p>
          <h2> {{ allResolveData.total_report_approved_count_by_week_month.this_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Approved', 'This Month');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Not Approved
          </p>
          <h2> {{ allResolveData.total_report_not_approved_count_by_week_month.this_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Not Approved', 'This Month');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports in Hold
          </p>
          <h2> {{ allResolveData.total_report_hold_count_by_week_month.this_month }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports in Hold', 'This Month');">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>Last Week Patient Report Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Processed
          </p>
          <h2> {{ allResolveData.total_report_processed_count_by_week_month.last_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Processed', 'Last Week');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Approved
          </p>
          <h2> {{ allResolveData.total_report_approved_count_by_week_month.last_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Approved', 'Last Week');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Not Approved
          </p>
          <h2> {{ allResolveData.total_report_not_approved_count_by_week_month.last_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Not Approved', 'Last Week');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports in Hold
          </p>
          <h2> {{ allResolveData.total_report_hold_count_by_week_month.last_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports in Hold', 'Last Week');">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>This Week Patient Report Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Processed
          </p>
          <h2> {{ allResolveData.total_report_processed_count_by_week_month.this_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Processed', 'This Week');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Approved
          </p>
          <h2> {{ allResolveData.total_report_approved_count_by_week_month.this_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Approved', 'This Week');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Not Approved
          </p>
          <h2> {{ allResolveData.total_report_not_approved_count_by_week_month.this_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports Not Approved', 'This Week');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports in Hold
          </p>
          <h2> {{ allResolveData.total_report_hold_count_by_week_month.this_week }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Reports in Hold', 'This Week');">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>


  <!-- 1st List Hide on load, Click on View All button then view this -->
  <!-- View All button listing start here -->
  <mat-card-content id="viewAllButtonList" class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh" *ngIf="htmlText.viewAllButtonTable.headerText != ''">
      <span class="counter_with_tool">
        <h1>{{ htmlText.viewAllButtonTable.headerText }}</h1>
        <span class="tolTip">
          <a mat-raised-button #processedReports="matTooltip"
            matTooltip="All the Reports listed here are reviewed by Admin." matTooltipPosition="above"
            aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="processedReports.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>
    <app-view-all-button-list [viewFlag]="htmlText.viewAllButtonTable.headerText"></app-view-all-button-list>
  </mat-card-content>
  <!-- View All button listing end here -->


  <!-- 2nd List -->
  <!-- Patient Reports Pending Actions listing start here -->
  <mat-card-content class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Patient Reports Pending Actions</h1>
        <span class="tolTip">
          <a mat-raised-button #pendingActions="matTooltip"
            matTooltip=" All the Reports listed here are processed by System but awaiting on Admin actions."
            matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="pendingActions.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>

    <!-- table -->
    <lib-listing class="DataTable" *ngIf="allBillerData.length>0" (onLiblistingChange)="listenLiblistingChange($event)" [datasource]="allBillerData" [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" [detail_skip_array]="previewModal_detail_skip" [apiurl]="apiUrl"
      [sourcedata]="tableName" [editroute]="editUrl" [jwttoken]="jwtToken" [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint" [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" [search_settings]="search_settings" [sortdata]="sortdata"
      [datacollection]="datacollection" [libdata]="libdata" [date_search_source_count]="billerData_count"
      [limitcond]="limitcond">
    </lib-listing>

  </mat-card-content>
  <!-- Patient Reports Pending Actions listing end here -->
  
  <!-- 3rd List -->
  <!-- Admin Processed Reports start here -->
  <mat-card-content class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Admin Processed Reports</h1>
        <span class="tolTip">
          <a mat-raised-button #processedReports="matTooltip"
            matTooltip="All the Reports listed here are reviewed by Admin." matTooltipPosition="above"
            aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="processedReports.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>
    <app-approved-patient-reports></app-approved-patient-reports>
  </mat-card-content>
  <!-- Admin Processed Reports end here -->

  <!-- 4th List -->
  <!-- Patient Reports with Job Tickets start here -->
  <mat-card-content id="jobTickets" class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Patient Reports with Job Tickets</h1>
        <span class="tolTip">
          <a mat-raised-button #JobTickets="matTooltip"
            matTooltip="All the Reports listed here are on Hold for further clarification from Doctor through job tickets."
            matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="JobTickets.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>
      </span>
    </mat-card-content>

    <app-job-ticket-patient-reports></app-job-ticket-patient-reports>

  </mat-card-content>
  <!-- Patient Reports with Job Tickets end here -->


</mat-card>

<app-admin-footer></app-admin-footer>