<!-- Admin Header -->
<app-admin-header *ngIf="htmlText.userData.user_details.user_type == 'admin'"></app-admin-header>

<!-- Diagnostic Admin Header -->
<app-diagnostic-admin-header *ngIf="htmlText.userData.user_details.user_type == 'diagnostic_admin'"></app-diagnostic-admin-header>

<!-- Doctor Header -->
<app-doctor-header *ngIf="htmlText.userData.user_details.user_type == 'doctor'"></app-doctor-header>


<mat-card class="admin_wrapper">
  <!-- header with add button -->
  <mat-card-content class="title_wrapper">
    {{ htmlText.header }}
  </mat-card-content>


  <span class="add_header">
    <ng-container *ngIf="htmlText.userData.user_details.user_type == 'admin'">
      <span class="bradcrumb">
        <a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/admin/insurance-management']">Manage Insurance &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>

    <ng-container *ngIf="htmlText.userData.user_details.user_type == 'diagnostic_admin'">
      <span class="bradcrumb">
        <a [routerLink]="['/diagnostic-admin/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/diagnostic-admin/tech-management']">Manage Insurance &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>

    <ng-container *ngIf="htmlText.userData.user_details.user_type == 'doctor'">
      <span class="bradcrumb">
        <a [routerLink]="['/doctor/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/doctor/tech-management']">Manage Insurance &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>
  </span>
  <!-- End header with add button -->

  <mat-card class="add_form">
    <mat-card-content class="form_wrapper">
      <form class="example-form" autocomplete="off" name="InsuranceAddEditForm" [formGroup]="InsuranceAddEditForm" (ngSubmit)="InsuranceManagementAddFormFormSubmit()">

        <!-- Insurance Name Start -->
        <mat-form-field appearance="fill">
          <mat-label>Insurance Name</mat-label>

          <input matInput placeholder="Insurance Name" [formControl]="InsuranceAddEditForm.controls['insurancename']"
            (blur)="inputUntouch(InsuranceAddEditForm,'insurancename')">

          <mat-error
            *ngIf="InsuranceAddEditForm.controls['insurancename'].touched && !InsuranceAddEditForm.controls['insurancename'].valid && InsuranceAddEditForm.controls['insurancename'].errors.required">
            Insurance Name required.
          </mat-error>

          <mat-error
            *ngIf="InsuranceAddEditForm.controls['insurancename'].touched && !InsuranceAddEditForm.controls['insurancename'].valid && InsuranceAddEditForm.controls['insurancename'].errors.maxlength">
            Insurance Name is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Insurance Name End -->

        <!-- Description Start -->
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>

          <input matInput placeholder="Description" [formControl]="InsuranceAddEditForm.controls['description']"
            (blur)="inputUntouch(InsuranceAddEditForm,'description')">

          <mat-error
            *ngIf="InsuranceAddEditForm.controls['description'].touched && !InsuranceAddEditForm.controls['description'].valid && InsuranceAddEditForm.controls['description'].errors.required">
            Description required.
          </mat-error>

          <mat-error
            *ngIf="InsuranceAddEditForm.controls['description'].touched && !InsuranceAddEditForm.controls['description'].valid && InsuranceAddEditForm.controls['description'].errors.maxlength">
            Description is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Description End -->

        <!-- Priority Start -->
        <mat-form-field appearance="fill">
          <mat-label>Priority</mat-label>

          <input matInput placeholder="Priority" [formControl]="InsuranceAddEditForm.controls['priority']"
            (blur)="inputUntouch(InsuranceAddEditForm,'priority')">

          <mat-error
            *ngIf="InsuranceAddEditForm.controls['priority'].touched && !InsuranceAddEditForm.controls['priority'].valid && InsuranceAddEditForm.controls['priority'].errors.required">
            Priority required.
          </mat-error>
        </mat-form-field>
        <!-- Priority End -->

        <mat-checkbox [formControl]="InsuranceAddEditForm.controls['status']" checked>Active</mat-checkbox>


        <!-- end here -->
        <span class="submit_form">
          <ng-container *ngIf="htmlText.userData.user_details.user_type == 'admin'">
            <button mat-flat-button type="button" [routerLink]="['/admin/insurance-management']">Back </button>
          </ng-container>

          <ng-container *ngIf="htmlText.userData.user_details.user_type == 'diagnostic_admin'">
            <button mat-flat-button type="button" [routerLink]="['/diagnostic-admin/insurance-management']">Back </button>
          </ng-container>

          <ng-container *ngIf="htmlText.userData.user_details.user_type == 'doctor'">
            <button mat-flat-button type="button" [routerLink]="['/doctor/tech-management']">Back </button>
          </ng-container>

          <button mat-flat-button type="reset" *ngIf="params_id == ''">Reset </button>
          <button mat-flat-button type="submit"> {{ htmlText.buttonText }} </button>
        </span>
      </form>

    </mat-card-content>
  </mat-card>

</mat-card>



<!-- Admin Footer -->
<app-admin-footer *ngIf="htmlText.userData.user_details.user_type == 'admin'"></app-admin-footer>

<!-- Diagnostic Admin Header -->
<app-diagnostic-admin-footer *ngIf="htmlText.userData.user_details.user_type == 'diagnostic_admin'"></app-diagnostic-admin-footer>
