<app-biller-header></app-biller-header>

<mat-card class="admin_wrapper biller_Dashboard">

  <!-- <mat-card-content class="content_wrapper">
  <mat-card-content class="itemsection three">
    <span class="counteer"> {{ allResolveData.totalDownloadCount + this.allResolveData.totalNotDownloadCount }} </span>
    <p>All Data</p>
    <button mat-flat-button (click)="viewReportData();">View Details</button>
  </mat-card-content>

  <mat-card-content class="itemsection one">
    <span class="counteer"> {{ allResolveData.totalDownloadCount }} </span>
    <p>Total Downloaded</p>
    <button mat-flat-button (click)="viewReportData('downloaded');">View Details</button>
  </mat-card-content>

  <mat-card-content class="itemsection two">
    <span class="counteer"> {{ allResolveData.totalNotDownloadCount }} </span>
    <p>Not Downloaded</p>
    <button mat-flat-button (click)="viewReportData('not_downloaded');">View Details</button>
  </mat-card-content>

</mat-card-content> -->
  <!-- new stra -->
  <mat-card-content class="admin_superbillsection">
    <!-- <h1>Physician Report Process Status</h1> -->
    <mat-card-content class="biller_wrapper">
      <mat-card-content class="super_bill_item sp_one">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>All Data</p>
          <h2>{{ allResolveData.totalDownloadCount + this.allResolveData.totalNotDownloadCount }} </h2>
          <button mat-flat-button (click)="viewReportData();">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p> Total Download
          </p>
          <h2> {{ allResolveData.totalDownloadCount }} </h2>
          <button mat-flat-button (click)="viewReportData('Total Downloaded');">view all</button>
        </span>
      </mat-card-content>
      <mat-card-content class="super_bill_item sp_three">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p> Pending Downloads</p>
          <h2> {{ allResolveData.totalNotDownloadCount }} </h2>
          <button mat-flat-button (click)="viewReportData('Not Downloaded');">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content> 

  <!-- patainet report section -->
  <mat-card-content class="table_wrapper admin_dashboard">
    <mat-card-content class="headr_tagh">
      <span class="counter_with_tool">
        <h1>Patient Reports Pending Actions</h1>
        <span class="tolTip">
          <a mat-raised-button #pendingActions="matTooltip"
            matTooltip=" All the Reports listed here are processed by System but awaiting on Admin actions."
            matTooltipPosition="above" aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
          </a>
          <a mat-button (click)="pendingActions.toggle()" class="toggle_btn" aria-label=" toggle section">
            <span class="material-icons"> help_outline </span>
          </a>
        </span>

      </span>
    </mat-card-content>
    <lib-listing
      class="DataTable" 
      *ngIf="allBillerData.length>0" 
      [datasource]="allBillerData" 
      [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" 
      [detail_skip_array]="previewModal_detail_skip" 
      [apiurl]="apiUrl"
      [sourcedata]="tableName" 
      [editroute]="editUrl" 
      [jwttoken]="jwtToken" 
      [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" 
      [deleteendpoint]="deleteEndpoint" 
      [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" 
      [search_settings]="search_settings" 
      [sortdata]="sortdata" 
      [datacollection]="datacollection" 
      [libdata]="libdata" 
      [date_search_source_count]="billerData_count" 
      [limitcond]="limitcond" >
    </lib-listing>

  </mat-card-content>
</mat-card>
<!-- Biller Footer -->
<app-admin-footer></app-admin-footer>
