@media screen and (max-width: 991px) {
.patient_report_section .patient_top_search { display: flex; flex-direction: column; }
.biller_Dashboard .patient_report_section .patient_top_search h1 { margin-bottom: 10px; }
.patient_report_section .patient_top_search .search_bar { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }
.patient_report_section .form_wrapper { display: flex; margin-bottom: 16px; }
.patient_report_section .patient_top_search .search_bar { justify-content: flex-start;}
}

@media screen and (max-width: 600px){
.admin_superbillsection .biller_wrapper .super_bill_item { margin: 0; margin-bottom: 16px; }
.admin_superbillsection .biller_wrapper .super_bill_item:last-child { margin: 0; }
.patient_report_section .form_wrapper { display: flex; margin-bottom: 16px; width: 100%; }
.patient_report_section .form_wrapper .mat-form-field{ width: 100%; }
.admin_superbillsection .biller_wrapper { display: flex; justify-content: center; flex-wrap: wrap; }
}