<app-doctor-header *ngIf="cookiesData.type == 'doctor' "></app-doctor-header>
<app-admin-header *ngIf="cookiesData.type == 'admin' "></app-admin-header>

<ng-container>

  <mat-card-content class="patient_report_wrapper">
    <!-- <mat-card-content class="patient_item_section" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}"> -->
    <mat-card-content class="patient_item_section">
      <mat-card-content class="title_wrapper report_header">
        {{ htmlText.header }}
      </mat-card-content>

      <mat-card class="add_form" *ngIf="allPatientReportData.report_type == 'mannual'">

        <mat-card-content>
          <form class="example-form" autocomplete="off" name="patientAddEditForm" [formGroup]="patientAddEditForm"
            (ngSubmit)="patientAddEditFormSubmit()">
            <fieldset class="field_setmodel">
              <legend class="legend_model">Patients Information:</legend>
              <span class="wrapper">
                <mat-card-content>
                  <label>Patient Name</label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['patientName']"
                      (blur)="inputUntouch(patientAddEditForm,'patientName')">
                    <mat-error *ngIf="patientAddEditForm.controls['patientName'].touched && !patientAddEditForm.controls['patientName'].valid
                         && patientAddEditForm.controls['patientName'].errors.required">
                      Patient Name can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>Patient Gender</label>
                  <input type="radio" value='Male' formControlName="gender">Male
                  <input type="radio" value='Female' formControlName="gender">Female
                </mat-card-content>

                <mat-card-content>
                  <label> DOB</label>
                  <mat-form-field>
                    <input type="text" matInput [formControl]="patientAddEditForm.controls['birthDate']">
                  </mat-form-field>
                  <!-- <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" id="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->
                </mat-card-content>

                <mat-card-content>
                  <label>Ordering Physician</label>
                  <mat-form-field>

                    <mat-select formControlName="physicalOrdering" placeholder="Select a Doctor">
                      <mat-option [value]=0>Select a Doctor</mat-option>
                      <mat-option *ngFor="let doc of allDoctorDataArray;" value="{{ doc._id }}">
                        {{ doc.fullName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> Test Date</label>
                  <mat-form-field>
                    <input matInput formControlName="testDate" id="testDate">
                  </mat-form-field>

                </mat-card-content>

                <mat-card-content>
                  <label> Test Completed</label>
                  <mat-form-field>
                    <input matInput formControlName="testCompletedDate">
                  </mat-form-field>
                </mat-card-content>
              </span>
            </fieldset>
            <br><br>
            <fieldset class="field_setmodel">
              <legend class="legend_model">Rm-3a status report</legend>
              <span class="test_date_wrapper">
                <mat-card-content>
                  <label>PTGTP</label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['PTGPT']"
                      (blur)="inputUntouch(patientAddEditForm,'PTGPT')">
                    <mat-error *ngIf="patientAddEditForm.controls['PTGPT'].touched && !patientAddEditForm.controls['PTGPT'].valid
            && patientAddEditForm.controls['PTGPT'].errors.required">
                      PTGTP field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                  <label> PTGVLFI </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['PTGVLFI']"
                      (blur)="inputUntouch(patientAddEditForm,'PTGVLFI')">
                    <mat-error *ngIf="patientAddEditForm.controls['PTGVLFI'].touched && !patientAddEditForm.controls['PTGVLFI'].valid
              && patientAddEditForm.controls['PTGVLFI'].errors.required">
                      PTGVLFI field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> IR </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['IR']"
                      (blur)="inputUntouch(patientAddEditForm,'IR')">
                    <mat-error *ngIf="patientAddEditForm.controls['IR'].touched && !patientAddEditForm.controls['IR'].valid
              && patientAddEditForm.controls['IR'].errors.required">
                      IR field can not be blank</mat-error>

                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> ESRNO<br> (Baseline) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['ESRNO']"
                      (blur)="inputUntouch(patientAddEditForm,'ESRNO')">
                    <mat-error *ngIf="patientAddEditForm.controls['ESRNO'].touched && !patientAddEditForm.controls['ESRNO'].valid
              && patientAddEditForm.controls['ESRNO'].errors.required">
                      ESRNO field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> ESR L<br> (Latency) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['ESRL']"
                      (blur)="inputUntouch(patientAddEditForm,'ESRL')">
                    <mat-error *ngIf="patientAddEditForm.controls['ESRL'].touched && !patientAddEditForm.controls['ESRL'].valid
              && patientAddEditForm.controls['ESRL'].errors.required">
                      ESR L field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> Peak C <br> (Amplitude) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['peakC']"
                      (blur)="inputUntouch(patientAddEditForm,'peakC')">
                    <mat-error *ngIf="patientAddEditForm.controls['peakC'].touched && !patientAddEditForm.controls['peakC'].valid
              && patientAddEditForm.controls['peakC'].errors.required">
                      Peak C field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> PTG Type <br> (Enter
                    Type 1-5) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['PTGtype']"
                      (blur)="inputUntouch(patientAddEditForm,'PTGtype')">
                    <mat-error *ngIf="patientAddEditForm.controls['PTGtype'].touched && !patientAddEditForm.controls['PTGtype'].valid
              && patientAddEditForm.controls['PTGtype'].errors.required">
                      PTG Type field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>


                <mat-card-content>
                  <label> PTG CVD </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['PTGCVD']"
                      (blur)="inputUntouch(patientAddEditForm,'PTGCVD')">
                    <mat-error *ngIf="patientAddEditForm.controls['PTGCVD'].touched && !patientAddEditForm.controls['PTGCVD'].valid
              && patientAddEditForm.controls['PTGCVD'].errors.required">
                      PTG CVD field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                  <label> Stress I <br> (Stress Index) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['stressI']"
                      (blur)="inputUntouch(patientAddEditForm,'stressI')">
                    <mat-error *ngIf="patientAddEditForm.controls['stressI'].touched && !patientAddEditForm.controls['stressI'].valid
              && patientAddEditForm.controls['stressI'].errors.required">
                      Stress I field can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                  <label> RI </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['RI']"
                      (blur)="inputUntouch(patientAddEditForm,'RI')">
                    <mat-error *ngIf="patientAddEditForm.controls['RI'].touched && !patientAddEditForm.controls['RI'].valid
              && patientAddEditForm.controls['RI'].errors.required">
                      RI can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>


                <mat-card-content>
                  <label> AIPTG<br> (IPTG) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['AIPTG']"
                      (blur)="inputUntouch(patientAddEditForm,'AIPTG')">
                    <mat-error *ngIf="patientAddEditForm.controls['AIPTG'].touched && !patientAddEditForm.controls['AIPTG'].valid
              && patientAddEditForm.controls['AIPTG'].errors.required">
                      AIPTG can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> CIs (CI) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['CIsCI']"
                      (blur)="inputUntouch(patientAddEditForm,'CIsCI')">
                    <mat-error *ngIf="patientAddEditForm.controls['CIsCI'].touched && !patientAddEditForm.controls['CIsCI'].valid
              && patientAddEditForm.controls['CIsCI'].errors.required">
                      CIs (CI) can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> pNN50 </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['pNN50']"
                      (blur)="inputUntouch(patientAddEditForm,'pNN50')">
                    <mat-error *ngIf="patientAddEditForm.controls['pNN50'].touched && !patientAddEditForm.controls['pNN50'].valid
              && patientAddEditForm.controls['pNN50'].errors.required">
                      pNN50 can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>


                <mat-card-content>
                  <label> RMSSD </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['RMSSD']"
                      (blur)="inputUntouch(patientAddEditForm,'RMSSD')">
                    <mat-error *ngIf="patientAddEditForm.controls['RMSSD'].touched && !patientAddEditForm.controls['RMSSD'].valid
              && patientAddEditForm.controls['RMSSD'].errors.required">
                      RMSSD can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> SD ba - </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['SDba']"
                      (blur)="inputUntouch(patientAddEditForm,'SDba')">
                    <mat-error *ngIf="patientAddEditForm.controls['SDba'].touched && !patientAddEditForm.controls['SDba'].valid
              && patientAddEditForm.controls['SDba'].errors.required">
                      SD ba - can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> SD da </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['SDda']"
                      (blur)="inputUntouch(patientAddEditForm,'SDda')">
                    <mat-error *ngIf="patientAddEditForm.controls['SDda'].touched && !patientAddEditForm.controls['SDda'].valid
              && patientAddEditForm.controls['SDda'].errors.required">
                      SD da can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>DPRS </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['DPRS']"
                      (blur)="inputUntouch(patientAddEditForm,'DPRS')">
                    <mat-error *ngIf="patientAddEditForm.controls['DPRS'].touched && !patientAddEditForm.controls['DPRS'].valid
              && patientAddEditForm.controls['DPRS'].errors.required">
                      DPRS can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>ValsR. </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['ValsR']"
                      (blur)="inputUntouch(patientAddEditForm,'ValsR')">
                    <mat-error *ngIf="patientAddEditForm.controls['ValsR'].touched && !patientAddEditForm.controls['ValsR'].valid
              && patientAddEditForm.controls['ValsR'].errors.required">
                      ValsR can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>BMI<br> Enter BMI Score
                    (I.E. 29.1) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['BMI']"
                      (blur)="inputUntouch(patientAddEditForm,'BMI')">
                    <mat-error *ngIf="patientAddEditForm.controls['BMI'].touched && !patientAddEditForm.controls['BMI'].valid
              && patientAddEditForm.controls['BMI'].errors.required">
                      BMI can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>Blood
                    Pressure<br> Systolic &
                    Diastolic
                    (120/80) </label>
                  <mat-form-field>
                    <input matInput [formControl]="patientAddEditForm.controls['bloodPressure']"
                      (blur)="inputUntouch(patientAddEditForm,'bloodPressure')">
                    <mat-error *ngIf="patientAddEditForm.controls['bloodPressure'].touched && !patientAddEditForm.controls['bloodPressure'].valid
              && patientAddEditForm.controls['bloodPressure'].errors.required">
                      Blood Pressure can not be blank</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </span>

              <span class="patient_diagnotes">
                <label>Patient Diagnoses & Notes:</label>
                <mat-form-field class="example-full-width">

                  <textarea matInput placeholder="Leave a comment"
                    [formControl]="patientAddEditForm.controls['leaveNotes']"
                    (blur)="inputUntouch(patientAddEditForm,'leaveNotes')">
         </textarea>
                  <mat-error *ngIf="patientAddEditForm.controls['leaveNotes'].touched && !patientAddEditForm.controls['leaveNotes'].valid
         && patientAddEditForm.controls['leaveNotes'].errors.required">
                    Patient Diagnoses & Notes can not be blank</mat-error>
                </mat-form-field>
              </span>
            </fieldset>
            <!-- <span>
            <img class="bulkView" width=450px src="assets/images/logo.png">
          </span> -->

          </form>
        </mat-card-content>
      </mat-card>

      <section *ngIf="allPatientReportData.report_type == 'file'">
        <mat-card-content class="document_wrapper">
          <span class="imageGallery">
            <img [src]="ImageData[sliderCount]">
          </span>
          <mat-card-content>
            <button mat-fab class="prev" type="button" (click)="playSlider('preview');">
              <<</button> <button mat-fab class="next" type="button" (click)="playSlider('next');"> >>
            </button>
            <!-- <button mat-fab (click)="playSlider('play');">PLAY</button> -->
          </mat-card-content>
          <span class="itemCounter">Report {{ sliderCount + 1 }} of {{ ImageData.length }}</span>
        </mat-card-content>
      </section>
    </mat-card-content>

    <!-- <mat-card-content class="patient_item_section" id="fixedScroll"
      [ngClass]="{'mat-elevation-z5' : true, 'stickyRight' : isSticky}" > -->
    <mat-card-content class="patient_item_section" id="fixedScroll">

      <mat-tab-group class="previewTabs">
        <mat-tab label="Evalueation worksheet" *ngIf="cookiesData.type == 'admin'">
          <ng-template matTabContent>
            <app-health-risk-analysis></app-health-risk-analysis>
          </ng-template>
        </mat-tab>

        <mat-tab label="Encounter Form">
          <ng-template matTabContent>

            <app-healthrisk-system-encounter></app-healthrisk-system-encounter>
          </ng-template>
        </mat-tab>

        <mat-tab label="Superbill For Obesity" *ngIf="BMIFlug > 29">
          <ng-template matTabContent>
            <app-system-superbill></app-system-superbill>
          </ng-template>

        </mat-tab>
      </mat-tab-group>

    </mat-card-content>

  </mat-card-content>

  <mat-toolbar class="patient_preview" *ngIf="cookiesData.type == 'doctor'">
    
    
     
      <mat-select class="select_wrp" placeholder="Select A Biller" [(ngModel)]="selectBiller">
        <mat-option *ngFor="let bd of biller; let i = index;" [value]="bd.biller_id">
          {{ bd.firstname }} {{ bd.lastname }}
        </mat-option>
      </mat-select>
   


    
    <button mat-button type="button" (click)="reportSign('back');">Sign & Back</button>

    <button mat-button type="button" (click)="reportSign('next');">Sign & Next</button>
  </mat-toolbar>

</ng-container>


<app-admin-footer></app-admin-footer>