<app-biller-header *ngIf="cookiesData.user_details.user_type == 'biller'"></app-biller-header>
<app-doctor-header *ngIf="cookiesData.user_details.user_type == 'doctor'"></app-doctor-header>
<app-admin-header *ngIf="cookiesData.user_details.user_type == 'admin'"></app-admin-header>
<app-diagnostic-admin-header *ngIf="cookiesData.user_details.user_type == 'diagnostic_admin'"></app-diagnostic-admin-header>

<ng-container>

  <mat-card-content class="patient_report_wrapper ">
    <mat-card-content class="patient_item_section mat-elevation-z8">

      <mat-card-content class="title_wrapper report_header">
        {{ htmlText.header }}
      </mat-card-content>

      <mat-card class="add_form" *ngIf="htmlText.allResolveData.reportData[0].report_type == 'manual'">
        <mat-card-content>

          <form class="example-form">
            <fieldset class="field_setmodel">
              <legend class="legend_model">Patients Information:</legend>
              <span class="wrapper">

                <!-- Patient Name Start -->
                <mat-card-content>
                  <label>Patient Name</label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].patient_name }}">
                  </mat-form-field>
                </mat-card-content>
                <!-- Patient Name End -->

                <!-- Patient Gender Start -->
                <mat-card-content>
                  <label>Patient Gender</label>
                  <input type="radio" [(ngModel)]="htmlText.allResolveData.reportData[0].gender" [ngModelOptions]="{standalone: true}" value="Male">Male
                  <input type="radio" [(ngModel)]="htmlText.allResolveData.reportData[0].gender" [ngModelOptions]="{standalone: true}" value="Female">Female
                </mat-card-content>
                <!-- Patient Gender End -->

                <!-- DOB Start -->
                <mat-card-content>
                  <label> DOB</label>
                  <mat-form-field>
                    <input matInput type="text" value="{{ htmlText.allResolveData.reportData[0].birth_date | date }}">
                  </mat-form-field>
                </mat-card-content>
                <!-- DOB End -->

                <!-- Ordering Physician Start -->
                <mat-card-content>
                  <label> Ordering Physician</label>
                  <mat-form-field>
                    <input matInput matInput value="{{ htmlText.allResolveData.reportData[0].doctor_name }}">
                  </mat-form-field>
                </mat-card-content>
                <!-- Ordering Physician Start -->

                <!-- Test Date Start -->
                <mat-card-content>
                  <label> Test Date</label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].test_date | date }}">
                  </mat-form-field>
                </mat-card-content>
                <!-- Test Date End -->

                <!-- Test Completed Start -->
                <mat-card-content>
                  <label> Test Completed</label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].test_completed_date | date }}">
                  </mat-form-field>
                </mat-card-content>
                <!-- Test Completed Start -->
              </span>
            </fieldset>

            <br><br>

            <fieldset class="field_setmodel">
              <legend class="legend_model">Rm-3a status report</legend>
              <span class="test_date_wrapper">

                <mat-card-content>
                  <label> PTGTP </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].PTGTP }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> PTGVLFI </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].PTGVLFI }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> IR </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].IR }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> ESRNO<br> (Baseline) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].ESRNO }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> ESR L<br> (Latency) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].ESRL }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> Peak C <br> (Amplitude) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].peakC }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> PTG Type <br> (Enter
                    Type 1-5) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].PTGtype }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> PTG CVD </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].PTGCVD }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> Stress I <br> (Stress Index) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].stressI }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> RI </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].RI }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> AIPTG<br> (IPTG) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].AIPTG }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> CIs (CI) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].CIsCI }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> pNN50 </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].pNN50 }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> RMSSD </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].RMSSD }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> SD ba - </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].SDba }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label> SD da </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].SDda }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>DPRS </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].DPRS }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>ValsR. </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].ValsR }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>BMI <br> Enter BMI Score (I.E. 29.1) </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].BMI }}">
                  </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                  <label>Blood Pressure <br>
                    Systolic & Diastolic (120/80)
                  </label>
                  <mat-form-field>
                    <input matInput value="{{ htmlText.allResolveData.reportData[0].systolic_value }}/{{ htmlText.allResolveData.reportData[0].diastolic_value }}">
                  </mat-form-field>
                </mat-card-content>
              </span>

              <span class="patient_diagnotes">
                <label>Patient Diagnoses & Notes:</label>
                <mat-form-field class="example-full-width">
                  <textarea matInput> {{ htmlText.allResolveData.reportData[0].leave_notes }} </textarea>
                </mat-form-field>
              </span>
            </fieldset>
          </form>

        </mat-card-content>
      </mat-card>

      <section *ngIf="htmlText.allResolveData.reportData[0].report_type == 'file'">
        <mat-card-content class="document_wrapper">
          <span class="imageGallery">
            <img src="{{ htmlText.allResolveData.reportData[0].file_basepath }}{{ htmlText.allResolveData.reportData[0].images[htmlText.sliderCount].name }}">
          </span>
          <mat-card-content>
            <button mat-fab class="prev" type="button" (click)="playSlider('preview');">
              <<</button> <button mat-fab class="next" type="button" (click)="playSlider('next');"> >>
            </button>
            <!-- <button mat-fab (click)="playSlider('play');">PLAY</button> -->
          </mat-card-content>
          <span class="itemCounter">Report {{ htmlText.sliderCount + 1 }} of {{ htmlText.allResolveData.reportData[0].images.length }}</span>
        </mat-card-content>
      </section>
    </mat-card-content>

    <mat-card-content class="patient_item_section mat-elevation-z8" id="fixedScroll">

      <mat-tab-group class="previewTabs">
        <!-- <mat-tab label="Evaluation Worksheet" *ngIf="cookiesData.user_details.user_type == 'admin'">
          <ng-template matTabContent>
            <app-health-risk-analysis [patientDetails]="htmlText.allResolveData"></app-health-risk-analysis>
          </ng-template>
        </mat-tab> -->

        <mat-tab label="Patient Details">
          <ng-template matTabContent>
            <app-patient-details [patientDetails]="htmlText.allResolveData" [orginalData]="htmlText.orginalData"></app-patient-details>
          </ng-template>
        </mat-tab>

        <mat-tab label="Encounter Form">
          <ng-template matTabContent>
            <app-healthrisk-system-encounter [patientDetails]="htmlText.allResolveData" [orginalData]="htmlText.orginalData"></app-healthrisk-system-encounter>
          </ng-template>
        </mat-tab>

        <mat-tab label="Superbill For Obesity" *ngIf="htmlText.allResolveData.reportData[0].BMI_flag >= 290">
          <ng-template matTabContent>
            <app-system-superbill [patientDetails]="htmlText.allResolveData" [orginalData]="htmlText.orginalData"></app-system-superbill>
          </ng-template>
        </mat-tab>

        <mat-tab label="Additional Recommemded Diagnostic Tests">
          <ng-template matTabContent>
            <app-additional-recommemded-diagnostic-tests [patientDetails]="htmlText.allResolveData" [orginalData]="htmlText.orginalData"></app-additional-recommemded-diagnostic-tests>
          </ng-template>
        </mat-tab>

      </mat-tab-group>

    </mat-card-content>

  </mat-card-content>

  <mat-toolbar class="patient_preview" *ngIf="(cookiesData.user_details.user_type == 'diagnostic_admin' || cookiesData.user_details.user_type == 'doctor')">
    <mat-form-field color="warn">
      <mat-label>Select A Biller</mat-label>
      <mat-select [(ngModel)]="htmlText.billerArrayIndex" placeholder="Select A Biller">
        <mat-option *ngFor="let biller of htmlText.billers; let i = index;" [value]="i">
          {{ biller.firstname }} {{ biller.lastname }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button type="button" (click)="reportSign('back');">{{ htmlText.sendButton[0] }}</button>

    <button mat-button type="button" (click)="reportSign('next');">{{ htmlText.sendButton[1] }}</button>
  </mat-toolbar>

</ng-container>


<app-admin-footer></app-admin-footer>
