@media screen and (max-width: 1400px){
  .main_wrapper { background-size: 680px; padding-left: 727px; }
}

@media screen and (max-width: 1300px){
.main_wrapper { background-size: 680px; padding-left: 665px; }
}
@media screen and (max-width: 1240px){
.main_wrapper .login_wrapper { width: 450px; }
}

@media screen and (max-width: 1199px){
.main_wrapper { background-size: 0; padding-left: 0; justify-content: center; align-items: center; }
.main_wrapper .login_wrapper { width: 500px; }
.main_wrapper .img_wrapper { background: none; }
}
@media screen and (max-width: 668px){
  .main_wrapper .login_wrapper { width: 450px; }
}
@media screen and (max-width: 540px){
.main_wrapper .login_wrapper { width: 400px; }
.logo_section { width: 100%; }
}
@media screen and (max-width: 480px){
.main_wrapper .login_wrapper { width: 360px; }
.login_wrapper .loginBtn { font-size: 22px; }
}
@media screen and (max-width: 440px){
.main_wrapper .login_wrapper { width: 320px; }
}
@media screen and (max-width: 390px){
.main_wrapper .login_wrapper {
    width: 280px;
}
}

@media screen and (max-width: 350px){
  .main_wrapper .login_wrapper {
      width: 250px;
  }
  }

