@media screen and (max-width: 1366px){
  .main_wrapper {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    /* background-image: linear-gradient(145deg, #f0b800, #3ebff4); */
    /* background-image: linear-gradient(145deg, #f9e7b0, #b3e1f5); */
    background: url(../images/doctorImage.png) no-repeat;
    background-position: left bottom;
    background-size: 716px;
    background-color: #fdfaee;
    padding-left: 686px;
}
}
