
*{
  box-sizing: border-box;
}
/* @font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
      url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}*/
@font-face {
  font-family: 'AmandaSignature';
  src: url('../fonts/AmandaSignatureRegular.woff2') format('woff2'),
      url('../fonts/AmandaSignatureRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* new font face AVENier */
@font-face {
  font-family: 'AvenirMedium';
  src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLight';
  src: url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirRoman';
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
      url('../fonts/Avenir-Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



:root {
  --button-color1: #feca00;
  --button-color2: #1dbce9;
  --button-color3: #21e289;
  }

  /* background-image: linear-gradient(40deg, #feca00, #1dbce9); */

/* heder css */
.techdashboard_header .quotation .mat-nav-list .mat-list-item .mat-list-item-content { padding: 0 12px; }
.techdashboard_header .quotation .mat-nav-list .mat-list-item:first-child .mat-list-item-content { padding-left: 0px; }
.techdashboard_header .quotation .mat-nav-list .mat-list-item:last-child .mat-list-item-content { padding-right: 0px; }
.main_wrapper{
   display: flex;
   height: 100%;
   justify-content: flex-start;
   align-items: center;
   background: url(../images/doctorImage.png) no-repeat;
   background-position: left bottom; background-size: 835px; background-color: #fdfaee; padding-left: 800px; }

.modal_view { overflow: scroll; max-height: 90vh;}
.modal_view .table_wrapper .mat-table{ width:100%}
.main_wrapper .login_wrapper { padding: 0;}
.main_wrapper .login_wrapper{ width: 580px; background: #fff; }
.main_wrapper  .img_wrapper{ background: url("../images/doctorImage.png") no-repeat; background-position: left bottom;}
.login_container > * { width: 100%; }
.logo_section{ width: 400px; margin: auto; display: block; margin-bottom: 25px;}
.logo_section img{ max-width: 100%; }
.main_wrapper .login_wrapper .forget_wrapper { display: flex; margin-top: 15px; }
.main_wrapper .login_wrapper .forget_wrapper a{ margin-left: auto; color: #545454; font-size: 16px; font-family: "RalewayMedium"; }
.main_wrapper .login_wrapper .login_container .mat-form-field { margin-bottom: 20px; }
.main_wrapper .login_wrapper .login_container input .mat-input-element:focus { border-bottom: 1px solid red!important;}
.main_wrapper .login_wrapper .login_container input .mat-input-element { font-size: 20px; }
.main_wrapper .login_wrapper .login_container h2{ text-align: center; color: #1dbce9; margin-top: 0; }
.main_wrapper .login_wrapper .login_container .paragraph{ font-family: "Ralewaymedium"; font-size: 16px; color: #777776; line-height: 23px; margin: 0px; padding: 0 16px;
  box-sizing: border-box;}
.tech_image{  display: block; }
.tech_image img{ max-width: 100%; }
.tech_image img{ max-width: 100%; margin-bottom: 22px; padding: 0 16px; box-sizing: border-box; }
.main_wrapper .login_wrapper .login_container .main-div{ height: auto; }
.main_wrapper .login_wrapper .login_container .main-div .from  { width: 100%; margin: 0 auto; }
.main_wrapper .login_wrapper .login_container .main-div .from .logowrapper img{ max-width: 100%;}
.main_wrapper .login_wrapper .login_container .main-div .from  h2 { background: none; color: #39bbe9; padding: 0px; font-family: 'AvenirMedium'; font-size: 26px; margin-bottom: 10px; }
.main_wrapper .login_wrapper .login_container .main-div .from button{ font-family: "AvenirBlack"; text-transform: uppercase; font-size: 28px; padding: 8px 16px; margin: auto;
  display: block; background: linear-gradient(45deg, #03a9f5, #fad249)}
.main_wrapper .login_wrapper .login_container .main-div .from .signupfooter a{ padding: 0; cursor: pointer; font-family: "AvenirMedium"; text-transform: uppercase; font-size: 14px; color: var(--button-color2); }
.table_structure .mat-list-item .mat-list-item-content { display: flex; flex-direction: column!important; }
.patient_report_section  .mat-form-field-appearance-outline .mat-form-field-wrapper { margin: 0!important; padding-bottom: 0; }
.patient_report_section  .mat-form-field-appearance-outline .mat-form-field-infix { padding: 1em 0 1em 0; margin: 0; border: 0;}
.table_wrapper h2{ font-size: 20px; color: #ff0000; font-family: 'AvenirMedium'; text-transform: capitalize; text-align: center;}
.DataTable table th.mat-header-cell { text-align: left;  font-family: "AvenirMedium";  font-size: 16px; }
 table th.mat-header-cell span { display: flex; justify-content: space-between; align-items: center;}
.DataTable table th.mat-header-cell:last-of-type{ width: auto; min-width: 150px;}
/* .faq-management table th.mat-header-cell:last-of-type{ width: 14%;} */

.DataTable table td.mat-cell{  font-family: "AvenirRoman"; padding-right: 8px; }
.tablewrapper table td span .cursor,
.DataTable table td span .cursor{cursor: pointer; display: inline-block; background: var(--button-color2);
margin: 2px; color: #fff; padding: 1px 6px; border-radius: 2px;}
.tablewrapper table td span .cursor .material-icons,
.DataTable table td span .cursor .material-icons{ font-size: 18px;}
.tablewrapper table td span .cursor:nth-child(2),
.DataTable table td span .cursor:nth-child(2){ background: #ff5370;}
.tablewrapper table td span .cursor:nth-child(3),
.DataTable table td span .cursor:nth-child(3){ background: var(--button-color1);}
.DataTable table td span .cursor:nth-last-child(1){ border-right: none; background: var(--button-color3); }
.DataTable .searchbar { padding: 0; padding-top: 16px;}
.loader{ width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.loader img{ max-width: 100%; }
.DataTable .multipledeleteandupdatebuttan { display: inline-flex; margin-top: 16px;}
.DataTable .multipledeleteandupdatebuttan button { background: var(--button-color1);
  line-height: inherit;
  color: #000;
  padding: 5px 10px;
  box-shadow: none;
  font-family: 'AvenirMedium';
  font-size: 16px;}
  .DataTable .multipledeleteandupdatebuttan button:last-child{ background: var(--button-color2); margin-left: 5px; color: #fff; }

/* Styling modal */
.custom-modalbox{ min-width: 500px;}
/* .custom-modalbox .mat-dialog-container { border: 4px solid #ffbc36; background: linear-gradient(0deg, #ffdfab, #99dfff); } */
.custom-modalbox .mat-dialog-container .mat-card  { background: rgba(0,0,0, 0.1); border-radius: 0; display: flex; justify-content: center; align-items: end; margin-bottom: 16px;}
.custom-modalbox .mat-dialog-container .mat-card  .mat-card-header-text { margin: 0; text-transform: capitalize; color: #000; font-family: "AvenirMedium";}
/* .custom-modalbox .mat-dialog-container .mat-button-base { background: rgb(185, 125, 45); color: #fff; text-transform: uppercase; min-width: 120px; border-radius: 0;} */
.custom-modalbox .example-card .mat-card-header { width: 280px; position: relative; }
.custom-modalbox .example-card .mat-card-header .mat-card-title { margin-bottom: 0px; font-size: 18px; font-family: "AvenirLight"; }
.custom-modalbox .example-card .mat-card-header::before { content: ':'; display: inline-block; font-size: 30px; position: absolute; right: 0; top: -5px; padding-right: 16px; }
.custom-modalbox .example-card .mat-card-content { width: 100%; }

/* modal for bulk upload container */
/* .bulkupload-dialog .mat-dialog-container{ background: linear-gradient(0deg, #fff1c6, #fffdf7); text-align: center;}
.bulkupload-dialog .mat-dialog-container .mat-dialog-title { margin: 0 0 20px; display: block; margin-bottom: 0; color: #d66b1f; text-transform: uppercase;
  font-family: "RobotoBold"; border-bottom: 1px solid; padding-bottom: 5px; }
.bulkupload-dialog .mat-dialog-container .mat-dialog-content{ color: #313131; font-family: "RobotoRegular"; }
.bulkupload-dialog .mat-dialog-container .mat-dialog-actions { display: flex; justify-content: flex-end}
.bulkupload-dialog .mat-dialog-container .mat-dialog-actions button{ background: #25c1b3; width: 100px; border-radius: 0; color: #fff; }
.bulkupload-dialog .mat-dialog-container .mat-dialog-actions button:last-child{ background: #ff4f4f; } */

/* end modal for bulk upload container */

.file_upload .button-group { width:auto!important; }
.file_upload .files-view{width:auto!important;  margin-top: 0!important;}
.file_upload .files-view .viewUrlcontent .mat-card-actions{margin: 0!important; text-align: center;}
.file_upload .files-view .viewUrlwrapper .othersFilePreview { background: linear-gradient(45deg, #21e289, #1dbce9);}
.file_upload .files-view .viewUrlcontent .mat-card-actions button,
.file_upload .button-group button{ font-family: 'AvenirMedium'; background: var(--button-color3); margin-right: 10px;
  box-shadow: none; color:#fff; }
.file_upload .files-view .viewUrlcontent .mat-card-header-text{ margin: 16px 0 0 0;}
.file_upload .files-view .viewUrlcontent .mat-card-header-text .mat-card-title { font-family: 'AvenirMedium';}
.file_upload .files-view .viewUrlcontent .mat-card-header-text .fileDescription { margin-top: 0; font-family: 'AvenirMedium';}
.file_upload .files-view .viewUrlcontent .mat-card-actions button:last-child,
.file_upload .button-group button:last-child{background:red; margin:0; } 

.admin_wrapper  .con-report-lebel { margin-top: 16px;}
.admin_wrapper  .con-report-lebel p { font-family: 'AvenirMedium'; color: #f54400;
  margin: 5px 0;}
.admin_wrapper  .con-report-lebel button { font-family: 'AvenirMedium'; margin-top: 16px;
  background: linear-gradient(45deg, #03a9f5, #77da00);
  min-width: 120px;
  border-radius: 0;
  text-transform: uppercase;}
/* manage listing  */
.table_wrapper .add_header {display: flex; height: auto; justify-content: space-between; align-items: center; padding: 10px; background: #f9f9f9; }
.table_wrapper .add_header button{ background:var(--button-color2); font-family: 'Avenirmedium'; font-size: 18px; color: #fff; text-transform: uppercase;}
.tablewrapper tr td{ font-size: 14px; word-break: break-word;}
.table_wrapper .no_data{ font-family: 'AvenirBlack'; font-size: 18px; }
.bradcrumb{ display: block; font-family: 'AvenirLight'; font-size: 16px;}
.bradcrumb a{ color: #32a9f5; text-decoration: none; }
.container .searchbar .search_class{ display: flex; justify-content: center; width: 100%; }
.container .searchbar span{ display: flex; justify-content: center; width: 100%; }

.container .searchbar .add_button { background: var(--button-color3); font-family: 'AvenirRoman'; font-size: 16px;
color: #fff; text-transform: uppercase;}

/* .container .searchbar i{margin-left: auto;} */
.searchbar { height: auto!important; flex-wrap: wrap; justify-content: center; margin-bottom: 20px; box-shadow: 0px 2px 2px #c5c5c5;
  padding-bottom: 16px!important; position: relative; }
.searchbar .mat-form-field{ width: 32%; margin: 0 0.5%!important;}
.searchbar .cursor{ width: 35px; border-radius: 50%; background: var(--button-color2); height: 35px;
  margin: auto; display: flex; justify-content: center; align-items: center; color: #fff; margin:0 10px;}
.pad-gap{ margin: inherit!important;}
.searchbar .mat-form-field .mat-form-field-flex { display: inline-flex; align-items: baseline; box-sizing: border-box;
  width: 100%; border: .5px solid #bdbdbd; border-radius: 4px; padding: 0px 10px 5px; }
.searchbar .mat-form-field-prefix { bottom: -8px; }
.add_form .file_upload .uploadfilecontainer { width: 100%; box-sizing: border-box;}
.admin_table{ width: 100%; margin: 20px auto; display: block;}
.admin_table table{ width: 100%; }

.admin_table table tr td:nth-child(4) span{
  background: linear-gradient(0deg, #d73a87, #ff7abb);
    text-align: center;
    display: inline;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* border-right: 5px solid #fff; */
    text-transform: uppercase;
    font-family: "RalewayBold";
 }

 td.mat-cell br, td.mat-footer-cell br, th.mat-header-cell br{ display: none; }
 .mat-bottom-sheet-container-large {
  border: 2px solid #ffbc36!important;
   /* background: linear-gradient(0deg, #ffdfab, #99dfff)!important; */
 }
 .mat-bottom-sheet-container-large .mat-nav-list .mat-list-item {  height: 46px!important;
  background: var(--button-color2);
  margin-bottom: 10px;
  color: #fff;
  font-family: 'AvenirMedium';
}
.mat-bottom-sheet-container-large .mat-nav-list .mat-list-item:hover{ background: var(--button-color1)!important;}
.mat-bottom-sheet-container-large .mat-nav-list .mat-list-item:last-child{ background: var(--button-color3);}

.sub_menu{ background: linear-gradient(145deg, #2dbcce, #2ae6fd)!important}
.sub_menu button{ color: #fff; border-bottom: 2px solid #ddd;}
.sub_menu button:last-child{ border: none; }
.patient_item_section .mat-tab-label { opacity: 1; background: #000; color: #ffff; font-size: 14px; text-transform: uppercase; font-family: "AvenirBlack"; padding: 5px 16px; }
.patient_item_section .mat-tab-label:nth-child(2){ margin: 0 8px; }
.patient_item_section .mat-tab-label:nth-child(4){ margin: 0 8px; }
.admin_wrapper .mat-tab-label.mat-tab-label-active { background-color:var(--button-color3); opacity: 1!important;
  color: #ffff; }
.admin_wrapper .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #048007;
}
.patient_item_section .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: transparent;
}

.app-doctor-office-management .DataTable .mat-table .mat-column-Actions span span:nth-child(3) .material-icons{display: none;}

/* .health_risk_report {
  width: 200px;
  height: 75vh;
  overflow: scroll;
}
.health_risk_report::-webkit-scrollbar {
   width: 12px;
   position: fixed;
   bottom: 0;
}

.health_risk_report::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
}

.health_risk_report::-webkit-scrollbar-thumb {
   border-radius: 10px;
   box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
} */


.action_bar .mat-form-field-appearance-legacy .mat-form-field-label { font-size: 16px;  font-family: "AvenirLight"; width: auto; padding-left: 10px; }

.infomodal{ overflow: auto; width: 991px;}
/* admin css */
.admin_wrapper{ width: 1400px; margin: 20px auto; box-sizing: border-box; margin-bottom: 70px;}
.searchcard { padding: 0; }


/* admin css */


.admin_wrapper .content_wrapper{ display: flex; justify-content: space-between;  align-items: center; width: 100%; margin: auto; text-align: center; margin-bottom: 16px; }
.admin_wrapper .content_wrapper .itemsection{width: 33%; margin: 0px 7px; box-sizing: border-box; display: flex; justify-content: center; position: relative; border-radius: 10px; border: 1px solid #e8e9ef;  overflow: hidden;  }
.admin_wrapper .content_wrapper .itemsection .icon{  display: flex; align-items: center; justify-content: center; width: 20%; box-sizing: border-box;}
.admin_wrapper .content_wrapper .itemsection .icon img{ max-width: 100%; }
.admin_wrapper .content_wrapper .itemsection .button_wrapper{ background: #4d545a; width: 25%; display: flex; align-items: center; justify-content: center; }
.admin_wrapper .content_wrapper .itemsection .button_wrapper button{ width: auto; background: transparent; color: #fff; padding: 0; font-family: "AvenirMedium"; font-size: 15px; }
.admin_wrapper .content_wrapper .itemsection .counteer { box-sizing: border-box; width: 55%; padding: 5px; text-align: left; }
.admin_wrapper .content_wrapper .itemsection .counteer .dataCount{ font-size: 48px; font-family: "AvenirBlack";  color: #4d545a; margin: 0;}
.admin_wrapper .content_wrapper .itemsection .counteer .doctorNumber{ font-size: 18px; font-family: "AvenirMedium";  color: #4d545a; margin:0;}
.admin_wrapper .content_wrapper .itemsection:nth-child(3n+1){ margin-left: 0;}
.admin_wrapper .content_wrapper .itemsection:nth-child(3n+3){ margin-right: 0;}

.doctor_content_wrapper{ background: url("../../../../assets/images/doctorcontentbg.jpg") no-repeat center center; background-size: cover; display: block; padding: 50px 40px; margin: 0 16px;}

.doctor_content_wrapper .mat-card-title{  font-size: 40px; font-family: "AvenirBlack"; text-transform: uppercase; color: #fff; margin-bottom: 30px; display: block;}
.doctor_content_wrapper .table_structure{ width: 1080px; display: block;}
.doctor_content_wrapper table{ width: 100%;}
.table_structure .mat-list mat-list-base { display: flex; }
.table_structure .mat-list-base .mat-list-item, .mat-list-base .mat-list-option { display: inline-flex; height: auto; -webkit-tap-highlight-color: transparent; width: auto; padding: 0;color: #fff; border-right: 1px solid #044f82;
}
.table_structure .mat-list-base .mat-list-item:nth-last-child(1){ border: none;}
.table_structure .mat-list-item p{ display: block; width: 100%; margin: 0; }
.table_structure .mat-list-item .title_n{ color: #5aa8ed; font-size: 30px; font-family: "AvenirMedium"; font-weight: normal; text-transform: uppercase;  }
.table_structure .mat-list-item .title_a{ color: #fff; font-size: 24px; font-family: "AvenirLight";  text-transform: uppercase; }
.patient_report_section .form_wrapper{ display: flex; margin-right: 10px;}
.patient_report_section .form_wrapper:last-child{ margin-right: 0px;}
/* .patient_report_section .form_wrapper .mat-form-field-flex{ border: 1px solid #000!important; } */
.biller_Dashboard .patient_report_section .patient_top_search{ margin: 16px 0px; padding: 0; }
.biller_Dashboard .patient_report_section .patient_top_search .res_view{ width: auto; display: flex;
  justify-content: space-between;}

  .biller_Dashboard .patient_report_section .patient_top_search .res_view  .btn_action_wrapper{ margin-left: 16px;}
.biller_Dashboard .patient_report_section .patient_top_search .btn_action_wrapper button{ background: var(--button-color3); font-family: 'AvenirMedium'; font-size: 16px;
margin-right: 10px; box-shadow: none; min-width: 80px; }
.biller_Dashboard .patient_report_section .patient_top_search .btn_action_wrapper button:last-child{ margin: 0; background: var(--button-color2);}
.biller_Dashboard .patient_report_section .patient_top_search h1{ margin: 0; font-size: 24px; font-family: 'AvenirMedium'; color: #535353; text-transform: capitalize; }
.biller_Dashboard .patient_report_section .search_bar button { border: none; background: #4e4e4e; color: #fff; display: flex; align-items: center; cursor: pointer; border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
.biller_Dashboard .mat-table{ width: 100%; }
.patient_report_section .mat-form-field-appearance-outline .mat-form-field-wrapper { margin: 0!important;}
.patient_report_section .patient_top_search { display: flex; align-items: center; justify-content: space-between; padding: 0 16px; margin-top: 20px; margin-bottom: 0;}
.patient_report_section .patient_top_search .search_bar { display: flex;  }
.patient_report_section .patient_top_search .search_bar button{ border: none;
  background: transparent; color: #757575; display: flex; align-items: center; cursor: pointer;}
.patient_report_section .patient_top_search h1{ font-size: 32px; text-transform: uppercase;  color: #002035; margin: auto;}
.patient_report_section .patient_top_search .search_bar button:focus{ outline: none; }
.patient_report_section .button_action button{  border-radius: 5px; background: linear-gradient(180deg, #f9dc19, #daa505); color: #5e3619; text-transform: uppercase; font-family: "RobotoBlack";
  font-size: 25px; padding: 10px; width: 515px; border: 3px solid #d59d01; }
.patient_report_section .button_action{ display: flex; justify-content: space-between; width: 1050px; margin: auto; }

/* table section */
.top_header{ align-items: center; display: flex; justify-content: space-between; border-bottom: 1px solid #bfbfbf; padding: 0 5px;}
.top_header .add_new{ background: #1dbce9; font-size: 18px; text-transform: capitalize; padding: 0px 18px; font-family: "AvenirMedium"; color: #fffefe;}
.top_header .wrappp_R .add_new:last-child{margin-left: 10px; background: #21e289;}
.top_header h2{ margin: 0;font-size: 20px; color: #535353; font-family: "AvenirMedium"; }
.admin_superbillsection {display: block; }
.admin_superbillsection h1{ font-size: 20px; font-family: 'AvenirMedium'; color: #535353; text-transform: capitalize; margin-bottom: 10px;  border-bottom: 1px solid #9c9c9c;
padding-bottom: 6px; }
.admin_superbillsection .biller_wrapper  { display: flex; justify-content: center; margin-bottom: 0;}
.admin_superbillsection .biller_wrapper .super_bill_item{ width: 100%; margin: .5%; padding:10px; display: flex;  padding-top: 2%; border-radius: 10px; }
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(1){ background: #4099ff url("../../../../assets/images/admincircle_icon1.png") no-repeat right top; background-size: 120px;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(2){ background: #ab8ce4 url("../../../../assets/images/admincircle_icon2.png") no-repeat right top; background-size: 120px;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(3){ background: #26c6da url("../../../../assets/images/admincircle_icon3.png") no-repeat right top; background-size: 120px;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(4){ background: #ff5370 url("../../../../assets/images/admincircle_icon4.png") no-repeat right top; background-size: 110px;;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(5){ background: #ea53c2 url("../../../../assets/images/admincircle_icon1.png") no-repeat right top; background-size: 110px;;}
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(6){ background: #45dc92 url("../../../../assets/images/admincircle_icon3.png") no-repeat right top; background-size: 110px;;}
.admin_superbillsection .biller_wrapper .super_bill_item .container_wrapper{ display: flex; flex-direction: column; align-items: self-end; width: 80%; box-sizing: border-box;  }
.admin_superbillsection .biller_wrapper .super_bill_item span h2{ color: #fff; font-size: 40px; text-transform: uppercase; font-family: 'AvenirMedium'; margin: 10px 0; text-shadow: 1px 1px 0px #dadada; word-break: break-all;}
.admin_superbillsection .biller_wrapper .super_bill_item span P{ color: #fff; font-size: 24px; font-family: 'AvenirMedium'; margin: 0; line-height: 26px; text-shadow: 1px 1px 0px #dadada;}
.admin_superbillsection .biller_wrapper .super_bill_item:last-child{margin-bottom: 0.5%; }
.admin_superbillsection .biller_wrapper .super_bill_item span button{ font-size: 16px; text-transform: capitalize; font-family: 'AvenirLight'; line-height: 32px; margin-top: auto;
  width: 105px; border-radius: 5px; margin-left: auto;}
.adminTables  tr.mat-header-row { box-shadow: 0px 0px 1px 1px #bfbfbf; }
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(1) span button{ color: #1b61b2;  }
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(2) span button{ color: #4a1aa4;  }
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(3) span button{ color: #066d7a;  }
.admin_superbillsection .biller_wrapper .super_bill_item:nth-child(4) span button{ color: #911228;  }

.admin_superbillsection .biller_wrapper .super_bill_item .border_wrapper{ width: 20%; position: relative; padding: 0; display: flex; padding-top: 4%; box-sizing: border-box; }
.admin_superbillsection .biller_wrapper .super_bill_item .border_wrapper .circle{ margin: 0;}
.admin_superbillsection .biller_wrapper .super_bill_item .border_wrapper .circle img{ max-width: 100%;}
.superbillerContainer .biller_wrapper .super_bill_item span P{ font-size: 18px!important; line-height: 20px!important;}
.superbillerContainer .biller_wrapper .super_bill_item span h2{ margin: 0;}
.superbillerContainer .biller_wrapper .super_bill_item span button { line-height: 28px!important; width: 90px!important; }
.superbillerContainer .biller_wrapper .super_bill_item {background-size: 90px!important; }

.adminTables .viewButton{ background-color:var(--button-color2); width: auto; height: auto; line-height: initial; padding: 2px 10px; box-shadow: none; border-radius: 2px;
    font-family: "AvenirMedium"; color: #fff; min-width: inherit;}
.adminTables .editButton{ background-color:var(--button-color1); width: auto; height: auto; line-height: initial; padding: 2px 10px; box-shadow: none; border-radius: 2px;
  font-family: "AvenirMedium"; color: #fff; min-width: inherit;}
.adminTables .downloadBtn,
.adminTables .downloadBtn{ margin-left: 5px; background: #ff5370; }
.admin_table .action_bar .date-range{ width: 36%; justify-content: space-between; display: flex;}
.table_wrapper .mat-table { width: 100%; box-shadow: none; }
.table_wrapper .mat-table .mat-cell .mat-form-field-appearance-outline .mat-form-field-wrapper { margin: 0; padding: 0; }
.table_wrapper .button_action{ display: block; text-align: center;}
.table_wrapper .button_action button{ background: var(--button-color2); color: #fff; font-size: 22px; font-family: 'AvenirMedium'; padding: 4px 18px; text-transform: uppercase;}
.table_wrapper .mat-table .mat-cell .mat-form-field-appearance-outline .mat-form-field-infix { padding: 0; height: 28px; display: inline-flex; }
.table_wrapper .mat-table .mat-cell  .mat-form-field-appearance-outline .mat-form-field-label { top: 16px; margin-top: -.25em; }
.table_wrapper .top_header  {display: flex; align-items: center; justify-content: space-between; height: auto; padding:10px 5px;}
.table_wrapper .top_header h2 { font-family: 'AvenirMedium'; font-size: 20px; text-transform: capitalize;}
.table_wrapper .top_header .wrappp_R{ width: 100%; text-align: right;}
.table_wrapper .action_bar {display: flex; align-items: center; height: auto; padding:10px 5px;}
.table_wrapper .action_bar .mat-form-field{ margin-right: 10px;}
.table_wrapper .action_bar .mat-form-field:last-child{ margin-right: 0;}
.table_wrapper .action_bar .resetButton_w{ display: flex; justify-content: flex-end; width: 100%; }
.table_wrapper .action_bar .resetButton_w .add_button{ background: var(--button-color1); color:#fff;}
.table_wrapper .action_bar .resetButton_w .add_button:last-child{margin-left: 10px; background: var(--button-color2);}
.table_wrapper .action_bar .add_btn{ border-radius: 3px; text-transform: uppercase; font-family: "AvenirMedium"; font-size: 18px; padding: 1px 16px; min-width: 170px;
  background: var(--button-color2); color: #fff; margin-left: auto; }
.table_wrapper .action_bar .mat-form-field-label-wrapper { position: absolute; left: 0px; box-sizing: content-box; width: 100%; height: 100%; overflow: hidden; pointer-events: none; top: -10px; padding-top: 20px; }
.table_wrapper .action_bar .date-range{ display: flex; width: 43%; }
/* .table_wrapper .action_bar .date-range .mat-form-field:last-child{ margin-left: 10px;} */
/* .mat-form-field-can-float .mat-form-field-label{ background: #fff!important; display: inline-block!important; width: auto!important; margin-left: 5px; } */
.table_wrapper .action_bar .mat-form-field-appearance-legacy .mat-form-field-wrapper { padding-bottom: 0; }
.table_wrapper .action_bar .mat-form-field-suffix::before { content: ''; position: absolute; height: 26px; width: 1px; background: #545454; right:30px; display: inline-block; }
.action_bar .mat-form-field .mat-form-field-flex { display: inline-flex; align-items: baseline; box-sizing: border-box; width: 220px; background: #fbfbfb; border: 1px solid #545454; border-radius: 5px; }
.table_wrapper .action_bar .mat-form-field-appearance-legacy .mat-form-field-infix { padding: 10px; border: 0; font-size: 16px; font-family: 'AvenirLight'; }
.table_wrapper .action_bar .mat-form-field.mat-focused .mat-form-field-ripple { background-color: transparent !important;}
.table_wrapper .action_bar .mat-form-field-appearance-legacy .mat-form-field-underline { height: 0; }
.add_button{ background: #e5ae00; font-family: "AvenirMedium"; color: #fff; text-transform: capitalize; box-shadow: none; border-radius: 3px; font-size: 18px;}
.table_wrapper .mat-table .buttons_ro{ display: inline-block; }
.table_wrapper .mat-table .buttons_ro button{ margin: 0 2px; }
.table_wrapper .mat-table .buttons_ro button:first-child{ margin-left: 0px;  }
.table_wrapper .mat-table .buttons_ro button:last-child{ margin-right: 0px;   }
.table_wrapper .mat-table .mat-column-doctorName .doctor_name{ margin: 6px 0; word-break: break-all; }
.table_wrapper .mat-table .mat-column-doctorName .doctor_name span{ font-family: 'AvenirBlack'; color: #404242; }
.table_wrapper .footer_action{ justify-content: center; height: auto; padding: 10px 0; margin-top: 10px;}
.table_wrapper .footer_action button{ background: var(--button-color2); font-family: 'AvenirRoman';}
.table_wrapper .footer_action button:last-child{ margin-left: 10px; background: var(--button-color3);}

.biller_Dashboard .mat-table .mat-column-Doctor-Name .doctor_name{ margin: 6px 0; }
.biller_Dashboard .mat-table .mat-column-Doctor-Name .doctor_name span{ font-family: 'AvenirBlack'; color: #404242; }

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{width:auto!important; background:#fff; color: #1dbce9!important; font-family: 'AvenirMedium';}

/* searches */
.admin_table .action_bar{ height: auto; justify-content: space-between;}
.table_wrapper tr.mat-header-row { background: #edf0f2; }

/* booked appointment */
.bookedAppointment .action_bar .date-range { display: flex; width: 66%; }
.admin_wrapper .title_wrapper { color: #fff; text-transform: uppercase; padding: 14px; font-family: 'AvenirBlack'; font-size: 30px; width: auto; background: #26c6da; text-align: center; }

.admin_wrapper .add_form .submit_form button{ border-radius: 5px; text-transform: uppercase; font-family: "AvenirMedium"; font-size: 22px; padding: 4px 16px; min-width: 170px;
  background: var(--button-color2); color: #fff; margin-right: 16px;}
 .admin_wrapper .add_form .submit_form button:first-child{ margin-right: 16px; background: var(--button-color1);}
 .admin_wrapper .add_form .submit_form button:last-child{ margin-right: 0px; background: var(--button-color3);}
 .admin_wrapper .add_form{ width: 100%; margin: 20px auto; background:#fbfbfb ; padding: 16px 10px; padding-bottom: 50px; border: 1px solid #91e7ff; box-sizing: border-box;}
 /* #f3f3f3 */
 .admin_wrapper .add_form .form_wrapper textarea{ resize: none;}
 .admin_wrapper .add_form .form_wrapper .mat-form-field{ width: 49%; margin: 0.5%; }
 .admin_wrapper .add_form h2{ font-family: "AvenirBlack"; text-transform: uppercase; font-size: 24px; padding: 0 6px; color: #1dbce9; }
 .admin_wrapper .add_form .submit_form{ display: flex; width: 100%; text-align: center; margin-top: 30px; justify-content: center; }
.patient_preview .mat-form-field-appearance-legacy .mat-form-field-wrapper { padding: 0;}
.patient_preview .mat-form-field-wrapper{ padding: 0; }
.patient_preview .mat-form-field-underline {display: none;}
.patient_preview .mat-form-field-appearance-legacy .mat-form-field-infix { padding: 10px;
  border: 1px solid #1dbce9; box-sizing: border-box; margin-right: 5px;
}
/* add edit form */
.add_form .test_date_wrapper .mat-card-content .mat-form-field-flex{    background: #fff;
  border: 1px solid #d0d0d0;
  padding: 0 5px;
  box-sizing: border-box;
}
 .patients_info_wrapper .mat-card-content .mat-form-field .mat-form-field-flex{     background: #fff;
  border: 1px solid #e6e4e4;
  padding: 0 7px;}
 /* .editPatient_wrapper .patients_info_wrapper .mat-card-content .mat-form-field .mat-form-field-flex{ background: #ddd;} */


 /* doctor dashboard new */
 .admin_wrapper  .testingDoc { background: linear-gradient(0deg, #07aaf5, #40bffa); font-size: 34px; text-transform: uppercase; color: #fff; padding: 8px 10px;
  font-family: 'AvenirMedium'; }
.Admindmin_details .inner_er{ background:url('../../assets/images/doctordbImage.jpg') no-repeat;
  background-size: cover;
  padding: 30px;}
  .Admindmin_details .inner_er h2{
    text-align: center;
    margin: 0;
    color: var(--button-color3);
    font-family: 'AvenirBlack';
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 18px;
  }
  .Admindmin_details .inner{ column-count: 2; column-gap: 20px; display: block; }

  .Admindmin_details .inner_er h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'AvenirMedium';
    border-bottom: 2px solid #c5c4c4;
    padding: 5px;
    margin: 0;
    background: linear-gradient(-5deg, #2df6fd 45%, #09cef5 52%);
    color: #231c23;
  }
  .Admindmin_details .list_wrapper{ width: 100%; margin: 0 auto; border-radius: 10px; background: #fff; box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); padding-top: 0!important; padding-bottom: 20px;}
  .Admindmin_details .inner_er .mat-list-item{ font-size: 18px;
    font-family: 'AvenirMedium';
    height: inherit;
    padding: 5px;
    box-sizing: border-box;
    color: #545454; text-transform: capitalize;
  }
  .Admindmin_details .inner_er .mat-list-item .lg{ font-size: 18px; font-family: 'AvenirBlack'; }

 .admin_wrapper  .mediaDoc_wrapper { display: flex; justify-content: space-between; }
 .admin_wrapper  .mediaDoc_wrapper .new_wrapper_left{ width: 73%; display: flex;}
 .admin_wrapper  .mediaDoc_wrapper .new_wrapper_right{  width: 26%; display: flex; flex-direction: column;}
 .admin_wrapper  .mediaDoc_wrapper .new_wrapper_right .media_inner_items:last-child { margin-top: 16px;}
 .mediaDoc_wrapper .media_inner_items{ background: #f8f3f3;  margin: 0; display: flex;
  flex-direction: column; border: 1px solid #b4b5b5; box-sizing: border-box; width:100%; }

 .mediaDoc_wrapper .media_inner_items .image_wrapper { width: 100%; margin: 0; box-sizing: border-box; text-align: center;  display: flex;
  align-items: center; justify-content: center;}
 .mediaDoc_wrapper .media_inner_items .image_wrapper img{ max-width: 100%; vertical-align: middle;}
 .mediaDoc_wrapper .media_inner_items .action_button { background: linear-gradient(-5deg, #2df6fd 45%, #09cef5 52%);
  color: #000000; font-size: 22px; font-family: 'AvenirHeavy'; padding: 9px; margin: 0; text-align: center; text-transform: uppercase; width: 100%;
  border-radius: 0; margin-top: auto; box-sizing: border-box; }

.report_wrapper .items_w  .icon_w{ background: #ffffff; padding: 10px; box-sizing: border-box; display: flex; flex-direction: column;
align-items: center; justify-content: center; color: #fff; font-family: 'AvenirMedium'; text-transform: capitalize; font-size: 16px; height: 340px; }
.report_wrapper .items_w  .icon_w img{ height: 100%; max-width: 100%;}
.quickRef .report_wrapper{ display: flex; justify-content: center; flex-wrap: wrap;}
.quickRef .report_wrapper .items_w { width: 32.3%; margin: 0.5%; display: flex; flex-direction: column; padding: 10px; box-sizing: border-box;
  border: 1px solid #c3c3c3; border-radius: 5px;}
.quickRef .report_wrapper .items_w:last-child{ margin-bottom: 0.5%;}
.report_wrapper .items_w .name_wr{ display: flex; justify-content: space-between; align-items: center;}
.report_wrapper .items_w .name_wr .reportName{ font-family: 'AvenirHeavy'; color: #272520; font-size: 20px; padding-right: 10px; line-height: 22px; box-sizing: border-box;}
.report_wrapper .items_w .action_button{background: linear-gradient(-5deg, #2df6fd 45%, #09cef5 52%);
  color: #000000; font-size: 22px; font-family: 'AvenirHeavy'; padding: 4px; margin: 0; text-align: center; text-transform: uppercase; width: 100%;
  border-radius: 0; margin-top: auto; box-sizing: border-box; }
.viewMore_w{ justify-content: center; background: transparent!important; height: auto!important; margin-bottom: 30px!important; padding: 0!important;}
.viewMore_w button{ min-width: 444px; background: linear-gradient(0deg, #04aaf5, #32baf9); font-family: 'AvenirHeavy'; color: #fff; text-transform: uppercase; font-size: 28px; padding: 4px;}

/* for all modal */
.mat-dialog-container{ min-width: 400px; border: 1px solid #03d877; border-radius: 0px!important; padding: 0!important;}
.mat-dialog-container .mat-dialog-title {line-height: inherit;  text-align: center; margin: 0; display: block; background: var(--button-color3);
color: #fff; padding:10px 6px; font-family: 'AvenirBlack'; text-transform: uppercase; }
.mat-dialog-container .mat-dialog-content { display: block; margin: 0; padding: 16px; box-sizing: border-box; max-height: 90vh; overflow: auto; }

.mat-dialog-container .mat-dialog-content .mat-form-field{ width:100%}
.mat-dialog-container .mat-dialog-content .submit_form{  display: flex; justify-content: flex-end;}
.mat-dialog-container .mat-dialog-content .submit_form button{ font-family: 'AvenirBlack'; text-transform: uppercase; color: #fff; background: var(--button-color2);}
.mat-dialog-container .mat-dialog-content .submit_form button:last-child{ background: var(--button-color3);}
.mat-dialog-container .mat-dialog-content p{ text-align: center; color: var(--button-color2); font-size: 18px; white-space: normal; word-break: break-all; font-family: 'AvenirMedium';}
.mat-dialog-container .mat-dialog-actions { display: flex; flex-wrap: wrap; min-height: inherit; align-items: center; justify-content: center; margin-bottom: 0;}
.mat-dialog-container .mat-dialog-actions button{ background: var(--button-color1);
color: #fff; min-width: 100px; font-family: 'AvenirMedium'; font-size: 18px;}
.mat-dialog-container .mat-dialog-actions button:last-child{ background: var(--button-color2);}

/* sales dashboard  */
.sales_person_db{ width: 1440px; display: block; margin: 0 auto; }
.sales_person_db .shareLi{ background: #cfaa1e url('../images/shareBanner.png') no-repeat; background-position: 10% bottom; padding:20px; height: 500px;
  background-size: contain; position: relative; margin-bottom: 16px; }
.sales_person_db .shareLi .in_w{ width:660px; background: #fff; margin-left: auto; padding: 16px; box-sizing: border-box; border-radius: 4px; top: 50%;
  position: absolute; transform: translate(-50%, -50%); left: 70%; box-shadow: 0px 2px 8px 0px #404040;}
.sales_person_db .shareLi .in_w h2{ margin: 0; color: #000; font-family: 'AvenirRoman'; font-size: 22px; text-transform: uppercase; margin-bottom: 10px;    margin-bottom: 10px;
border-bottom: 2px solid; padding-bottom: 8px;}
.sales_person_db .shareLi .in_w .input_w { display: flex; justify-content: space-between; align-items: center;}
.sales_person_db .shareLi .in_w .input_w .mat-form-field{ width: 100%; }
.sales_person_db .shareLi .in_w .input_w button{color: var(--button-color3); padding: 0; min-width: 50px;}
.sales_person_db .shareLi .in_w .social_media_wrapper{ display: flex; align-items: center; justify-content: center; }
.sales_person_db .shareLi .in_w .social_media_wrapper button{ padding: 0; min-width: 36px; color: var(--button-color2);}
.sales_person_db .shareLi .in_w  .social_media_wrapper button i{ font-size: 30px; }
.table_list{ margin: 0px auto; width: 1440px;}
.table_list .top_header { background:#f5f5f5}
.table_list .top_header .title1{ font-size: 26px; font-family: 'AvenirMedium'; }
.table_list table{ width: 100%;}
.table_list table td.mat-cell:last-of-type{ border-right: 1px solid #d6d6d6; }
.table_list table td.mat-cell:first-of-type{ border-left: 1px solid #d6d6d6; }
.table_list .button_action {  margin-left:auto;}
.table_list .button_action button:last-child{ background: var(--button-color1); margin-left: 10px;}
.faq_wrapper .mat-expansion-panel-body {padding: 0; }


/* calendar view */
.calenderView .calender_first .mat-toolbar{ background: linear-gradient(10deg, #8bc348, #135e80); justify-content: space-between; }
.calenderView .calender_first .mat-toolbar .google_calendar_status mat-label { float: none; line-height: inherit;
color: #ffffff; text-align: inherit; display: inline-flex; align-items: center;}
.calenderView .calender_first .mat-toolbar .headerSpan { font-family: 'AvenirMedium'; font-size: 28px; margin: inherit;}
.calenderView .calender_first{ padding: 0;}
.calenderView .calender_first .buttonsetToolbar { background: #f9f9f9; padding: 10px; height: auto; flex-wrap: wrap;
  display: flex; justify-content: center; align-items: center;}
.calenderView .calender_first .buttonsetToolbar .singleButton {font-family: 'AvenirRoman';
    font-size: 16px; background: linear-gradient(45deg, #06b1ff, #75d403); box-shadow: none;}
.calenderView .calender_first .buttonsetToolbar .singleButton:nth-child(5)  { background: linear-gradient(45deg, #ff220f, #da1f00);}
.calenderView .filter { display: flex; justify-content: space-between; align-items: center; margin: 0!important; }
.calenderView .filter .pagination { float: none; font-size: 14px; font-family: 'AvenirMedium'; margin-left: 8px; }
.calenderView .slotview{ padding: 8px 0px!important;}
.calenderView .filter .filter-box .mat-form-field-appearance-outline .mat-form-field-wrapper { margin: 0; }
.calenderView .slotview .example-card { max-width: 100%!important; width: 31%; margin: 1%; transition: all 300ms;    padding: 0; }
.calenderView .slotview .example-card .mat-card-content p { font-size: 14px; font-family: 'AvenirMedium'; padding: 0 10px; margin: 10px 0;}
.calenderView .slotview .example-card .mat-card-content p:first-child{ font-size: 18px;  background: linear-gradient(10deg, #21e2ce, #077d5d); padding: 6px; color: #fff; margin: 0;
}
.calenderView .slotview .example-card:hover{ transform: scale(1.2); position: relative; z-index: 1; border: 1px solid #f1f1f1;}
.calenderView .slotview .example-card .mat-card-actions { margin: 0; padding: 0 10px 10px;}
.calenderView .slotview .example-card .mat-card-actions button{ font-family: 'AvenirMedium';}
.calenderView .slotview .example-card .mat-card-actions button:hover {transition: 200ms all; border:1px solid var(--button-color3); color: var(--button-color3); background: #fff!important; }
.calenderView .example-container .button_wrapper button{ background: var(--button-color2); font-family: "AvenirMedium"; font-size: 18px;}
.calenderView .example-container .button_wrapper button:last-child{ background: var(--button-color3)}
 
.searchbar .mat-form-field .mat-chip.mat-standard-chip {
  background: linear-gradient(40deg, #03a0c3 50%, #0ab3ff 50%);
  color: #ffff; font-family: 'AvenirLight';
}

.multipledeleteandupdatebuttan button{ background: linear-gradient(40deg, #ff4081, #dc004b); color: #fff;
margin: 0 5px;}
.multipledeleteandupdatebuttan button:last-child{ background: linear-gradient(40deg, #21e289, #00c4fb);
 }
.DataTable .mat-card br{ display: none;}
.DataTable .mat-card mat-label{ margin-right: 10px;}
.DataTable .mat-card .tablewrapper { margin-bottom: 16px;}

/* modification on 5.04.2020 */
.calendar_data .mat-card{ box-shadow: none!important; padding: 0!important; margin:16px 0!important; }
.calendar_data .calender_first .mat-toolbar.mat-primary{ background: var(--button-color3); }

.calendar_data table th{ font-family: 'AvenirBlack'; }
.calendar_data table td{ font-family: 'AvenirMedium'; }
.lib-pager-class { clear: inherit!important; float: none!important; text-align: center; margin-top: 16px;}
.lib-pager-class .mat-form-field { width: 90px; margin: 0 10px}
.lib-pager-class .mat-form-field  .mat-form-field-flex { border: 1px solid #e4e4e4; padding: 0 5px; border-radius: 6px;
}
.lib-pager-class .mat-form-field  .mat-form-field-appearance-legacy .mat-form-field-underline{ height: 0; }

/* manage admin */
.adptient_manually mat-form-field{
  width: 32%;
  display: inline-flex;
  margin: 0 6px;

}
.adptient_manually .mat-form-field-appearance-legacy .mat-form-field-wrapper{
  width: 100%;
}
.adptient_manually .form_header_practice_name {  display: block;
  font-size: 18px;
  color: #000000;
  font-family: 'AvenirMedium';
  text-transform: uppercase; position: relative;
}
.adptient_manually .form_header_practice_name::before{
  content: ''; width: 30%; height: 2px;
  background: #8bc348;
  position: absolute;
  bottom: -5px;
}
.adptient_manually .form_header_ { display: block;}
/* for calendar-management library */
.book-event .mat-dialog-container .mat-stepper-horizontal .width-md { width: 32%; }
/**********************************/

.db_title{ font-family: 'AvenirMedium'; font-size: 20px; color: #535353; text-transform: capitalize; border-bottom: 1px solid #a5a5a5; padding-bottom: 10px; }
.app_list .mat-card{ padding: 0!important; }
.app_list .mat-card .searchbar { padding: 0; }
lib-listing .container .mat-card{ padding: 0; box-shadow: none;}
.book-appointment .mat-form-field{ width: 32%;}
/* calendar management */
.book-event .mat-dialog-container .mat-stepper-horizontal .mat-horizontal-content-container,
.book-appointment .mat-stepper-horizontal .mat-horizontal-content-container{padding: 0;}

.book-appointment .mat-stepper-horizontal h4,
.book-event .mat-dialog-container .mat-stepper-horizontal h4{ font-family: 'AvenirMedium'; margin: 0; font-size: 20px;
  color: #0ac3a2; text-transform: uppercase; margin-bottom: 14px; }  

.book-appointment .mat-stepper-horizontal .containerSpan mat-label,
.book-event .mat-dialog-container .mat-stepper-horizontal .containerSpan mat-label{ color: #505050; }

.book-appointment .mat-stepper-horizontal .lib_wrpr .lb_item .header,
.book-event .mat-dialog-container .mat-stepper-horizontal .lib_wrpr .lb_item .header { font-family: 'AvenirMedium'; font-size: 18px; text-transform: uppercase; color: #036d6d;}

.book-appointment .mat-stepper-horizontal .lib_wrpr .lb_item .symptoms_type .checbox_wrapper,
.book-event .mat-dialog-container .mat-stepper-horizontal .lib_wrpr .lb_item .symptoms_type .checbox_wrapper { min-width: 150px; margin-left: 10px; }

.book-appointment .mat-stepper-horizontal .lib_wrpr .lb_item .symptoms_type,
.book-event .mat-dialog-container .mat-stepper-horizontal .lib_wrpr .lb_item .symptoms_type {margin-bottom: 6px; font-family: 'AvenirMedium'; font-size: 14px; color: #5f5c5a;}

.book-appointment .mat-stepper-horizontal .lib_wrpr .lb_item .symptoms_type .label_name,
.book-event .mat-dialog-container .mat-stepper-horizontal .lib_wrpr .lb_item .symptoms_type .label_name{
  font-size: 16px; color: #0ac3a2; text-align: left; word-break: break-word; }

.book-appointment .mat-stepper-horizontal .containerSpan,  
.book-event .mat-dialog-container .mat-stepper-horizontal .containerSpan { overflow: inherit;
  clear: none;} 


.book-appointment div>.mat-raised-button,
.book-event .mat-dialog-container .mat-raised-button { background: linear-gradient(45deg, #21b9ff, #8bc348);
  margin-top: 16px; min-width: 120px; font-family: 'AvenirBlack'; border-radius: 0; text-transform: uppercase;}

/* bulk-upload/report-conformation */
.report_modal td button{  font-family: 'AvenirMedium'; background: linear-gradient(45deg, #048006, #77da00);
 border-radius: 0; text-transform: uppercase; color: #fff!important;}
.modal_view .mat-form-field{ width:100%;}
.modal_view .mat-form-field .mat-form-field-flex { padding: 0 7px 4px; border: 1px solid #dadada; }

  /* new modification */
.admin_dashboard .DataTable .searchbar .mat-form-field{ width: 23.5%;}
.admin_dashboard .DataTable .tablewrapper tr td .custombutton0{display: inline; margin-right: 10px;} 
.admin_dashboard .DataTable .tablewrapper tr td .custombutton1 { display: inline; }
.admin_dashboard .DataTable .container .searchbar .search_class:first-child { margin-left: 20px;}
.admin_dashboard .DataTable .container .searchbar .search_class { width:auto;}

.admin_dashboard .DataTable .tablewrapper tr td .custombutton0 button,
.admin_dashboard .DataTable .tablewrapper tr td .custombutton1 button{ font-family: 'AvenirMedium'; background: var(--button-color3); box-shadow: none; margin-bottom: 10px;}
.admin_dashboard .DataTable .tablewrapper tr td .custombutton1 button{ background: var(--button-color2);}
.admin_dashboard .DataTable .tablewrapper tr .mat-column-general_details p{ margin:6px 0}
.admin_dashboard .DataTable .tablewrapper tr .mat-column-general_details p:nth-child(1){color: #21e289; font-size: 15px; font-weight: 700;}
.admin_dashboard .DataTable .tablewrapper tr .mat-column-general_details p:nth-child(2){color: #6fc4dc; font-weight: 600;}
.form2_wrapper .DataTable .searchbar .mat-form-field{ width:48%;}