


.add_form{margin: 20px auto; background: #f3f3f3; padding: 16px 10px; padding-bottom: 50px; border: 1px solid #91e7ff; }
.add_form .form_wrapper .mat-form-field{ width: 49%; margin: 0.5%; }
.add_form .form_wrapper textarea{ resize: none;}
.add_form h2{ font-family: "RobotoBlack"; text-transform: uppercase; font-size: 24px; padding: 0 6px; color: #1dbce9; }

.add_form .submit_form{ display: flex; width: 100%; text-align: center; margin-top: 30px; justify-content: center;  }

.add_form .submit_form button{ border-radius: 5px; text-transform: uppercase; font-family: "AvenirMedium"; font-size: 26px; padding: 6px 10px;
  width: 200px; background: var(--button-color2); color: #fff; margin-right: 16px;}
.add_form .submit_form button:first-child{ margin-right: 16px; background: var(--button-color1);}
.add_form .submit_form button:last-child{ margin-right: 0px; background: var(--button-color3);}

.add_form .return_button { background: #1dbce9; color: #fff; margin-bottom: 12px; margin-left: 0;}



@media screen and (max-width: 1460px){
  .techdashboard_header .mat-toolbar-row .quotation p { font-size: 24px; line-height: 26px;}
}
@media screen and (max-width: 1400px){
  .add_form .submit_form button {width: 240px;margin: 8px; font-size: 20px;}
}
@media screen and (max-width: 1100px){
  .add_form .submit_form button { width: 240px; font-size: 18px;  padding: 5px;}
}
@media screen and (max-width: 991px){
.techdashboard_header .mat-toolbar-row { flex-direction: column; padding: 20px;}
.techdashboard_header .mat-toolbar-row .quotation p { margin-top: 16px; }
.add_form .submit_form { display: flex; flex-wrap: wrap; }
.add_form .submit_form button { width: 47%; }
}
@media screen and (max-width: 768px){
  .add_form .form_wrapper .mat-form-field { width: 100%; margin: 0; }

.add_form .submit_form button { width: 100%; }
}
@media screen and (max-width: 576px){
.add_form .submit_form button { font-size: 22px; padding: 2px; }

.add_form .submit_form button { width: 100%; margin: 0; margin-top: 20px; }
.add_form .submit_form { display: flex; flex-direction: column-reverse; text-align: center; margin-top: 0px; }
.add_form .submit_form button:nth-child(1) { margin-right: 0; margin-top: 20px; }
}

@media screen and (max-width: 360px){
.techdashboard_header .mat-toolbar-row .quotation p { font-size: 16px; line-height: 22px; }
.add_form h2 { font-size: 22px; line-height: 24px; text-align: center; }
}


