<app-admin-header></app-admin-header>

<mat-card class="add_form">
    <h2>Account Information</h2>
    <mat-card-content class="form_wrapper">
        <form class="example-form" autocomplete="off" name="AccountSettingsForm" [formGroup]="AccountSettingsForm"
            (ngSubmit)="AccountSettingsFormSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Enter First Name</mat-label>
                <input matInput placeholder="First Name" [formControl]="AccountSettingsForm.controls['firstname']"
                    (blur)="inputUntouch(AccountSettingsForm,'firstname')">
                <mat-error *ngIf="AccountSettingsForm.controls['firstname'].touched && !AccountSettingsForm.controls['firstname'].valid
           && AccountSettingsForm.controls['firstname'].errors.required">
                    First Name field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter Last Name</mat-label>
                <input matInput placeholder="Last Name" [formControl]="AccountSettingsForm.controls['type']"
                    (blur)="inputUntouch(AccountSettingsForm,'type')">
                <mat-error *ngIf="AccountSettingsForm.controls['type'].touched && !AccountSettingsForm.controls['type'].valid
           && AccountSettingsForm.controls['type'].errors.required">
                    Last Name field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" [formControl]="AccountSettingsForm.controls['email']"
                    (blur)="inputUntouch(AccountSettingsForm,'email')">
                <mat-error *ngIf="AccountSettingsForm.controls['email'].touched && !AccountSettingsForm.controls['email'].valid
            && AccountSettingsForm.controls['email'].errors.required">
                    E-Mail field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Phone </mat-label>
                <input type="number" matInput placeholder="Phone"
                    [formControl]="AccountSettingsForm.controls['phoneno']"
                    (blur)="inputUntouch(AccountSettingsForm,'phoneno')">
                <mat-error *ngIf="AccountSettingsForm.controls['phoneno'].touched && !AccountSettingsForm.controls['phoneno'].valid
            && AccountSettingsForm.controls['phoneno'].errors.required">
                    Phone Number field can not be blank</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date</mat-label>
                <input [value]="date.value" matInput [matDatepicker]="myPicker" placeholder="date">
                <mat-datepicker-toggle matSuffix [for]="myPicker" disabled></mat-datepicker-toggle>
                <mat-datepicker #myPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-group">
                <input matInput placeholder="Password" type="password"
                    [formControl]="AccountSettingsForm.controls['password']">
                <mat-error
                    *ngIf="!AccountSettingsForm.controls['password'].valid && AccountSettingsForm.controls['password'].touched">
                    Password field can not be blank</mat-error>
            </mat-form-field>
            <mat-form-field class="form-group">
                <input matInput placeholder="Confirm Password" type="password"
                    [formControl]="AccountSettingsForm.controls['confirmpassword']">
                <mat-error
                    *ngIf="!AccountSettingsForm.controls['confirmpassword'].valid && AccountSettingsForm.controls['confirmpassword'].touched">
                    Password does not match </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Zip</mat-label>
                <input type="number" matInput placeholder="ZIP" [formControl]="AccountSettingsForm.controls['zip']"
                    (blur)="inputUntouch(AccountSettingsForm,'zip')">
                <mat-error *ngIf="AccountSettingsForm.controls['zip'].touched && !AccountSettingsForm.controls['zip'].valid
          && AccountSettingsForm.controls['zip'].errors.required">
                    Zip field can not be blank</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" [formControl]="AccountSettingsForm.controls['address']"
                    (blur)="inputUntouch(AccountSettingsForm,'address')">
                <mat-error *ngIf="AccountSettingsForm.controls['address'].touched && !AccountSettingsForm.controls['address'].valid
            && AccountSettingsForm.controls['address'].errors.required">
                    Address field can not be blank</mat-error>
            </mat-form-field>
            <mat-form-field class="parent_cat" appearance="fill">
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                    <mat-option value=0>Select a category</mat-option>
                    <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="parent_cat" appearance="fill">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                    <mat-option [value]=0>Select a category</mat-option>
                    <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput placeholder="type" [formControl]="AccountSettingsForm.controls['type']"
                    (blur)="inputUntouch(AccountSettingsForm,'type')">
                <mat-error *ngIf="AccountSettingsForm.controls['type'].touched && !AccountSettingsForm.controls['type'].valid
           && AccountSettingsForm.controls['type'].errors.required">
                   Type field can not be blank</mat-error>
            </mat-form-field>

            <span class="submit_form">
                <button mat-flat-button (click)="ResetForm()">Cancel </button>
                <button mat-flat-button type="submit">{{ buttonText }} </button>
            </span>



        </form>
    </mat-card-content>




</mat-card>