<app-tech-header></app-tech-header>

<mat-card class="admin_wrapper">

  <ng-container *ngIf="htmlText.confirmSubmittedDataSource.length > 0">
    <mat-card-content class="table_wrapper">
      <mat-toolbar class="top_header">
        <h2> Confirm submitted records with existing patient profile which yet to have a report.</h2>
      </mat-toolbar>
      <div class="tablewrapper">
      <table mat-table [dataSource]="confirmSubmittedDataSource" class="report_modal mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="patient_report">
          <th mat-header-cell *matHeaderCellDef> Patient Report </th>
          <td mat-cell *matCellDef="let element"> {{ element.file_original_name }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="suggested_patient_by_system">
          <th mat-header-cell *matHeaderCellDef> Suggested Patient by System </th>
          <td mat-cell *matCellDef="let element">

            <ng-container *ngFor="let p of element.patient_details; let i = index;">
              <p>Patient Name: {{ p.patient_name }}</p>
              <p>Date of Birth: {{ p.dob | date }}</p>
              <p>Gender: {{ p.gender }}</p>
              <p>Height: {{ p.height }}</p>
              <p>Waigth: {{ p.weight }}</p>
              <p *ngIf="p.doctor_details.length > 0">Related Doctor: {{ p.doctor_details[0].firstname }} {{ p.doctor_details[0].lastname }} </p>
              <p *ngIf="p.doctor_office_details.length > 0">Doctor Office: {{ p.doctor_office_details[0].firstname }} {{ p.doctor_office_details[0].lastname }}
              </p>
            </ng-container>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="choose_other_patient">
          <th mat-header-cell *matHeaderCellDef> Choose Other Patient </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-button color="primary" (click)="changePatientDialog('submitted', i);">Select Patient</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="confirmSubmittedDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: confirmSubmittedDisplayedColumns;"></tr>
      </table>
    </div>
    </mat-card-content>
  </ng-container>

  <ng-container *ngIf="htmlText.conflictingPatientRecordsDataSource.length > 0">
    <mat-card-content class="table_wrapper">
      <mat-toolbar class="top_header">
        <h2> Conflicting Patient Records </h2>
      </mat-toolbar>
    </mat-card-content>
    <div class="tablewrapper">
    <table mat-table [dataSource]="conflictingPatientRecordsDataSource" class="report_modal mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="patient_report">
        <th mat-header-cell *matHeaderCellDef> Patient Report </th>
        <td mat-cell *matCellDef="let element"> {{ element.file_original_name }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="conflicting_records">
        <th mat-header-cell *matHeaderCellDef> Conflicting Records </th>
        <td mat-cell *matCellDef="let element; let j = index;">
          <ng-container *ngFor="let p of element.patient_details; let i = index;">

            <p>Patient Name: {{ p.patient_name }}</p>
            <p>Date of Birth: {{ p.dob | date }}</p>
            <p>Gender: {{ p.gender }}</p>
            <p>Height: {{ p.height }}</p>
            <p>Waigth: {{ p.weight }}</p>
            <p>
              <button mat-raised-button color="primary"
                (click)="selectConflictingRecord('conflicting', j, i);">Select</button>
            </p>

          </ng-container>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="choose_other_patient">
        <th mat-header-cell *matHeaderCellDef> Choose Other Patient </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <button mat-button color="primary" (click)="changePatientDialog('conflicting', i);">Select Patient</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="conflictingPatientRecordsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: conflictingPatientRecordsDisplayedColumns;"></tr>
    </table>
  </div>
  </ng-container>

  <br />

  <ng-container *ngIf="htmlText.notFindDataSource.length > 0">
    <mat-card-content class="table_wrapper">
      <mat-toolbar class="top_header">
        <h2> Reports That System can't Map </h2>
      </mat-toolbar>
    </mat-card-content>
    <div class="tablewrapper"> 
      <table mat-table [dataSource]="notFindPatientRecordsDataSource" class="report_modal">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="patient_report">
          <th mat-header-cell *matHeaderCellDef> Patient Report </th>
          <td mat-cell *matCellDef="let element"> {{ element.file_original_name }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="choose_other_patient">
          <th mat-header-cell *matHeaderCellDef> Choose Other Patient </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-button color="primary" (click)="changePatientDialog('not found', i);">Select Patient</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="notFindPatientRecordsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: notFindPatientRecordsDisplayedColumns;"></tr>
      </table>
   
    </div>
  </ng-container>

  <mat-card-content class="con-report-lebel">
    <p>
      <mat-checkbox [(ngModel)]="checkboxData.checkbox1">You want to submit with conflicts then please check this to
        agree conflicting data will not be added/updated into the system.</mat-checkbox>
    </p>
    <p>
      <mat-checkbox [(ngModel)]="checkboxData.checkbox2">All mapping of patient records and patient data is verified
        correct.</mat-checkbox>
    </p>

    <button mat-raised-button color="primary" (click)="updateRecord();">Submit</button>
  </mat-card-content>
</mat-card>


<app-admin-footer></app-admin-footer>