<app-tech-header></app-tech-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="table_wrapper">
    
    <mat-toolbar class="top_header">
      <h2> Confirm submitted records with existing patient profile which yet to have a report.</h2>
    </mat-toolbar>

    <table mat-table [dataSource]="confirmSubmittedDataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="patient_report">
        <th mat-header-cell *matHeaderCellDef> Patient Report </th>
        <td mat-cell *matCellDef="let element"> {{ element.file_original_name }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="suggested_patient_by_system">
        <th mat-header-cell *matHeaderCellDef> Suggested Patient by System </th>
        <td mat-cell *matCellDef="let element">
          <p>Patient Name: {{ element.patient_details[0].patient_name }}</p>
          <p>Date of Birth: {{ element.patient_details[0].dob | date }}</p>
          <p>Gender: {{ element.patient_details[0].gender }}</p>
          <p>Height: {{ element.patient_details[0].height }}</p>
          <p>Waigth: {{ element.patient_details[0].weight }}</p>
          <p>Related Doctor: </p>
          <p>Doctor Office: </p>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="choose_other_patient">
        <th mat-header-cell *matHeaderCellDef> Choose Other Patient </th>
        <td mat-cell *matCellDef="let element; let i = index;">

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Select manual"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto"
                     (click)="selectArrayIndex('find', i);">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="confirmSubmittedDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: confirmSubmittedDisplayedColumns;"></tr>
    </table>

  </mat-card-content>

  <mat-card-content class="table_wrapper">
    <mat-toolbar class="top_header">
      <h2> Conflicting Patient Records </h2>
    </mat-toolbar>
  </mat-card-content>

  <table mat-table [dataSource]="conflictingPatientRecordsDataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="patient_report">
      <th mat-header-cell *matHeaderCellDef> Patient Report </th>
      <td mat-cell *matCellDef="let element"> {{ element.file_original_name }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="conflicting_records">
      <th mat-header-cell *matHeaderCellDef> Conflicting Records </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let p of element.patient_details; let i = index;">
          <p>
            <mat-checkbox>
              <p>Patient Name: {{ p.patient_name }}</p>
              <p>Date of Birth: {{ p.dob | date }}</p>
              <p>Gender: {{ p.gender }}</p>
              <p>Height: {{ p.height }}</p>
              <p>Waigth: {{ p.weight }}</p>
            </mat-checkbox>
          </p>
        </ng-container>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="choose_other_patient">
      <th mat-header-cell *matHeaderCellDef> Choose Other Patient </th>
      <td mat-cell *matCellDef="let element">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Assignee</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.patient_name">
                {{option.patient_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="conflictingPatientRecordsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: conflictingPatientRecordsDisplayedColumns;"></tr>
  </table>

  <br />

  <mat-card-content class="table_wrapper">
    <mat-toolbar class="top_header">
      <h2> Reports That System can't Map </h2>
    </mat-toolbar>
  </mat-card-content>

  <table mat-table [dataSource]="notFindPatientRecordsDataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="patient_report">
      <th mat-header-cell *matHeaderCellDef> Patient Report </th>
      <td mat-cell *matCellDef="let element"> {{ element.file_original_name }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="choose_other_patient">
      <th mat-header-cell *matHeaderCellDef> Choose Other Patient </th>
      <td mat-cell *matCellDef="let element">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Assignee</mat-label>
            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.patient_name">
                {{option.patient_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="notFindPatientRecordsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: notFindPatientRecordsDisplayedColumns;"></tr>
  </table>

  <br />
  <br />

  <p>
    <mat-checkbox>You want to submit with conflicts then please check this to agree conflicting data will not be added/updated into the system.</mat-checkbox>
  </p>
  <p>
    <mat-checkbox>All mapping of patient records and patient data is verified correct.</mat-checkbox>
  </p>

  <button mat-raised-button color="primary">Submit</button>

</mat-card>


<app-admin-footer></app-admin-footer>