<app-doctor-group-header></app-doctor-group-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.billerCount }}</h4>
          <span class="tolTip">
            <a mat-raised-button #NumberofBillers="matTooltip" matTooltip="comming..." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="NumberofBillers.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Billers</p>
        <button mat-button [routerLink]="['/doctor-group/biller-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.techCount }}</h4>
          <span class="tolTip">
            <a mat-raised-button #NumberofTechs="matTooltip" matTooltip="comming..." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="NumberofTechs.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Techs</p>
        <button mat-flat-button [routerLink]="['/doctor-group/tech-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.doctorOfficeCount }}</h4>
          <span class="tolTip">
            <a mat-raised-button #NoDoctorsOffice="matTooltip" matTooltip="comming..." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="NoDoctorsOffice.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total No of <br>Doctor's Office</p>
        <button mat-flat-button [routerLink]="['/doctor-group/doctor-office-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content>


  <!-- Doctor occide related -->
  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount">{{ allResolveData.doctorsCount }}</h4>
          <span class="tolTip">
            <a mat-raised-button #TotalDrs="matTooltip" matTooltip="comming..." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TotalDrs.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total No of <br>Doctors</p>
        <button mat-flat-button [routerLink]="['/doctor-group/doctor-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content>


  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>Physician Report and Super Bills</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports Added
          </p>
          <h2>{{ allResolveData.reportsAddedCount }}</h2>
          <!-- <button mat-flat-button (click)="viewReportProcessData('Total Number of Reports Added')">view all</button> -->
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Report Processed
          </p>
          <h2>{{ allResolveData.reportProcessedCount }}</h2>
          <button mat-flat-button (click)="viewReportProcessData('Total Number of Report Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total No of <br>
            Report Signed
          </p>
          <h2> {{ allResolveData.reportSignedCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Total Number of Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Sent to <br>
            Biller
          </p>
          <h2> {{ allResolveData.sendTobBillerCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Sent to Biller')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Downloaded </p>
          <h2> {{ allResolveData.sendTobBillerCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Reports Downloaded')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Pending Sing </p>
          <h2> {{ allResolveData.reportsPendingSingCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Reports Pending Sing')">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>


  <!-- Share doctor sign up link -->
  <app-doctor-signup-share [shareDetails]="shareDetails"></app-doctor-signup-share>


  <!-- All Data listing start here(default listing) -->
  <mat-card-content class="table_wrapper">

    <mat-toolbar class="top_header">
      <h2> {{ htmlText.headerText }} </h2>
      <span class="wrappp_R">
        <button class="add_new tooltip" mat-button routerLink="/admin/patient-management/add" matTooltip="Add Report"
          matTooltipPosition="above">
          <!-- <span class="tooltiptext"> Add Report </span> -->
          <i class="material-icons">add</i> Add Report Manually
        </button>


        <button class="add_new tooltip" mat-button matTooltipPosition="above" matTooltip="ReportRefresh Dashboard">
          <!-- <span class="tooltiptext"> Refresh Dashboard </span> -->
          <i class="material-icons">cached</i>
        </button>
      </span>
    </mat-toolbar>


    <mat-card-content class="tablewrapper admin_dashboard">
      <!-- table -->
      <lib-listing class="DataTable" *ngIf="allBillerData.length>0" [datasource]="allBillerData"
        [skip]="allUserData_skip" [modify_header_array]="allUserData_modify_header"
        [detail_skip_array]="previewModal_detail_skip" [apiurl]="apiUrl" [sourcedata]="tableName" [editroute]="editUrl"
        [jwttoken]="jwtToken" [statusarr]="status" [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint"
        [date_search_endpoint]="SearchingEndpoint" [date_search_source]="SearchingSourceName"
        [search_settings]="search_settings" [sortdata]="sortdata" [datacollection]="datacollection" [libdata]="libdata"
        [date_search_source_count]="billerData_count" [limitcond]="limitcond">
      </lib-listing>
    </mat-card-content>


  </mat-card-content>


</mat-card>

<app-doctor-group-footer></app-doctor-group-footer>