<app-doctor-group-header></app-doctor-group-header>
<mat-card class="admin_wrapper">
  <!-- Encounter Form Status Section Start -->
  <mat-card-content class="admin_superbillsection">
    <h1>Encounter Form Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Tests Done
          </p>
          <h2> 1</h2>
          <button mat-flat-button >view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            CPT Codes Found 
          </p>
          <h2> 23 </h2>
          <button mat-flat-button >view all</button>
        </span>
      </mat-card-content>
      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            CPT Codes Not Found
          </p>
          <h2> 12 </h2>
          <button mat-flat-button >view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
  <!-- Encounter Form Status Section End -->

 
</mat-card>

<app-doctor-group-footer></app-doctor-group-footer>