<span class="main_wrapper">

  <mat-card class="login_wrapper">

    <mat-card-content>
      <div class="login_container">
        <span class="logo_section">
          <img src="assets/images/logo.png">
        </span>
        <h2>FORGOTTEN PASSWORD</h2>

        <p class="paragraph">Please enter your valid email address and you will be sent a link to reset your password.
          You must use the same email id you have registered with us. If you no longer have the same email address then
          you must contact us directly with proof of your identity.</p>
        <!-- <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
            <input matInput   type="email">
          </mat-form-field>

          <button mat-flat-button color="primary" class="loginBtn">Reset Password</button> -->

        <lib-forget-password 
        [serverUrl]="serverUrl"
        [signUpRouteingUrl]="signUpRouteingUrl" 
        [domainUrl]="domainUrl"
        [addEndpoint]="addEndpoint" 
        [loginRouteingUrl]="loginRouteingUrl" 
        [buttonName]="buttonName"
        [formTitle]="formTitle"
          > </lib-forget-password>
        <!-- <span class="forget_wrapper">
            <a routerLink="/login">Login</a>
          </span> -->
      </div>

    </mat-card-content>

  </mat-card>

</span>