<!-- Admin Header -->
<app-admin-header *ngIf="htmlText.user_details.user_type == 'admin'"></app-admin-header>

<!-- Diagnostic Admin Header -->
<app-diagnostic-admin-header *ngIf="htmlText.user_details.user_type == 'diagnostic_admin'"></app-diagnostic-admin-header>

<!-- Doctor Group Header -->
<app-doctor-group-header *ngIf="htmlText.user_details.user_type == 'doctor_group'"></app-doctor-group-header>

<!-- Distributor Admin Header -->
<app-distributors-header
*ngIf="htmlText.user_details.user_type == 'distributors'"></app-distributors-header>

<!-- Doctor Header -->
<app-doctor-header *ngIf="htmlText.user_details.user_type == 'doctor'"></app-doctor-header>


<!-- header with add button -->
<mat-card class="admin_wrapper">
  <mat-card-content class="title_wrapper">
    {{ htmlText.header }}
  </mat-card-content>


  <span class="add_header">

    <ng-container *ngIf="htmlText.user_details.user_type == 'admin'">
      <span class="bradcrumb">
        <a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/admin/doctor-management']">Manage Doctor &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>

    <ng-container *ngIf="htmlText.user_details.user_type == 'diagnostic_admin'">
      <span class="bradcrumb">
        <a [routerLink]="['/diagnostic-admin/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/diagnostic-admin/doctor-management']">Manage Doctor &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>

    <ng-container *ngIf="htmlText.user_details.user_type == 'distributors'">
      <span class="bradcrumb">
        <a [routerLink]="['/distributors/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/distributors/doctor-management']">Manage Doctor &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>

    <ng-container *ngIf="htmlText.user_details.user_type == 'doctor_group'">
      <span class="bradcrumb">
        <a [routerLink]="['/doctor-group/dashboard']">Dashboard &nbsp;/</a> &nbsp;
        <a [routerLink]="['/doctor-group/doctor-management']">Manage Doctor &nbsp;/</a> &nbsp;
        {{ htmlText.nav }}
      </span>
    </ng-container>

  </span>
  <!-- End header with add button -->

  <mat-card class="add_form">
    <mat-card-content class="form_wrapper">
      <form class="example-form" autocomplete="off" [formGroup]="doctorManagementAddEditForm" (ngSubmit)="doctorManagementAddEditFormSubmit()">

        <!-- First Name Start -->
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>

          <input matInput placeholder="First Name" [formControl]="doctorManagementAddEditForm.controls['firstname']"
            (blur)="inputUntouch(doctorManagementAddEditForm,'firstname')">

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['firstname'].touched && !doctorManagementAddEditForm.controls['firstname'].valid && doctorManagementAddEditForm.controls['firstname'].errors.required">
            First Name required.
          </mat-error>

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['firstname'].touched && !doctorManagementAddEditForm.controls['firstname'].valid && doctorManagementAddEditForm.controls['firstname'].errors.maxlength">
            First Name is not valid.
          </mat-error>
        </mat-form-field>
        <!-- First Name End -->

        <!-- Last Name Start -->
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>

          <input matInput placeholder="Last Name" [formControl]="doctorManagementAddEditForm.controls['lastname']"
            (blur)="inputUntouch(doctorManagementAddEditForm,'lastname')">

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['lastname'].touched && !doctorManagementAddEditForm.controls['lastname'].valid && doctorManagementAddEditForm.controls['lastname'].errors.required">
            Last Name required.
          </mat-error>

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['lastname'].touched && !doctorManagementAddEditForm.controls['lastname'].valid && doctorManagementAddEditForm.controls['lastname'].errors.maxlength">
            Last Name is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Last Name End -->

        <!-- Email Start -->
        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>

          <input matInput placeholder="Email Address" [formControl]="doctorManagementAddEditForm.controls['email']"
            (blur)="inputUntouch(doctorManagementAddEditForm,'email')">

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['email'].touched && !doctorManagementAddEditForm.controls['email'].valid && doctorManagementAddEditForm.controls['email'].errors.required">
            Email required.
          </mat-error>

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['email'].touched && !doctorManagementAddEditForm.controls['email'].valid && doctorManagementAddEditForm.controls['email'].errors.email">
            Email is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Email End -->



        <!-- Phone Number Start -->
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>

          <input matInput placeholder="Phone" [formControl]="doctorManagementAddEditForm.controls['phone']"
            (blur)="inputUntouch(doctorManagementAddEditForm,'phone')">

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['phone'].touched && !doctorManagementAddEditForm.controls['phone'].valid && doctorManagementAddEditForm.controls['phone'].errors.required">
            Phone Number required.
          </mat-error>

          <mat-error
            *ngIf="doctorManagementAddEditForm.controls['phone'].touched && !doctorManagementAddEditForm.controls['phone'].valid && doctorManagementAddEditForm.controls['phone'].errors.maxlength">
            Phone Number is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Phone Number End -->

        <!-- FAX -->
        <mat-form-field appearance="fill">
          <mat-label>Fax</mat-label>

          <input matInput placeholder="Fax Number" formControlName="fax" (blur)="inputUntouch(doctorManagementAddEditForm,'fax')">
          
          <mat-error *ngIf="doctorManagementAddEditForm.controls['fax'].touched && !doctorManagementAddEditForm.controls['fax'].valid && doctorManagementAddEditForm.controls['fax'].errors.required">
            Fax required.
          </mat-error>
        </mat-form-field>


        <!-- Practice Name Start  -->
        <mat-form-field appearance="fill">
          <mat-label>Practice Name</mat-label>
          
          <input matInput placeholder="Practice Name" formControlName="practice_name" (blur)="inputUntouch(doctorManagementAddEditForm, 'practice_name')">
          
          <mat-error *ngIf="doctorManagementAddEditForm.controls['practice_name'].touched && !doctorManagementAddEditForm.controls['practice_name'].valid && doctorManagementAddEditForm.controls['practice_name'].errors.required">
            Practice Name required.
          </mat-error>
        </mat-form-field>
        <!-- Practice Name Start  -->


        <mat-form-field appearance="fill">
          <mat-label>Select Taxonomies</mat-label>
          <mat-select formControlName="taxo_list" multiple>
            <mat-option [value]="">Select Tech</mat-option>
            <mat-option *ngFor="let taxonomie of htmlText.taxonomies;" value="{{ taxonomie.name }}">{{ taxonomie.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- NPI Start  -->
        <mat-form-field appearance="fill">
          <mat-label>#NPI</mat-label>
          
          <input matInput placeholder="#NPI Number" formControlName="npi" (blur)="inputUntouch(doctorManagementAddEditForm,'npi')">
          
          <mat-error *ngIf="doctorManagementAddEditForm.controls['npi'].touched && !doctorManagementAddEditForm.controls['npi'].valid && doctorManagementAddEditForm.controls['npi'].errors.required">
            #NPI required.
          </mat-error>
        </mat-form-field>
        <!-- NPI End  -->

        <!-- Address Start -->
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>

          <input matInput placeholder="Address" [formControl]="doctorManagementAddEditForm.controls['address']"
            (blur)="inputUntouch(doctorManagementAddEditForm,'address')">

          <mat-error *ngIf="doctorManagementAddEditForm.controls['address'].touched && !doctorManagementAddEditForm.controls['address'].valid && doctorManagementAddEditForm.controls['address'].errors.required">
            Address required.
          </mat-error>

          <mat-error *ngIf="doctorManagementAddEditForm.controls['address'].touched && !doctorManagementAddEditForm.controls['address'].valid && doctorManagementAddEditForm.controls['address'].errors.maxlength">
            Address is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Address End -->


        <!-- parent type Start -->
        <mat-form-field class="parent_cat" appearance="fill" *ngIf = "htmlText.user_details.user_type == 'admin'">
          <mat-label>Parent Type</mat-label>

          <mat-select formControlName="parent_type">
            <mat-option [value]="admin">Select Parent Type</mat-option>
            <mat-option *ngFor="let parent of htmlText.parent_type;" value="{{ parent.value }}" (click)="getParentData(parent.name)">{{ parent.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Parent Type End -->


        <!-- Parent Name Start -->
        <mat-form-field appearance="fill" *ngIf = "selectionChangeValue == 'DiagnosticAdmin'">
          <mat-label>Select Parent Name</mat-label>
          <mat-select formControlName="parent_id">
            <mat-option [value]="">Select Parent Name</mat-option>
            <mat-option *ngFor="let parent of htmlText.parent_id;" value="{{ parent._id }}" (click)="getalldata(parent)">{{ parent.center_name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Parent Name name -->


        <!-- Parent Name Start -->
        <mat-form-field appearance="fill" *ngIf = "selectionChangeValue == 'DoctorGroup'">
          <mat-label>Select Parent Name</mat-label>
          <mat-select formControlName="parent_id">
            <mat-option [value]="">Select Parent Name</mat-option>
            <mat-option *ngFor="let parent of htmlText.parent_id;" value="{{ parent._id }}" (click)="getalldata(parent)">{{ parent.groupname }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Parent Name name -->


        <!-- Parent Name Start -->
        <mat-form-field appearance="fill" *ngIf = "selectionChangeValue == 'Distributor'">
          <mat-label>Select Parent Name</mat-label>
          <mat-select formControlName="parent_id" >
            <mat-option [value]="">Select Parent Name</mat-option>
            <mat-option *ngFor="let parent of htmlText.parent_id;" value="{{ parent._id }}" (click)="getalldata(parent)">{{ parent.distributorname }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Parent Name name -->


        <!-- Parent Name Start -->
        <!-- <mat-form-field appearance="fill" *ngIf = "selectionChangeValue == 'Admin'">
          <mat-label>Select Parent Name</mat-label>
          <mat-select formControlName="parent_id">
            <mat-option [value]="">Select Parent Name</mat-option>
            <mat-option *ngFor="let parent of htmlText.parent_id;" value="{{ parent._id }}">{{ parent.distributorname }}</mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- Parent Name name -->

        <!-- State Start -->
        <mat-form-field class="parent_cat" appearance="fill">
          <mat-label>State</mat-label>

          <!-- <mat-select formControlName="state" (selectionChange)="getCity($event.value);"> -->
            <mat-select formControlName="state">
            <mat-option [value]="">Select State</mat-option>
            <mat-option *ngFor="let state of htmlText.states;" value="{{ state.name }}">{{ state.name }}</mat-option>
          </mat-select>

          <mat-error *ngIf="doctorManagementAddEditForm.controls['state'].touched && !doctorManagementAddEditForm.controls['state'].valid && doctorManagementAddEditForm.controls['state'].errors.required">
            State required.
          </mat-error>
        </mat-form-field>
        <!-- State End -->

        <!-- City Start -->
        <!-- <mat-form-field class="parent_cat" appearance="fill">
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option value="">Select City</mat-option>
            <mat-option *ngFor="let city of htmlText.cities;" value="{{ city }}">{{ city }}</mat-option>
          </mat-select>
          <mat-error *ngIf="doctorManagementAddEditForm.controls['city'].touched && !doctorManagementAddEditForm.controls['city'].valid && doctorManagementAddEditForm.controls['city'].errors.required">
            State required.
          </mat-error>
        </mat-form-field> -->

        
         <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          
          <input matInput placeholder="City" formControlName="city" (blur)="inputUntouch(doctorManagementAddEditForm,'city')">
          
          <mat-error *ngIf="doctorManagementAddEditForm.controls['npi'].touched && !doctorManagementAddEditForm.controls['city'].valid && doctorManagementAddEditForm.controls['city'].errors.required">
            City required.
          </mat-error>
        </mat-form-field>
      

        <!-- City End -->

        <!-- Tech Details Start -->
        <mat-form-field appearance="fill">
          <mat-label>Select Tech</mat-label>
          <mat-select formControlName="tech_id" multiple>
            <mat-option [value]="">Select Tech</mat-option>
            <mat-option *ngFor="let tech of htmlText.techData;" value="{{ tech._id }}">{{ tech.firstname }} {{tech.lastname}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Tech Details name -->

        <!-- Biller Details Start -->
        <mat-form-field appearance="fill">
          <mat-label>Select Biiler</mat-label>
          <mat-select formControlName="biller_id" multiple>
            <mat-option [value]="">Select a biiler</mat-option>
            <mat-option *ngFor="let biller of htmlText.billerData;" value="{{ biller._id }}">{{ biller.firstname }} {{ biller.lastname }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Biller Details End -->

        <!-- Doctor's Office Start -->
        <mat-form-field appearance="fill">
          <mat-label>Select Doctor's Office</mat-label>
          <mat-select formControlName="doctors_office_id" multiple>
            <mat-option [value]="">Select Doctor's Office</mat-option>
            <mat-option *ngFor="let doctorOfficeData of htmlText.doctorOfficeData;" value="{{ doctorOfficeData._id }}">{{ doctorOfficeData.firstname }} {{ doctorOfficeData.lastname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Doctor's Office End -->

        <!-- Zip Start -->
        <mat-form-field appearance="fill">
          <mat-label>Zip</mat-label>

          <input type="number" matInput placeholder="ZIP" [formControl]="doctorManagementAddEditForm.controls['zip']"
            (blur)="inputUntouch(doctorManagementAddEditForm,'zip')">

          <mat-error *ngIf="doctorManagementAddEditForm.controls['zip'].touched && !doctorManagementAddEditForm.controls['zip'].valid && doctorManagementAddEditForm.controls['zip'].errors.required">
            Zip required.
          </mat-error>
        </mat-form-field>
        <!-- Zip Start -->



        <ng-container *ngIf="!params_id">
          <!-- Password Start -->
          <ng-container *ngIf="!params_id">
            <mat-form-field class="form-group" appearance="fill">

              <input matInput placeholder="Password" type="password"
                [formControl]="doctorManagementAddEditForm.controls['password']">

              <mat-error *ngIf="!doctorManagementAddEditForm.controls['password'].valid && doctorManagementAddEditForm.controls['password'].touched">
                Password required.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group" appearance="fill">
              <input matInput placeholder="Confirm Password" type="password"
                [formControl]="doctorManagementAddEditForm.controls['confirmpassword']">

              <mat-error *ngIf="!doctorManagementAddEditForm.controls['confirmpassword'].valid && doctorManagementAddEditForm.controls['confirmpassword'].touched">
                Password does not match
              </mat-error>
            </mat-form-field>
          </ng-container>
          <!-- Password End -->
        </ng-container>

        <!-- Status -->
        <span class="status_wrapper">
          <mat-checkbox formControlName="status">Active</mat-checkbox>
        </span>

        <span class="submit_form">
          <ng-container *ngIf="htmlText.user_details.user_type == 'admin'">
            <button mat-flat-button type="button" [routerLink]="['/admin/doctor-management']"> Back</button>
          </ng-container>
          <ng-container *ngIf="htmlText.user_details.user_type == 'diagnostic_admin'">
            <button mat-flat-button type="button" [routerLink]="['/diagnostic-admin/doctor-management']">Back </button>
          </ng-container>
          <ng-container *ngIf="htmlText.user_details.user_type == 'distributors'">
            <button mat-flat-button type="button" [routerLink]="['/distributors/doctor-management']">Back </button>
          </ng-container>
          <ng-container *ngIf="htmlText.user_details.user_type == 'doctor_group'">
            <button mat-flat-button type="button" [routerLink]="['/doctor-group/doctor-management']">Back </button>
          </ng-container>

          <button mat-flat-button type="reset" *ngIf="params_id == ''">Reset</button>
          <button mat-flat-button type="submit"> {{ htmlText.buttonText }} </button>

          <button mat-flat-button type="button" *ngIf="params_id != ''" (click)="openDialog('')"> Change Password </button> 
        </span>

      </form>
    </mat-card-content>
  </mat-card>

</mat-card>


<app-tech-footer></app-tech-footer>