


.add_form{  margin: 20px auto; background: #f3f3f3; padding: 16px 10px; padding-bottom: 50px; border: 1px solid #91e7ff; }
.add_form .form_wrapper .mat-form-field{ width: 49%; margin: 0.5%; }
.add_form .form_wrapper textarea{ resize: none;}
.add_form h2{ font-family: "RobotoBlack"; text-transform: uppercase; font-size: 24px; padding: 0 6px; color: #1dbce9; }
.add_form .submit_form { display: flex; width: 100%; justify-content: center; text-align: center; margin-top: 30px; }
.add_form .submit_form button{ border-radius: 5px; text-transform: uppercase; font-family: "AvenirMedium"; font-size: 26px; padding: 6px 10px;
  width: 200px; background: var(--button-color2); color: #fff; margin-right: 16px;}
  .add_form .submit_form button:last-child{ margin-right: 0; background: #21e289;}
.add_form .submit_form button:first-child{ margin-right: 16px; background: var(--button-color1);}

.add_form .return_button { background: #1dbce9; color: #fff; margin-bottom: 12px;}




@media screen and (max-width: 1460px){
  .techdashboard_header .mat-toolbar-row .quotation p { font-size: 24px; line-height: 26px;}
  .add_form .submit_form button { margin: 0 8px; font-size: 20px; padding: 6px;  width: 250px; }
}

@media screen and (max-width: 1199px){
  .add_form .submit_form button {  font-size: 16px; width: 200px; }

}
@media screen and (max-width: 1000px){
  .add_form .submit_form button { width: 48%; }
}
@media screen and (max-width: 991px){
.techdashboard_header .mat-toolbar-row { flex-direction: column; padding: 20px;}
.techdashboard_header .mat-toolbar-row .quotation p { margin-top: 16px; }
.add_form .submit_form { display: flex; flex-wrap: wrap; }
.add_form .submit_form button { width: 47%; margin: 6px; }
}
@media screen and (max-width: 768px){
  .add_form .form_wrapper .mat-form-field { width: 100%; margin: 0; }
}
@media screen and (max-width: 576px){
.add_form .submit_form button { font-size: 22px; padding: 2px; }

.add_form .submit_form button { width: 100%; margin: 0; margin-top: 20px; }
.add_form .submit_form { display: flex; flex-direction: column-reverse; text-align: center; margin-top: 0px; }
.add_form .submit_form button:nth-child(1) { margin-right: 0; margin-top: 20px; }
}

@media screen and (max-width: 360px){
.techdashboard_header .mat-toolbar-row .quotation p { font-size: 16px; line-height: 22px; }
.add_form h2 { font-size: 22px; line-height: 24px; text-align: center; }
}

.add_header button{ margin-left: auto;
  background: linear-gradient(180deg, #fac855, #e47e2a)!important;
  text-transform: uppercase;
  font-family: "RobotoBlack"; padding-top: 4px;
}
