<ng-container *ngIf="cookiesData.type == 'admin'">
  <app-admin-header></app-admin-header>
</ng-container>

<ng-container *ngIf="cookiesData.type == 'tech'">
  <app-tech-header></app-tech-header>
</ng-container>

<ng-container *ngIf="cookiesData.type == 'biller'">
  <app-biller-header></app-biller-header>
</ng-container>

<ng-container *ngIf="cookiesData.type == 'doctor'">
  <app-doctor-header></app-doctor-header>
</ng-container>

<mat-card-content class="error_banner">
  
  <img src="assets/images/exclametroy_warning.png"> 
  <mat-card-content class="error_page_content">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

      <h1> 404 Error </h1>
      <h3> ooops! Page Not Found </h3>
      <button class="goto_home" mat-button>Back to home</button>
      </mat-card-content>
</mat-card-content>



<mat-card-content class="footer_section">
  <span class="footer_content">

    <mat-card-content class="link">
      <a href="">Privacy Policy</a>
      <a href=""> Terms & conditions</a>
    </mat-card-content>
    <p>© Copyright 2018 Advanced Wellness Solutions- All Rights Reserved</p>
  </span>
</mat-card-content>