<!-- Admin Header -->
<app-admin-header></app-admin-header>
<mat-card class="admin_wrapper">
  <!-- header with add button -->
  <mat-card-content class="title_wrapper">
    {{ htmlText.header }}
  </mat-card-content>


  <span class="add_header">
    <span class="bradcrumb">
      <a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp;
      <a [routerLink]="['/admin/tech-management']">Manage Tech &nbsp;/</a> &nbsp;
      {{ htmlText.nav }}
    </span>
  </span>
  <!-- End header with add button -->

  <mat-card class="add_form">
    <mat-card-content class="form_wrapper">
      <form class="example-form" autocomplete="off" name="TechManagementAddEditForm" [formGroup]="TechManagementAddEditForm" (ngSubmit)="TechManagementAddFormFormSubmit()">

        <!-- First Name Start -->
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>

          <input matInput placeholder="First Name" [formControl]="TechManagementAddEditForm.controls['firstname']"
            (blur)="inputUntouch(TechManagementAddEditForm,'firstname')">

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['firstname'].touched && !TechManagementAddEditForm.controls['firstname'].valid && TechManagementAddEditForm.controls['firstname'].errors.required">
            First Name required.
          </mat-error>

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['firstname'].touched && !TechManagementAddEditForm.controls['firstname'].valid && TechManagementAddEditForm.controls['firstname'].errors.maxlength">
            First Name is not valid.
          </mat-error>
        </mat-form-field>
        <!-- First Name End -->

        <!-- Last Name Start -->
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>

          <input matInput placeholder="Last Name" [formControl]="TechManagementAddEditForm.controls['lastname']"
            (blur)="inputUntouch(TechManagementAddEditForm,'lastname')">

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['lastname'].touched && !TechManagementAddEditForm.controls['lastname'].valid && TechManagementAddEditForm.controls['lastname'].errors.required">
            Last Name required.
          </mat-error>

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['lastname'].touched && !TechManagementAddEditForm.controls['lastname'].valid && TechManagementAddEditForm.controls['lastname'].errors.maxlength">
            Last Name is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Last Name End -->

        <!-- Email Start -->
        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>

          <input matInput placeholder="Email Address" [formControl]="TechManagementAddEditForm.controls['email']"
            (blur)="inputUntouch(TechManagementAddEditForm,'email')">

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['email'].touched && !TechManagementAddEditForm.controls['email'].valid && TechManagementAddEditForm.controls['email'].errors.required">
            Email required.
          </mat-error>

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['email'].touched && !TechManagementAddEditForm.controls['email'].valid && TechManagementAddEditForm.controls['email'].errors.email">
            Email is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Email End -->

        <!-- Phone Number Start -->
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>

          <input matInput placeholder="Phone" [formControl]="TechManagementAddEditForm.controls['phone']"
            (blur)="inputUntouch(TechManagementAddEditForm,'phone')">

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['phone'].touched && !TechManagementAddEditForm.controls['phone'].valid && TechManagementAddEditForm.controls['phone'].errors.required">
            Phone Number required.
          </mat-error>

          <mat-error
            *ngIf="TechManagementAddEditForm.controls['phone'].touched && !TechManagementAddEditForm.controls['phone'].valid && TechManagementAddEditForm.controls['phone'].errors.maxlength">
            Phone Number is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Phone Number End -->

        <!-- Address Start -->
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>

          <input matInput placeholder="Address" [formControl]="TechManagementAddEditForm.controls['address']"
            (blur)="inputUntouch(TechManagementAddEditForm,'address')">

          <mat-error *ngIf="TechManagementAddEditForm.controls['address'].touched && !TechManagementAddEditForm.controls['address'].valid && TechManagementAddEditForm.controls['address'].errors.required">
            Address required.
          </mat-error>

          <mat-error *ngIf="TechManagementAddEditForm.controls['address'].touched && !TechManagementAddEditForm.controls['address'].valid && TechManagementAddEditForm.controls['address'].errors.maxlength">
            Company Name is not valid.
          </mat-error>
        </mat-form-field>
        <!-- Address End -->

        <!-- State Start -->
        <mat-form-field class="parent_cat" appearance="fill">
          <mat-label>State</mat-label>

          <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
            <mat-option [value]="">Select state</mat-option>
            <mat-option *ngFor="let state of htmlText.states;" value="{{ state.name }}">{{ state.name }}</mat-option>
          </mat-select>

          <mat-error *ngIf="TechManagementAddEditForm.controls['state'].touched && !TechManagementAddEditForm.controls['state'].valid && TechManagementAddEditForm.controls['state'].errors.required">
            State required.
          </mat-error>
        </mat-form-field>
        <!-- State End -->

        <!-- City Start -->
        <mat-form-field class="parent_cat" appearance="fill">
          <mat-label>City</mat-label>

          <mat-select formControlName="city">
            <mat-option value=0>Select city</mat-option>
            <mat-option *ngFor="let city of htmlText.cities;" value="{{ city }}">{{ city }}</mat-option>
          </mat-select>

          <mat-error *ngIf="TechManagementAddEditForm.controls['city'].touched && !TechManagementAddEditForm.controls['city'].valid && TechManagementAddEditForm.controls['city'].errors.required">
            State required.
          </mat-error>
        </mat-form-field>
        <!-- City End -->

        <!-- Zip Start -->
        <mat-form-field appearance="fill">
          <mat-label>Zip</mat-label>

          <input type="number" matInput placeholder="ZIP" [formControl]="TechManagementAddEditForm.controls['zip']" (blur)="inputUntouch(TechManagementAddEditForm,'zip')">

          <mat-error *ngIf="TechManagementAddEditForm.controls['zip'].touched && !TechManagementAddEditForm.controls['zip'].valid && TechManagementAddEditForm.controls['zip'].errors.required">
            Zip required.
          </mat-error>
        </mat-form-field>
        <!-- Zip Start -->

        <ng-container *ngIf="!params_id">
          <!-- Password Start -->
          <ng-container *ngIf="!params_id">
            <mat-form-field class="form-group" appearance="fill">

              <input matInput placeholder="Password" type="password"
                [formControl]="TechManagementAddEditForm.controls['password']">

              <mat-error *ngIf="!TechManagementAddEditForm.controls['password'].valid && TechManagementAddEditForm.controls['password'].touched">
                Password required.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group" appearance="fill">
              <input matInput placeholder="Confirm Password" type="password"
                [formControl]="TechManagementAddEditForm.controls['confirmpassword']">

              <mat-error *ngIf="!TechManagementAddEditForm.controls['confirmpassword'].valid && TechManagementAddEditForm.controls['confirmpassword'].touched">
                Password does not match
              </mat-error>
            </mat-form-field>
          </ng-container>
          <!-- Password End -->
        </ng-container>

        <mat-checkbox [formControl]="TechManagementAddEditForm.controls['status']" checked>Active</mat-checkbox>


        <!-- end here -->
        <span class="submit_form">
          <button mat-flat-button type="button" [routerLink]="['/admin/tech-management']">Back </button>
          <button mat-flat-button type="reset" *ngIf="params_id == ''">Reset </button>
          <button mat-flat-button type="submit"> {{ htmlText.buttonText }} </button>
          <button mat-flat-button type="button" *ngIf="params_id != ''" (click)="openDialog('')"> Change Password </button>
        </span>
      </form>

    </mat-card-content>
  </mat-card>

</mat-card>
<!-- Admin Footer -->
<app-admin-footer></app-admin-footer>
