<app-doctor-office-header></app-doctor-office-header>

<!-- Header Start -->

<app-admin-header *ngIf="headerFlag == 'admin'"></app-admin-header>

<app-biller-header *ngIf="headerFlag == 'biller'"></app-biller-header>

<app-tech-header *ngIf="headerFlag == 'tech'"></app-tech-header>

<app-doctor-header *ngIf="headerFlag == 'doctor'"></app-doctor-header>

<!-- Header End -->

<mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>


<span class="add_header">
    <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Change Password</span>
</span>
<!-- End header with add button -->

<mat-card class="add_form">
    <h2>Change Password</h2>
    <mat-card-content class="form_wrapper">
        <form class="example-form" autocomplete="off" [formGroup]="doctorOfficeChangePasswordForm">

            <!-- Old Password -->
            <mat-form-field class="form-group">
                <input matInput placeholder="Type Current Password" type="password" formControlName="old_pwd">
                <mat-error *ngIf="!doctorOfficeChangePasswordForm.controls['old_pwd'].valid
                && doctorOfficeChangePasswordForm.controls['old_pwd'].errors.required">old_pwd is required.</mat-error>

            </mat-form-field>
            <!-- New Password -->
            <mat-form-field class="form-group">
                <input matInput placeholder="Type New Password" type="password" formControlName="new_pwd">
                <mat-error *ngIf="!doctorOfficeChangePasswordForm.controls['new_pwd'].valid
                && doctorOfficeChangePasswordForm.controls['new_pwd'].errors.required">password is required.
                </mat-error>
            </mat-form-field>

            <!-- Confirm Password -->
            <mat-form-field class="form-group">
                <input matInput placeholder="Retype New Password" type="password" formControlName="confirm_new_pwd">
          </mat-form-field>

            <span class="submit_form">
                <button mat-flat-button type="button"> Cancel </button>
                <button mat-flat-button type="submit" (click)="changePassword() "> Change Password </button>
            </span>
        </form>
    </mat-card-content>

</mat-card>
<app-admin-footer></app-admin-footer>



<app-doctor-office-footer></app-doctor-office-footer>