<app-distributors-header></app-distributors-header> 

<mat-card class="admin_wrapper">
  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/adminDoctoricon1.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount">12 </h4>
        <p class="doctorNumber">Total Number of <br> Major Doctors</p>
      </span>
      <span class="button_wrapper">
        <button mat-button [routerLink]="['/admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/adminDoctoricon2.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount"> 3 </h4>
        <p class="doctorNumber">Total Number of<br> Billers</p>
      </span>
      <span class="button_wrapper">
        <button mat-flat-button [routerLink]="['/admin/biller-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/adminDoctoricon3.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount">4</h4>
        <p class="doctorNumber">Total Number of <br>Techs</p>
      </span>
      <span class="button_wrapper">
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content>


  <!-- Doctor occide related -->
  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/doctorOffice.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount">13 </h4>
        <p class="doctorNumber">Total No of <br>Doctor's Office</p>
      </span>
      <span class="button_wrapper">
        <button mat-button [routerLink]="['/admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerNoteicon2.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount">14 </h4>
        <p class="doctorNumber">Total No of <br>Diagnostic Admin</p>
      </span>
      <span class="button_wrapper">
        <button mat-button [routerLink]="['/admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerNoteicon3.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount">15</h4>
        <p class="doctorNumber">Total No of <br>Doctors</p>
      </span>
      <span class="button_wrapper">
        <button mat-button [routerLink]="['/admin/doctor-management']">View Details</button>
      </span>
    </mat-card-content>
  </mat-card-content>

  <!-- Doctor other related -->
  <mat-card-content class="content_wrapper">
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/salesPerson.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount">34 </h4>
        <p class="doctorNumber">Total Number of<br> Sales Person</p>
      </span>
      <span class="button_wrapper">
        <button mat-flat-button [routerLink]="['/admin/biller-management']">View Details</button>
      </span>
    </mat-card-content>
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerNoteicon1.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount"> 34</h4>
        <p class="doctorNumber">Total Appointments<br> Pending</p>
      </span>
      <span class="button_wrapper">
        <button mat-flat-button [routerLink]="['/admin/biller-management']">View Details</button>
      </span>
    </mat-card-content>


    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/calenderAppointment.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount"> 34 </h4>
        <p class="doctorNumber">Total Appointments<br> Completed</p>
      </span>
      <span class="button_wrapper">
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content>


  <!-- Report Status Section Start -->
  <mat-card-content class="admin_superbillsection">
    <h1>Physician Reports Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Manual Records
          </p>
          <h2>324 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Total Manual Reports');">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            File Records
          </p>
          <h2>78</h2>
          <button mat-flat-button (click)="viewReportProcessData('Total File Reports');">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>
  <!-- Report Status Section End -->


  <mat-card-content class="admin_superbillsection">
    <h1>Physician Report Process Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Images Not Processed
          </p>
          <h2>54 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Images Not Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Basic Details Not Processed
          </p>
          <h2> 54 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Basic Details Not Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item ">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Risk Markers Not Processed
          </p>
          <h2>54</h2>
          <button mat-flat-button (click)="viewReportProcessData('Risk Markers Not Processed')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>


  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>Physician Report and Super Bills</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports Added
          </p>
          <h2>45</h2>
          <button mat-flat-button (click)="viewReportProcessData('Reports Uploaded')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Report Processed
          </p>
          <h2>67</h2>
          <button mat-flat-button (click)="viewReportProcessData('Report Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total No of <br>
            Report Signed
          </p>
          <h2>3 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Sent to <br>
            Biller
          </p>
          <h2> 759 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Super Bill')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Downloaded </p>
          <h2>87</h2>
          <button mat-flat-button (click)="viewReportProcessData('Download Bill')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Pending Sing </p>
          <h2>67</h2>
          <button mat-flat-button (click)="viewReportProcessData('Reports Pending Sing')">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>


  <!-- All Data listing start here(default listing) -->
  <mat-card-content class="table_wrapper">

    <mat-toolbar class="top_header">
      <h2> table name</h2>
      <span class="wrappp_R">
        <button class="add_new tooltip" mat-button routerLink="/admin/patient-management/add" matTooltip="Add Report"
          matTooltipPosition="above">
          <!-- <span class="tooltiptext"> Add Report </span> -->
          <i class="material-icons">add</i> Add Report Manually
        </button>


        <button class="add_new tooltip" mat-button matTooltipPosition="above" matTooltip="ReportRefresh Dashboard">
          <!-- <span class="tooltiptext"> Refresh Dashboard </span> -->
          <i class="material-icons">cached</i>
        </button>
      </span>
    </mat-toolbar>

    <!-- Listing goes here  -->
    <!-- table -->
    <lib-listing
      class="DataTable" 
      *ngIf="allBillerData.length>0" 
      [datasource]="allBillerData" 
      [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" 
      [detail_skip_array]="previewModal_detail_skip" 
      [apiurl]="apiUrl"
      [sourcedata]="tableName" 
      [editroute]="editUrl" 
      [jwttoken]="jwtToken" 
      [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" 
      [deleteendpoint]="deleteEndpoint" 
      [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" 
      [search_settings]="search_settings" 
      [sortdata]="sortdata" 
      [datacollection]="datacollection" 
      [libdata]="libdata" 
      [date_search_source_count]="billerData_count" 
      [limitcond]="limitcond" >
    </lib-listing>

  </mat-card-content>


</mat-card>

 
<app-distributors-footer></app-distributors-footer>