<app-distributors-header></app-distributors-header>

<mat-card class="admin_wrapper"> 
  <mat-card-content class="content_wrapper">
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/billerIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.dashboardCount.billerCount }} </h4>
          <span class="tolTip">
            <a mat-raised-button #TNBillers="matTooltip" matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNBillers.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Billers</p>
        <button mat-flat-button [routerLink]="['/distributors/biller-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/techIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.dashboardCount.techCount }} </h4>
          <span class="tolTip">
            <a mat-raised-button #TNTechs="matTooltip" matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNTechs.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Techs</p>
        <button mat-flat-button [routerLink]="['/distributors/tech-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/doctorOfficeIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.dashboardCount.doctorOfficeCount }} </h4>
          <span class="tolTip">
            <a mat-raised-button #TNDOffice="matTooltip" matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNDOffice.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>
        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Doctor's Office</p>
        <button mat-flat-button [routerLink]="['/distributors/doctor-office-management']">View Details</button>
      </span>
    </mat-card-content>
  </mat-card-content>


  <!-- Doctor occide related -->
  <mat-card-content class="content_wrapper">

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/totalDoctorIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.dashboardCount.doctorsCount }} </h4>
          <span class="tolTip">
            <a mat-raised-button #TNDrs="matTooltip" matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNDrs.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of <br>Doctors</p>
        <button mat-button [routerLink]="['/distributors/doctor-management']">View Details</button>
      </span>
    </mat-card-content>

    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/totalDoctorIcon.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> {{ allResolveData.dashboardCount.salesPersonCount }} </h4>
          <span class="tolTip">
            <a mat-raised-button #TNSPerson="matTooltip" matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TNSPerson.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>

        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Number of<br> Sales Person</p>
        <button mat-flat-button [routerLink]="['/distributors/sales-person-management']">View Details</button>
      </span>
    </mat-card-content>

  </mat-card-content>

  <!-- Doctor other related -->
  <!-- <mat-card-content class="content_wrapper">
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span> 
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> 34 </h4> 
          <span class="tolTip">
            <a mat-raised-button #TACompleted="matTooltip"
              matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TACompleted.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>
  
        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Appointments<br> Completed</p>
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content>
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> 34 </h4> 
          <span class="tolTip">
            <a mat-raised-button #TACompleted="matTooltip"
              matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TACompleted.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>
  
        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Appointments<br> Completed</p>
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content>
  
    <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/loveHandshake.png">
      </span>
      <span class="counteer">
        <span class="counter_with_tool">
          <h4 class="dataCount"> 34 </h4> 
          <span class="tolTip">
            <a mat-raised-button #TACompleted="matTooltip"
              matTooltip="comming.." matTooltipPosition="above"
              aria-tooltip=" tooltip area" matTooltipClass="tooltip_bg">
            </a>
            <a mat-button (click)="TACompleted.toggle()" class="toggle_btn" aria-label=" toggle section">
              <span class="material-icons"> help_outline </span>
            </a>
          </span>
  
        </span>
      </span>
      <span class="button_wrapper">
        <p class="doctorNumber">Total Appointments<br> Completed</p>
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content>
   -->
  <!-- new edit -->
  <!-- <mat-card-content class="itemsection">
      <span class="icon">
        <img src="../../../../assets/images/calenderAppointment.png">
      </span>
      <span class="counteer">
        <h4 class="dataCount"> 34 </h4>
        <p class="doctorNumber">Total Appointments<br> Completed</p>
      </span>
      <span class="button_wrapper">
        <button mat-flat-button [routerLink]="['/admin/tech-management']">View Details</button>
      </span>
    </mat-card-content> -->

  <!-- </mat-card-content> -->

  <!-- <mat-card-content class="admin_superbillsection">
    <h1>Physician Report Process Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Images Not Processed
          </p>
          <h2>54 </h2>
          <button mat-flat-button (click)="viewAllButton('Images Not Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Basic Details Not Processed
          </p>
          <h2> 54 </h2>
          <button mat-flat-button (click)="viewAllButton('Basic Details Not Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item ">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Risk Markers Not Processed
          </p>
          <h2>54</h2>
          <button mat-flat-button (click)="viewAllButton('Risk Markers Not Processed')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content> -->



  <mat-card-content class="admin_superbillsection superbillerContainer">
    <h1>Physician Report and Super Bills</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Reports Added
          </p>
          <h2> {{ allResolveData.dashboardCount.reportsAddedCount }} </h2>
          <!-- <button mat-flat-button (click)="viewAllButton('Total Number of Reports Added')">view all</button> -->
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Number of <br>
            Report Processed
          </p>
          <h2> {{ allResolveData.dashboardCount.reportProcessedCount }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Report Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total Number of <br>
            Report Signed
          </p>
          <h2> {{ allResolveData.dashboardCount.reportSignedCount }} </h2>
          <button mat-flat-button (click)="viewAllButton('Total Number of Report Signed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Sent to <br>
            Biller
          </p>
          <h2> {{ allResolveData.dashboardCount.sendTobBillerCount }} </h2>
          <button mat-flat-button (click)="viewAllButton('Sent to Biller')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Downloaded </p>
          <h2> {{ allResolveData.dashboardCount.reportsDownloadedCount }} </h2>
          <button mat-flat-button (click)="viewAllButton('Reports Downloaded')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon4.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p> Reports Pending Sing </p>
          <h2> {{ allResolveData.dashboardCount.reportsPendingSingCount }} </h2>
          <button mat-flat-button (click)="viewAllButton('Reports Pending Sing')">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>


  <!-- Share doctor sign up link -->
  <app-doctor-signup-share [shareDetails]="shareDetails"></app-doctor-signup-share>


  <!-- All Data listing start here(default listing) -->
  <mat-card-content class="table_wrapper admin_dashboard">

    <mat-toolbar class="top_header">
      <h2> {{ htmlText.headerText }} </h2>
      <span class="wrappp_R">
      </span>
    </mat-toolbar>

    <!-- Listing goes here  -->
    <!-- table -->
    <!-- <ng-container *ngIf="listFlag == true"> -->
    <lib-listing
      class="DataTable" 
      *ngIf="allBillerData.length>0" 
      [datasource]="allBillerData" 
      [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" 
      [detail_skip_array]="previewModal_detail_skip" 
      [apiurl]="apiUrl"
      [sourcedata]="tableName" 
      [editroute]="editUrl" 
      [jwttoken]="jwtToken" 
      [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" 
      [deleteendpoint]="deleteEndpoint" 
      [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" 
      [search_settings]="search_settings" 
      [sortdata]="sortdata" 
      [datacollection]="datacollection" 
      [libdata]="libdata" 
      [date_search_source_count]="billerData_count" 
      [limitcond]="limitcond"
      [updatetable]="updatetable" >
    </lib-listing>
  <!-- </ng-container> -->
  </mat-card-content>


</mat-card>


<app-distributors-footer></app-distributors-footer>