<mat-toolbar class="techdashboard_header">
  <mat-toolbar-row>
    <span class="logo_wrapper">
      <img src="../../../assets/images/logo.png">
    </span>


    <mat-card-content class="quotation">
      <p>ADVANCED ANS TECHNOLOGY – BETTER PATIENT CARE – INCREASE PRACTICE REVENUE</p>
    </mat-card-content>



  </mat-toolbar-row>
</mat-toolbar>
<!-- end header -->


<mat-card class="add_form">

  <h2>add report manually</h2>


  <!-- <mat-card-content class="form_wrapper">
    <form class="example-form" autocomplete="off" name="UserManagementAddEditForm" [formGroup]="UserManagementAddEditForm"
      (ngSubmit)="UserManagementAddFormFormSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>Enter First Name</mat-label>
        <input matInput placeholder="First Name" [formControl]="UserManagementAddEditForm.controls['firstname']"
          (blur)="inputUntouch(UserManagementAddEditForm,'firstname')">
          <mat-error *ngIf="UserManagementAddEditForm.controls['firstname'].touched && !UserManagementAddEditForm.controls['firstname'].valid
         && UserManagementAddEditForm.controls['firstname'].errors.required">
              First Name field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter Last Name</mat-label>
        <input matInput placeholder="Last Name" [formControl]="UserManagementAddEditForm.controls['lastname']"
          (blur)="inputUntouch(UserManagementAddEditForm,'lastname')">
          <mat-error *ngIf="UserManagementAddEditForm.controls['lastname'].touched && !UserManagementAddEditForm.controls['lastname'].valid
         && UserManagementAddEditForm.controls['lastname'].errors.required">
              Last Name field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email Address" [formControl]="UserManagementAddEditForm.controls['email']"
          (blur)="inputUntouch(UserManagementAddEditForm,'email')">
          <mat-error *ngIf="UserManagementAddEditForm.controls['email'].touched && !UserManagementAddEditForm.controls['email'].valid
          && UserManagementAddEditForm.controls['email'].errors.required">
               E-Mail field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone </mat-label>
        <input type="number" matInput placeholder="Phone" [formControl]="UserManagementAddEditForm.controls['phoneno']"
          (blur)="inputUntouch(UserManagementAddEditForm,'phoneno')">
          <mat-error *ngIf="UserManagementAddEditForm.controls['phoneno'].touched && !UserManagementAddEditForm.controls['phoneno'].valid
          && UserManagementAddEditForm.controls['phoneno'].errors.required">
               Phone Number field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Address" [formControl]="UserManagementAddEditForm.controls['address']"
          (blur)="inputUntouch(UserManagementAddEditForm,'address')"></textarea>
          <mat-error *ngIf="UserManagementAddEditForm.controls['address'].touched && !UserManagementAddEditForm.controls['address'].valid
          && UserManagementAddEditForm.controls['address'].errors.required">
               Address field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field class="parent_cat" appearance="fill">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <mat-option [value]=0>Select a category</mat-option>
          <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="parent_cat" appearance="fill">
          <mat-label>State</mat-label>
          <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
            <mat-option [value]=0>Select a category</mat-option>
            <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>ZIP</mat-label>
        <input matInput placeholder="ZIP" [formControl]="UserManagementAddEditForm.controls['zip']"
          (blur)="inputUntouch(UserManagementAddEditForm,'zip')">
          <mat-error *ngIf="UserManagementAddEditForm.controls['zip'].touched && !UserManagementAddEditForm.controls['zip'].valid
          && UserManagementAddEditForm.controls['zip'].errors.required">
               Zip field can not be blank</mat-error>
      </mat-form-field>


      <mat-form-field>
          <mat-label>Date</mat-label>
          <input  [value]="date.value"
          matInput [matDatepicker]="myPicker"  placeholder="date" >
          <mat-datepicker-toggle  matSuffix [for]="myPicker" disabled></mat-datepicker-toggle>
          <mat-datepicker #myPicker></mat-datepicker>
      </mat-form-field>

      <mat-checkbox [formControl]="UserManagementAddEditForm.controls['status']" checked>Status</mat-checkbox>
      <mat-error *ngIf="UserManagementAddEditForm.controls['status'].touched && !UserManagementAddEditForm.controls['status'].valid
      && UserManagementAddEditForm.controls['status'].errors.required">
      Status field can not be blank</mat-error>
 
      <span class="submit_form">
        <button mat-flat-button (click)="ResetAddForm()">Reset </button>
        <button mat-flat-button type="submit"> {{ buttonText }} </button>
      </span>
    </form>
  </mat-card-content> -->
    <mat-card-content>
      <label>Patient Name</label>
      <mat-form-field >
        <input matInput>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <label>Patient Gender</label>
      <mat-checkbox>Male</mat-checkbox>
      <mat-checkbox>Female</mat-checkbox>
    </mat-card-content>

    <mat-card-content>
      <label> DOB</label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker"  >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <label>Ordering Physicial</label>
      <mat-form-field >
        <input matInput>
      </mat-form-field>
    </mat-card-content>


<span class="test_date_wrapper">
  
  <mat-card-content>
    <label> Test Date</label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2"  >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  
  <mat-card-content>
    <label> Test Completed</label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker3"  >
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  
  <mat-card-content>
    <label> PTGPT </label>
    <mat-form-field>
      <input matInput>
       
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <label> PTGVLFI </label>
    <mat-form-field>
      <input matInput >
      
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <label> IR </label>
    <mat-form-field>
      <input matInput > 
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <label> ESRNO<br> (Baseline) </label>
    <mat-form-field>
      <input matInput > 
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <label> ESR L<br> (Latency) </label>
    <mat-form-field>
      <input matInput > 
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <label> Peak C  <br> (Amplitude) </label>
    <mat-form-field>
      <input matInput > 
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <label> PTG Type  <br> (Enter
      Type 1-5) </label>
    <mat-form-field>
      <input matInput > 
    </mat-form-field>
  </mat-card-content>


<mat-card-content>
  <label> PTG CVD </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>
<mat-card-content>
  <label> Stress I  <br> (Stress Index) </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>
<mat-card-content>
  <label> RI </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>


<mat-card-content>
  <label> AIPTG<br> (IPTG) </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label> CIs (CI) </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label> pNN50 </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>


<mat-card-content>
  <label> RMSSD </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label> SD ba - </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label> SD da </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

 
<mat-card-content>
  <label>DPRS </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label>ValsR. </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label>BMI<br> Enter BMI Score 
    (I.E. 29.1)  </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <label>Blood
    Pressure<br> Systolic &
    Diastolic
    (120/80) </label>
  <mat-form-field>
    <input matInput > 
  </mat-form-field>
</mat-card-content>
</span>

 <span class="patient_diagnotes">
    <label>Patient Diagnoses & Notes:</label>
    <mat-form-field class="example-full-width" >
     
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
 </span>
 <span class="submit_form">
    <button mat-flat-button (click)="ResetAddForm()">Reset </button>
    <button mat-flat-button type="submit"> {{ buttonText }} </button>
  </span>
</mat-card>

