<app-admin-header></app-admin-header>
<!-- header with add button -->
<mat-card-content class="title_wrapper">
    manage admin
  </mat-card-content>
  
  
  <span class="add_header">
  
   <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage Admin</span> 
      <button mat-flat-button [routerLink]="['/admin/admin-management/add']">Add Admin</button>
  </span>
  <!-- End header with add button -->
 <!-- <span class="add_header">
  <button mat-flat-button [routerLink]="[ '/admin-management/add']">Add Admin</button>
</span> -->
    <!-- table -->
    <lib-listing class="DataTable" *ngIf="TechDashboardAllData.length>0"
    [datasource]="TechDashboardAllData"
    [skip]="allUserData_skip"
    [modify_header_array]="allUserData_modify_header"
    [apiurl]="apiUrl"
    [sourcedata]="tableName"
    [editroute]="editUrl"
    [jwttoken]="user_cookie"
    [statusarr]="status"
    [updateendpoint]="UpdateEndpoint"
    [deleteendpoint]="deleteEndpoint"
    [date_search_endpoint]="SearchingEndpoint"
    [date_search_source]="tableName"
    [search_settings]="search_settings"
   >
  </lib-listing>
  <h2 *ngIf="TechDashboardAllData.length == 0">No record found.</h2>
    <!-- end table -->



  <mat-card-content class="footer_section">
    <span class="footer_content">

      <mat-card-content class="link">
        <a href="">Privacy Policy</a>
        <a href=""> Terms & conditions</a>
      </mat-card-content>
      <p>© Copyright 2018 Advanced Wellness Solutions- All Rights Reserved</p>
    </span>
  </mat-card-content>
