<app-tech-header></app-tech-header>

<mat-card class="add_form">
  <mat-card-content>
    <form class="example-form" autocomplete="off" name="techBulkUploadForm" [formGroup]="techBulkUploadForm"
      (ngSubmit)="techBulkUploadFormSubmit()">
  
    
      <mat-card-content class="status_wrapper" > 
        <label>Batch Name</label>
        <mat-form-field appearance="fill">
          <input placeholder="Batch Name" matInput [formControl]="techBulkUploadForm.controls['batchName']"
            (blur)="inputUntouch(techBulkUploadForm,'batchName')">
          <mat-error *ngIf="techBulkUploadForm.controls['batchName'].touched && !techBulkUploadForm.controls['batchName'].valid
            && techBulkUploadForm.controls['batchName'].errors.required">
            Batch Name field can not be blank</mat-error>
        </mat-form-field>
        <mat-card-content>
          <label>Ordering Physician</label>
          <mat-form-field >
            
              <mat-select formControlName="doctor_id" placeholder="Select a Doctor" >
                <mat-option [value]=0>Select a Doctor</mat-option>
                <mat-option (click)="getsellabel(doc)" *ngFor="let doc of allDoctorDataArray;" value="{{ doc._id }}"> {{ doc.fullNamecopy }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-card-content>
      
       
    </mat-card-content>
     
      <lib-file-upload [config]="configData" class="file_upload" ></lib-file-upload>
      <span style="color: red;" *ngIf="!configData.files && configData.formSubmit">Please upload a file</span>

      <span class="patient_diagnotes">
        <label>Notes:</label>
        <mat-form-field class="example-full-width">

          <textarea matInput placeholder="Leave a comment" [formControl]="techBulkUploadForm.controls['note']"
            >
       </textarea>
          
        </mat-form-field>
      </span>
      <span class="submit_form">
        <button mat-flat-button type="button" (click)="cancelButton()"> Cancel </button>
        <button mat-flat-button type="submit" [disabled]="!techBulkUploadForm.valid"> Submit </button>
      </span>


    </form>
  </mat-card-content>
</mat-card>

<mat-card-content class="footer_section">
  <span class="footer_content">
    <mat-card-content class="link">
      <a href="">Privacy Policy</a>
      <a href=""> Terms & conditions</a>
    </mat-card-content>
    <p>© Copyright 2018 Advanced Wellness Solutions- All Rights Reserved</p>
  </span>
</mat-card-content>