<app-tech-header></app-tech-header>

<mat-card class="admin_wrapper" >
  <mat-card-content class="add_form">
    <form class="example-form" autocomplete="off" name="techBulkUploadForm" [formGroup]="techBulkUploadForm">

      <mat-card-content class="status_wrapper" >
        <label>Batch Name</label>
        <mat-form-field appearance="fill">
          <input placeholder="Batch Name" matInput [formControl]="techBulkUploadForm.controls['batch_name']"
            (blur)="inputUntouch(techBulkUploadForm,'batch_name')">
          <mat-error *ngIf="techBulkUploadForm.controls['batch_name'].touched && !techBulkUploadForm.controls['batch_name'].valid
            && techBulkUploadForm.controls['batch_name'].errors.required">
            Batch Name field can not be blank</mat-error>
        </mat-form-field>

        <!-- <mat-card-content>
          <label>Ordering Physician</label>
          <mat-form-field >
              <mat-select (selectionChange)="getsellabel($event.value);" placeholder="Select a Doctor" >
                <mat-option *ngFor="let doc of allDoctorDataArray; let i = index;" value="{{ i }}"> 
                  {{ doc.firstname }} {{ doc.lastname }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-card-content> -->

        <mat-card-content>
          <label>File Type</label>
          <mat-form-field>
              <mat-select formControlName="report_file_type" placeholder="Select a File Type" >
                <mat-option value="RM-3A">RM-3A</mat-option>
                <mat-option value="TM FLOW V3">TM FLOW V3</mat-option>
                <mat-option value="TM FLOW V4">TM FLOW V4</mat-option>
                <mat-option value="CMAT with BP Cuffs">CMAT with BP Cuffs</mat-option>
              </mat-select>
            </mat-form-field>
        </mat-card-content>


    </mat-card-content>

      <lib-file-upload [config]="configData" class="file_upload" ></lib-file-upload>
      <span style="color: red;" *ngIf="!configData.files && configData.formSubmit">Please upload a file</span>

      <span class="patient_diagnotes">
        <label>Notes:</label>
        <mat-form-field class="example-full-width">

          <textarea matInput placeholder="Leave a comment" [formControl]="techBulkUploadForm.controls['note']"
            >
       </textarea>

        </mat-form-field>
      </span>
      
      <span class="submit_form">
        <button mat-flat-button type="button" (click)="techBulkUploadFormSubmit()"> Submit </button>
        <button mat-flat-button type="reset"> Reset </button>
        <button mat-flat-button type="button" (click)="cancelButton()"> Back </button>
      </span>


    </form>
  </mat-card-content>
</mat-card>


<app-tech-footer></app-tech-footer>
