<app-doctor-office-header></app-doctor-office-header>

<span class="add_header">
    <span class="bradcrumb">
        <a [routerLink]="['/doctor-office/dashboard']">Dashboard &nbsp;/</a> &nbsp; Account Setting</span>
</span>
<!-- End header with add button -->


<!-- End header with add button -->

<mat-card class="add_form">
    <h2>Doctor Office Account Information</h2>
    <mat-card-content class="form_wrapper">

        <form [formGroup]="accountForm" autocomplete="off">


            <mat-form-field>
                <mat-label>Date:</mat-label>
                <input matInput formControlName="date" [readonly]="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Center Name:</mat-label>
                <input matInput formControlName="centername">
                <mat-error *ngIf="!accountForm.controls['centername'].valid
          && accountForm.controls['centername'].errors.required">Center Name is required.</mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone:</mat-label>
                <input matInput formControlName="phone">
                <mat-error *ngIf="!accountForm.controls['phone'].valid
          && accountForm.controls['phone'].errors.required">Phone is required.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Address:</mat-label>
                <input matInput formControlName="address">
                <mat-error *ngIf="!accountForm.controls['address'].valid
          && accountForm.controls['address'].errors.required">Address is required.</mat-error>
            </mat-form-field>

            <mat-form-field class="parent_cat" appearance="fill">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" (selectionChange)="getCity($event.value);">
                    <mat-option [value]=0>Select a category</mat-option>
                    <mat-option *ngFor="let state of states;" value="{{ state.name }}">{{ state.name }}</mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field class="parent_cat" appearance="fill">
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                    <mat-option value=0>Select a city</mat-option>
                    <mat-option *ngFor="let city of cities;" value="{{ city }}">{{ city }}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field>
                <mat-label>ZIP:</mat-label>
                <input matInput formControlName="zip">
                <mat-error *ngIf="!accountForm.controls['zip'].valid
          && accountForm.controls['zip'].errors.required">ZIP is required.</mat-error>
            </mat-form-field>






            <span class="submit_form">
                <button mat-flat-button type="button" (click)="cancelRedirectToDashboard()"> Cancel </button>
                <button mat-flat-button type="submit" (click)="onSubmit()"
                    [disabled]="!accountForm.valid">Update</button>
            </span>
        </form>

    </mat-card-content>

</mat-card>

<app-doctor-office-footer></app-doctor-office-footer>