<h2 mat-dialog-title>View Screen Shot</h2>

<mat-card class="job_modal_wr">
    <div class="content_jobview">
        <img style="cursor: pointer;" [defaultImage]="'../../../../../../assets/images/image-loader.svg'" [lazyLoad]="data.allImages[data.selectImageIndex].basepath + data.allImages[data.selectImageIndex].fileservername" />
    </div>
 
    <mat-dialog-actions align="end">
        <button mat-button (click)="imageAction('previous');">Previous</button>
        <button mat-button (click)="imageAction('next');">Next</button>
        <button mat-button (click)="imageAction('download');">Download</button>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>

</mat-card>
<!-- 9891026509 -->