<!-- Admin Header -->
<app-admin-header></app-admin-header>

<!-- header with add button -->
<mat-card-content class="title_wrapper">
  {{ htmlText.header }}
</mat-card-content>


<span class="add_header">
  <span class="bradcrumb">
    <a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a>&nbsp;
    <a [routerLink]="['/admin/admin-management']">Manage Admin &nbsp;/</a> &nbsp; 
    {{ htmlText.nav }}
  </span>
</span>

<mat-card class="add_form">
  <h2>{{ htmlText.header }}</h2>

  <mat-card-content class="form_wrapper">
    <form class="example-form" autocomplete="off" name="adminManagementAddEditForm"
      [formGroup]="adminManagementAddEditForm" (ngSubmit)="AdminManagementAddFormSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>Enter First Name</mat-label>
        <input matInput placeholder="First Name" [formControl]="adminManagementAddEditForm.controls['firstname']"
          (blur)="inputUntouch(adminManagementAddEditForm,'firstname')">
        <mat-error *ngIf="adminManagementAddEditForm.controls['firstname'].touched && !adminManagementAddEditForm.controls['firstname'].valid
           && adminManagementAddEditForm.controls['firstname'].errors.required">
          First Name field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter Last Name</mat-label>
        <input matInput placeholder="Last Name" [formControl]="adminManagementAddEditForm.controls['lastname']"
          (blur)="inputUntouch(adminManagementAddEditForm,'lastname')">
        <mat-error *ngIf="adminManagementAddEditForm.controls['lastname'].touched && !adminManagementAddEditForm.controls['lastname'].valid
           && adminManagementAddEditForm.controls['lastname'].errors.required">
          Last Name can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email Address" [formControl]="adminManagementAddEditForm.controls['email']"
          (blur)="inputUntouch(adminManagementAddEditForm,'email')">
        <mat-error *ngIf="adminManagementAddEditForm.controls['email'].touched && !adminManagementAddEditForm.controls['email'].valid
            && adminManagementAddEditForm.controls['email'].errors.required">
          E-Mail can not be blank</mat-error>
          <mat-error
          *ngIf="!adminManagementAddEditForm.controls['email'].valid && !adminManagementAddEditForm.controls['email'].errors.required">
          Email is not valid</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone </mat-label>
        <input matInput placeholder="Phone" [formControl]="adminManagementAddEditForm.controls['phone']"
          (blur)="inputUntouch(adminManagementAddEditForm,'phone')">
        <mat-error *ngIf="adminManagementAddEditForm.controls['phone'].touched && !adminManagementAddEditForm.controls['phone'].valid
            && adminManagementAddEditForm.controls['phone'].errors.required">
          Phone Number field can not be blank</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input [value]="date.value" matInput [matDatepicker]="myPicker" placeholder="date" disabled>
        <mat-datepicker-toggle matSuffix [for]="myPicker" disabled></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
      </mat-form-field>

      <ng-container *ngIf ="!params_id">
      <mat-form-field class="form-group">
        <input matInput placeholder="Password" type="password"
          [formControl]="adminManagementAddEditForm.controls['password']">
        <mat-error
          *ngIf="!adminManagementAddEditForm.controls['password'].valid && adminManagementAddEditForm.controls['password'].touched">
          Password field can not be blank</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group">
        <input matInput placeholder="Confirm Password" type="password"
          [formControl]="adminManagementAddEditForm.controls['confirmpassword']">
        <mat-error
          *ngIf="!adminManagementAddEditForm.controls['confirmpassword'].valid && adminManagementAddEditForm.controls['confirmpassword'].touched">
          Password does not match </mat-error>
      </mat-form-field>
      </ng-container>

      <mat-checkbox [formControl]="adminManagementAddEditForm.controls['status']" checked>Active</mat-checkbox>
      <!-- <mat-error *ngIf="adminManagementAddEditForm.controls['status'].touched && !adminManagementAddEditForm.controls['status'].valid
      && adminManagementAddEditForm.controls['status'].errors.required">
        Status field can not be blank</mat-error> -->


      <span class="submit_form">
        <button mat-flat-button type="button" (click)="backToManagePage()">Back </button>
        <button mat-flat-button type="reset">Reset </button>
        <button mat-flat-button type="submit" >{{ htmlText.buttonText }} </button>
        <ng-container *ngIf ="params_id">
          <button mat-flat-button type="button" (click)="openDialog(test)"  > Change Password </button>
        </ng-container>
      </span>

    </form>
  </mat-card-content>

</mat-card>

<!-- Admin Footer -->
<app-admin-footer></app-admin-footer>