









@media screen and (max-width: 1460px){
  .techdashboard_header .mat-toolbar-row .quotation p { font-size: 24px; line-height: 26px;}
}
@media screen and (max-width: 1366px){
.add_form .submit_form button {font-size: 22px;}
}
@media screen and (max-width: 1199px){
  .add_form .submit_form button{ font-size: 18px; }
}

@media screen and (max-width: 991px){
.techdashboard_header .mat-toolbar-row { flex-direction: column; padding: 20px;}
.techdashboard_header .mat-toolbar-row .quotation p { margin-top: 16px; }
.add_form .submit_form{ display: flex; flex-wrap: wrap; }
}
@media screen and (max-width: 768px){
  .add_form .form_wrapper .mat-form-field { width: 100%; margin: 0; }
}
@media screen and (max-width: 680px){
  .add_form .submit_form button { margin-bottom: 16px;}
}
@media screen and (max-width: 576px){
.add_form .submit_form button { font-size: 22px; padding: 2px; }

.add_form .submit_form button { width: 100%; margin: 0; margin-top: 20px; }
.add_form .submit_form { display: flex; flex-direction: column-reverse; text-align: center; margin-top: 0px; }
.add_form .submit_form button:nth-child(1) { margin-right: 0; margin-top: 20px; }
}

@media screen and (max-width: 360px){
.techdashboard_header .mat-toolbar-row .quotation p { font-size: 16px; line-height: 22px; }
.add_form h2 { font-size: 22px; line-height: 24px; text-align: center; }
}



#menu_button{ display: none;}

.add_header{ display: flex; margin: 0 16px;}
.add_header button{ margin-left: auto;
  background: linear-gradient(180deg, #fac855, #e47e2a)!important;
  text-transform: uppercase;
  font-family: "RobotoBlack"; padding-top: 4px;
}
