.encounter_wrapper {
    width: 100%;
    margin: 20px auto;
    display: block;
    background: #f7f7f7;
    padding: 16px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-family: "RobotoBold";
}

.encounter_wrapper table {
    width: 100%;
}

.encounter_wrapper table {
    border-collapse: collapse;
}

.encounter_wrapper table, th, td {
    border: 1px solid #c7c7c7;
    padding: 10px;
}

.second_table .widther {
    width: 50%;
}

.second_table .spacer_o {
    margin-right: 15px;
}

.second_table .header {
    text-align: center;
}

.additionalnotes {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

.additionalnotes3 {
    height: 238px;
}

.red_para {
    color: #bd1818;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin: 5px;
    font-family: "RobotoMedium";
}

table input[type="text"] {
  height: 40px;
  margin-left: 5px;
  border: none;
  border-bottom: 1.4px solid #000;
  padding: 0 15px;
  background: #e8e8e8;
}
table input[type="text"]:focus, textarea:focus{ outline: none;}
.suggest {
    margin-top: 0;
    font-family: "RobotoMedium";
    margin-bottom: 6px;
    color: #096509;
}
.limbs{
    margin: 0;
    font-size: 22px;
    color: #000;
    text-align: center;
    font-family: "RobotoBold";
    border-top: 1px solid #b5b5b5;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: -10px;
 }

 input[type="checkbox"]:checked {
  /* box-shadow: 0 0 0 3px hotpink; */
  position: relative;
}
input[type="checkbox"]:checked::before{
  content: 'x';
  position: absolute;
  background: #fff;
  width: 100%;
  height: auto;
  color: #ff0707;
  left: 0px;
  display: flex;
  justify-content: center;
  border: .5px solid #807f7f;
}
