<mat-card-content class="encounter_wrapper">
  <form class="example-form" autocomplete="off">

    <table class="tableone">
      <tr>
        <td colspan="3">
          <h2 class="header"> Health Risk Analysis System</h2>
        </td>
      </tr>

      <tr>
        <td> Patient Name <input type="text" value="{{ orginalReportDetails.patient_details[0].patient_name }}"></td>
        <td>
          <label> <input type="radio" [checked]="orginalReportDetails.patient_details[0].gender_male_flag == true" [value]="true">M</label>
          <label> <input type="radio" [checked]="orginalReportDetails.patient_details[0].gender_female_flag == true" [value]="true">F</label>
        </td>
        <td> <label>Date <input type="text" value="{{ orginalReportDetails.patient_details[0].test_date | date }}"> </label></td>
      </tr>

      <tr>
        <td> Ordering Physician <input type="text" value="{{ orginalReportDetails.patient_details[0].doctor_details[0].firstname }} {{ orginalReportDetails.patient_details[0].doctor_details[0].lastname }}"></td>
        <td colspan="2"><label> D.O.B <input type="text" value="{{ orginalReportDetails.patient_details[0].dob | date }}"></label></td>
      </tr>

      <tr>
        <td> Physician’s Signature <input class="signaturefont" type="text" value="{{ orginalReportDetails.patient_details[0].doctor_details[0].doctor_signature }}"></td>
        <td colspan="2">
          <p class="suggest">Suggested billing amounts per CPT Code: </p>
          <span class="reportCheck">
          <label><input type="checkbox" (change)="checkValue('cpt_codes', orginalReportDetails.cpt_codes.v95923?'1':'0', 'v95923')" [(ngModel)]="orginalReportDetails.cpt_codes.v95923" [ngModelOptions]="{standalone: 1}"> 95923: $410 </label>
          <label><input type="checkbox" (change)="checkValue('cpt_codes', orginalReportDetails.cpt_codes.v95943?'1':'0', 'v95943')" [(ngModel)]="orginalReportDetails.cpt_codes.v95943" [ngModelOptions]="{standalone: 1}"> 95943: $440 </label>
          <label><input type="checkbox" (change)="checkValue('cpt_codes', orginalReportDetails.cpt_codes.v95921?'1':'0', 'v95921')" [(ngModel)]="orginalReportDetails.cpt_codes.v95921" [ngModelOptions]="{standalone: 1}"> 95921: $280 </label>
          <label><input type="checkbox" (change)="checkValue('cpt_codes', orginalReportDetails.cpt_codes.v93923?'1':'0', 'v93923')" [(ngModel)]="orginalReportDetails.cpt_codes.v93923" [ngModelOptions]="{standalone: 1}"> 93923: $250 </label>
          <label><input type="checkbox" (change)="checkValue('cpt_codes', orginalReportDetails.cpt_codes.v93922?'1':'0', 'v93922')" [(ngModel)]="orginalReportDetails.cpt_codes.v93922" [ngModelOptions]="{standalone: 1}"> 93922: $280 </label>
        </span>
        </td>
      </tr>

      <tr>
        <td> Patient’s Insurance Carrier (s) <input type="text" [(ngModel)]="orginalReportDetails.patient_details[0].insurance_details.insurancename" [ngModelOptions]="{standalone: true}"> </td>
        <td colspan="2">
          <label>
            <input type="checkbox" (change)="checkValue(orginalReportDetails.cpt_codes.no_diagnosis_detected?'1':'0', 'cpt_codes', 'no_diagnosis_detected')" [(ngModel)]="orginalReportDetails.cpt_codes.no_diagnosis_detected" [ngModelOptions]="{standalone: 1}">
            No Diagnoses Established
          </label>
        </td>
      </tr>
    </table>

    <mat-card-content class="second_table">
      <table class="tabletwo">
        <tr>
          <td colspan="2">
            <h2 class="red_para">ICD 10 DIAGNOSTIC CODES TO BE USED WITH CPT CODE: 95921 (where 95943 is less or not
              allowed), and 95923 </h2>
          </td>
        </tr>

        <tr>
          <td class="widther">
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E0840?'1':'0', 'E0840')" [(ngModel)]="orginalReportDetails.icd_codes.E0840" [ngModelOptions]="{standalone: 1}"> </td>
          <td> E08.40 Type 1 Diabetes W/ Neurological Manifestations, Not Stated as Uncontrolled</td>
        </tr>
        </td>
        <td class="widther">
          <tr>
            <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G603?'1':'0', 'G603')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G603"></td>
            <td> G60.3 Idiopathic progressive neuropathy</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1041?'1':'0', 'E1041')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1041"></td>
          <td>E10.41 Type 1 Diabetes Mellitus W/ Diabetic Mononeuropathy</td>
        </tr>
        </td>
        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G608?'1':'0', 'G608')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G608"></td>
            <td>G60.8 Other hereditary and idiopathic neuropathies</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1042?'1':'0', 'E1042')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1042"></td>
          <td> E10.42 Type 1 Diabetes Mellitus W/ Diabetic Polyneuropathy</td>
        </tr>
        </td>
        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G629?'1':'0', 'G629')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G629"></td>
            <td>G62.9 Polyneuropathy, unspecified</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td> </td>
              <td> </td>
            </tr>
          </td>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G609?'1':'0', 'G609')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G609"></td>
              <td>G60.9 Hereditary and idiopathic neuropathy, unspecified</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1043?'1':'0', 'E1043')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1043"></td>
              <td>E10.43 Type 1 Diabetes Mellitus W/ Diabetic Autonomic (Poly) Neuropathy</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G9009?'1':'0', 'G9009')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G9009"></td>
              <td>G90.09 Other idiopathic peripheral autonomic neuropathy</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1044?'1':'0', 'E1044')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1044"></td>
              <td>E10.44 Type 1 Diabetes Mellitus W/ Diabetic Amyotrophy</td>
            </tr>
          </td>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G903?'1':'0', 'G903')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G903"></td>
              <td>G90.3 Multi-system degeneration of the autonomic nervous system</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1049?'1':'0', 'E1049')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1049"></td>
              <td>E10.49 Type 1 Diabetes Mellitus W/ Other Diabetic Neurological Complications</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G9050?'1':'0', 'G9050')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G9050"></td>
              <td>G90.50 Complex regional pain syndrome I, unspecified</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E10610?'1':'0', 'E10610')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E10610"></td>
              <td>E10.610 Type 1 Diabetes (Juvenile) W/ diabetic Neuropathic Arthropathy</td>
            </tr>
          </td>

          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G9059?'1':'0', 'G9059')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G9059"></td>
              <td>G90.59 Complex regional pain syndrome I of other specified site</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E119?'1':'0', 'E119')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E119"></td>
              <td>E11.9 Type 2 Diabetes Without Complications (non-Medicare)</td>
            </tr>
          </td>

          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.R000?'1':'0', 'R000')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.R000"></td>
              <td>R00.0 Tachycardia, unspecified {{ reportDetails.rooo_Description.R000_text_1 }}{{ reportDetails.rooo_Description.R000_text_2 }}{{ reportDetails.rooo_Description.R000_text_3 }}</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1141?'1':'0', 'E1141')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1141"></td>
              <td>E11.41 Type 2 Diabetes Mellitus W/ Diabetic Mononeuropathy</td>
            </tr>
          </td>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.R55?'1':'0', 'R55')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.R55"></td>
              <td>R55 Vasovagal Syndrome/Syncope and collapse</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1142?'1':'0', 'E1142')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1142"></td>
              <td>E11.42 Type 2 Diabetes Mellitus W/ Diabetic Polyneuropathy</td>
            </tr>
          </td>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.R7301?'1':'0', 'R7301')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.R7301"></td>
              <td>R73.01 Impaired fasting glucose (Non-Medicare)</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1143?'1':'0', 'E1143')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1143"></td>
              <td>E11.43 Type 2 Diabetes W/ Autonomic Neuropathy</td>
            </tr>
          </td>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.R733?'1':'0', 'R733')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.R733"></td>
              <td>R73.03 Prediabetes (Non-Medicare)</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1144?'1':'0', 'E1144')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1144"></td>
              <td>E11.44 Type 2 Diabetes Mellitus W/Diabetic Amyotrophy</td>
            </tr>
          </td>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G9050?'1':'0', 'G9050')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G9050"></td>
              <td>G90.50 Complex regional pain syndrome I, unspecified</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1149?'1':'0', 'E1149')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1149"></td>
              <td>E11.49 Type 2 Diabetes Mellitus W/ Other Diabetic Neurological Complications</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G90511?'1':'0', 'G90511')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G90511"></td>
              <td>G90.511 Complex regional pain syndrome I of right upper limb</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E850?'1':'0', 'E850')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E850"></td>
              <td>E85.0 Mediterranean Fever</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G90512?'1':'0', 'G90512')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G90512"></td>
              <td>G90.512 Complex regional pain syndrome I of left upper limb</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E851?'1':'0', 'E851')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E851"></td>
              <td>E85.1 Neuropathic Heredofamilial Amyloidosis</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G90513?'1':'0', 'G90513')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G90513"></td>
              <td>G90.513 Complex regional pain syndrome I of upper limb, bilateral</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E853?'1':'0', 'E853')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E853"></td>
              <td>E85.3 Secondary Systemic Amyloidosis</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G90512?'1':'0', 'G90512')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G90512"></td>
              <td>G90.521 Complex regional pain syndrome I of right lower limb</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E854?'1':'0', 'E854')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E854"></td>
              <td>E85.4 Organ – Limited Amyloidosis</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G90522?'1':'0', 'G90522')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G90522"> </td>
              <td>G90.522 Complex regional pain syndrome I of left lower limb</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G200?'1':'0', 'G200')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G200"></td>
              <td>G20.0 Parkinson’s Disease</td>
            </tr>
          </td>

          <td>
            <tr>
              <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G90523?'1':'0', 'G90523')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G90523"></td>
              <td> G90.523 Complex regional pain syndrome I of lower limb, bilateral </td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G230?'1':'0', 'G230')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G230"></td>
              <td>G23.0 Hallervorden – Spatz Disease</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G9059?'1':'0', 'G9059')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G9059"></td>
              <td> G90.59 Complex regional pain syndrome I of other specified site</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G231?'1':'0', 'G231')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G231"></td>
              <td>G23.1 Progressive supranuclear ophthalmoplegia [Steele-Richardson
                Olszewski]</td>
            </tr>
          </td>
          <td>
            <tr>
              <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I951?'1':'0', 'I951')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I951"></td>
              <td>I95.1 Orthostatic Hypotension</td>
            </tr>
          </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G232?'1':'0', 'field_name')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G232"></td>
          <td>G23.2 Striatonigral degeneration </td>
        </tr>
        </td>

        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.R61?'1':'0', 'field_name')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.R61"></td>
            <td>R61 Generalized hyperhidrosis </td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G238?'1':'0', 'field_name')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G238"></td>
          <td>G23.8 Other specified degenerative diseases of basal ganglia</td>
        </tr>
        </td>

        <td>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </td>
        </tr>

        <tr>
          <td colspan="2">
            <p class="red_para">ICD 10 DIAGNOSTIC CODES TO BE USED WITH CPT CODE: 93922 or 93923 (93923 1
              UNIT FOR UPPER AND 1
              UNIT FOR LOWER EXTREMITY) REQUIRED ANSILLARY TESTING: ABI, WAVE FORM DOPPLER OR PULSE WAVE
              /PHOTO PLETHYSMOGRAPHY DEVICE
            </p>
          </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1059?'1':'0', 'E1059')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1059"></td>
          <td>E10.59 Type 1 Diabetes W/ Other Circulatory Complications</td>
        </tr>
        </td>

        <td>

          <tr>
            <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70222?'1':'0', 'I70222')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70222"></td>
            <td>I70.222 Atherosclerosis of native arteries of extremities with rest pain, left
              leg</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.E1159?'1':'0', 'E1159')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.E1159"></td>
          <td>E11.59 Type 2 Diabetes W/ Other Circulatory Complications</td>
        </tr>
        </td>

        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70223?'1':'0', 'I70223')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70223"></td>
            <td>I70.223 Atherosclerosis of native arteries of extremities with rest pain,
              Bilateral legs</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>

        <tr>
          <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.G458?'1':'0', 'G458')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.G458"></td>
          <td>G45.8 Other Transient Cerebral Ischemic Attacks and Related Syndrome</td>
        </tr>
        </td>

        <td>
          <tr>
            <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70228?'1':'0', 'I70228')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70228"></td>
            <td>I70.228 Atherosclerosis of native arteries of extremities with rest pain,
              other extremity</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I10?'1':'0', 'I10')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I10"></td>
          <td>I10 Hypertension Unspecified (Non-Medicare) <b>{{ reportDetails.reportData[0].systolic_value }}/{{ reportDetails.reportData[0].diastolic_value }}</b> </td>
        </tr>
        </td>

        <td>
          <tr>
            <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70268?'1':'0', 'I70268')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70268"></td>
            <td>I70.268 Atherosclerosis of native arteries of extremities with gangrene, Other extremity</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I2510?'1':'0', 'I2510')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I2510"></td>
          <td>I25.10 Atherosclerotic heart disease of native coronary artery w/o angina pectoris</td>
        </tr>
        </td>

        <td>
          <tr>
            <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I7025?'1':'0', 'I7025')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I7025"></td>
            <td>I70.25 Atherosclerosis of native arteries of other extremities with Ulceration</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I519?'1':'0', 'I519')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I519"></td>
          <td>I51.9 Heart disease, unspecified (Non-Medicare)</td>
        </tr>
        </td>

        <td>
          <tr>
            <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I721?'1':'0', 'I721')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I721"></td>
            <td>I72.1 Aneurysm of artery of upper extremity</td>
          </tr>
        </td>
        </tr>

        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70209?'1':'0', 'I70209')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70209"></td>
          <td>I70.209 Atherosclerosis Native Arteries Extremities Unspecified (non-Medicare)</td>
        </tr>
        </td>

        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I724?'1':'0', 'I724')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I724"></td>
            <td>I72.4 Aneurysm of artery of lower extremity </td>
          </tr>
        </td>
        </tr>
        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70221?'1':'0', 'I70221')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70221"></td>
          <td>I70.211 Atherosclerosis of native arteries of extremities with intermittent
            Claudication, right leg</td>
        </tr>
        </td>
        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I7389?'1':'0', 'I7389')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I7389"></td>
            <td>I73.89 Other specified peripheral vascular diseases</td>
          </tr>
        </td>
        </tr>
        <tr>
          <td>
        <tr>
          <td><input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70212?'1':'0', 'I70212')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70212"></td>
          <td>I70.212 Atherosclerosis of native arteries of extremities with intermittent
            Claudication, left leg</td>
        </tr>
        </td>
        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I739?'1':'0', 'I739')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I739"></td>
            <td>I73.9 Peripheral vascular disease, unspecified</td>
          </tr>
        </td>
        </tr>
        <tr>
          <td>
        <tr>
          <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.I70213?'1':'0', 'I70213')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.I70213"> </td>
          <td> I70.213 Atherosclerosis of native arteries of extremities with intermittent
            Claudication, bilateral legs</td>
        </tr>
        </td>
        <td>
          <tr>
            <td> <input type="checkbox" (change)="checkValue('icd_codes', orginalReportDetails.icd_codes.R088?'1':'0', 'R088')" [ngModelOptions]="{standalone: 1}" [(ngModel)]="orginalReportDetails.icd_codes.R088"></td>
            <td>R08.8 9 Other Specific Signs & Symptoms of Circulatory &
              Respiratory Systems</td>
          </tr>
        </td>
        </tr>
        <tr>
          <td rowspan="2">
            <p>ADDITIONAL POTENTIAL HEALTH RISKS</p>
            <!-- <textarea class="additionalnotes additionalnotes3" [(ngModel)]=""> -->
              <ng-container *ngFor="let data of orginalReportDetails.additional_potential_health_risks">
                <p>{{ data }}</p>
              </ng-container>
            <!-- </textarea> -->
          </td>

          <td>
            <p>Pre-Existing Diagnoses: </p>
            <textarea class="additionalnotes"></textarea>
            <br>
            <p>Additional Physician’s Chart Notes:</p>
            <textarea class="additionalnotes"></textarea>
          </td>
        </tr>
      </table>

    </mat-card-content>
  </form>
</mat-card-content>
