<app-admin-header></app-admin-header>


<mat-card-content class="editPatient_wrapper">

  <mat-card-content class="editItems mat-elevation-z5" *ngIf="allPatientDataArray[0].report_type == 'file'">
    <mat-card-content class="image_slider">

      <mat-card-content class="img_w">
        <img [src]="allPatientDataArray[0].file_basepath + ImageData[sliderCount].name">
      </mat-card-content>
      
      <button mat-mini-fab class="prev" (click)="playSlider('preview');"> << </button> 
      <button mat-mini-fab class="next" (click)="playSlider('next');"> >> </button>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="editItems mat-elevation-z5" [ngClass]="{display_section: allPatientDataArray[0].report_type == 'mannual'}"
    *ngIf="allPatientDataArray[0].report_type == 'mannual' || allPatientDataArray[0].report_type == 'file' ">

    <!-- patient form start here -->
    <mat-card class="add_form">
      <mat-card-content>
        <form class="example-form" autocomplete="off" name="patientAddEditForm" [formGroup]="patientAddEditForm"
          (ngSubmit)="patientAddEditFormSubmit()">
  
          <fieldset class="field_setmodel">
            <legend class="legend_model">Patients Information:</legend>
  
            <span class="patients_info_wrapper">
              <!-- Patient Name Start -->
              <mat-card-content>
                <label>Patient Name</label>
                <mat-form-field>
                  <input matInput [formControl]="patientAddEditForm.controls['patient_name']"
                    (blur)="inputUntouch(patientAddEditForm,'patient_name')">
                  <mat-error
                    *ngIf="patientAddEditForm.controls['patient_name'].touched && !patientAddEditForm.controls['patient_name'].valid && patientAddEditForm.controls['patient_name'].errors.required">
                    Patient Name can not be blank</mat-error>
                </mat-form-field>
              </mat-card-content>
              <!-- Patient Name End -->
  
              <!-- Patient Gender Start -->
              <mat-card-content>
                <label>Patient Gender</label>
                <span class="patientGender">
                  <input type="radio" value='Male' [formControl]="patientAddEditForm.controls['gender']">Male
                  <input type="radio" value='Female' [formControl]="patientAddEditForm.controls['gender']">Female
                </span>
  
                <mat-error
                  *ngIf="patientAddEditForm.controls['gender'].touched && !patientAddEditForm.controls['gender'].valid && patientAddEditForm.controls['gender'].errors.required">
                  Birth Date can not be blank.</mat-error>
              </mat-card-content>
              <!-- Patient Gender End -->
  
              <!-- Date of Birth Start -->
              <mat-card-content>
                <label> Date of birth</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="dobPicker" [formControl]="patientAddEditForm.controls['birth_date']">
                  <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dobPicker></mat-datepicker>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['birth_date'].touched && !patientAddEditForm.controls['birth_date'].valid && patientAddEditForm.controls['birth_date'].errors.required">
                    Birth Date can not be blank.</mat-error>
                </mat-form-field>
              </mat-card-content>
              <!-- Date of Birth End -->
  
              <!-- Ordering Physician Start -->
              <mat-card-content>
                <label>Ordering Physician</label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['doctor_id']" placeholder="Select a Doctor"
                    (selectionChange)="getTechList($event.value);">
                    <mat-option>Select a Doctor</mat-option>
                    <mat-option *ngFor="let doctor of htmlText.allDoctor;" value="{{ doctor._id }}"> {{ doctor.firstname }} {{ doctor.lastname }}
                    </mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['doctor_id'].touched && !patientAddEditForm.controls['doctor_id'].valid && patientAddEditForm.controls['doctor_id'].errors.required">
                    Select a doctor.</mat-error>
                </mat-form-field>
              </mat-card-content>
              <!-- Ordering Physician End -->
  
              <!-- Tech Name Start -->
              <mat-card-content>
                <label> Tech Name </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['tech_id']" (selectionChange)="selectTech($event.value);" placeholder="Select a Tech">
                    <mat-option>Select a Tech</mat-option>
                    <mat-option *ngFor="let tech of htmlText.allTech;" value="{{ tech.tech_id }}"> {{ tech.firstname }} {{ tech.lastname }}
                    </mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['tech_id'].touched && !patientAddEditForm.controls['tech_id'].valid && patientAddEditForm.controls['tech_id'].errors.required">
                    Select a tech.</mat-error>
                </mat-form-field>
              </mat-card-content>
              <!-- Tech Name End -->
  
              <!-- Test Date Start -->
              <mat-card-content>
                <label> Test Date</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="testDatePicker"
                    [formControl]="patientAddEditForm.controls['test_date']">
                  <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #testDatePicker></mat-datepicker>
                </mat-form-field>
  
                <mat-error
                  *ngIf="patientAddEditForm.controls['test_date'].touched && !patientAddEditForm.controls['test_date'].valid && patientAddEditForm.controls['test_date'].errors.required">
                  Test date can not be blank.</mat-error>
              </mat-card-content>
              <!-- Test Date Start -->
  
              <!-- Tech Completed Start -->
              <mat-card-content>
                <label> Test Completed</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="testCompletedDatePicker"
                    [formControl]="patientAddEditForm.controls['test_completed_date']">
                  <mat-datepicker-toggle matSuffix [for]="testCompletedDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #testCompletedDatePicker></mat-datepicker>
                </mat-form-field>
  
                <mat-error
                  *ngIf="patientAddEditForm.controls['test_completed_date'].touched && !patientAddEditForm.controls['test_completed_date'].valid && patientAddEditForm.controls['test_completed_date'].errors.required">
                  Test Completed Date can not be blank.</mat-error>
              </mat-card-content>
              <!-- Test Completed Start -->
  
            </span>
          </fieldset>
  
          <br>
  
          <fieldset class="field_setmodel">
            <legend class="legend_model">RM-3A Status report</legend>
            <span class="test_date_wrapper">
  
              <!-- PTGTP Start -->
              <mat-card-content>
                <label>PTGTP</label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['PTGTP']"
                    (blur)="inputUntouch(patientAddEditForm,'PTGTP')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['PTGTP'].touched && !patientAddEditForm.controls['PTGTP'].valid && patientAddEditForm.controls['PTGTP'].errors.required">
                    PTGTP Required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['PTGTP_value']" placeholder="PTGTP value" />
                  <mat-hint align="start"> <strong>Optional field.</strong></mat-hint>
                </mat-form-field>
              </mat-card-content>
              <!-- PTGTP End -->
  
              <!-- PTGVLFI Start -->
              <mat-card-content>
                <label> PTGVLFI </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['PTGVLFI']"
                    (blur)="inputUntouch(patientAddEditForm,'PTGVLFI')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['PTGVLFI'].touched && !patientAddEditForm.controls['PTGVLFI'].valid && patientAddEditForm.controls['PTGVLFI'].errors.required">
                    PTGVLFI required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['PTGVLFI_value']"
                    placeholder="PTGVLFI value" />
                </mat-form-field>
              </mat-card-content>
              <!-- PTGVLFI End -->
  
              <!-- IR Start -->
              <mat-card-content>
                <label> IR </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['IR']"
                    (blur)="inputUntouch(patientAddEditForm,'IR')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['IR'].touched && !patientAddEditForm.controls['IR'].valid && patientAddEditForm.controls['IR'].errors.required">
                    IR required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['IR_value']" placeholder="IR value" />
                </mat-form-field>
              </mat-card-content>
              <!-- IR End -->
  
              <!-- ESRNO Start -->
              <mat-card-content>
                <label> ESRNO<br> (Baseline) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['ESRNO']"
                    (blur)="inputUntouch(patientAddEditForm,'ESRNO')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['ESRNO'].touched && !patientAddEditForm.controls['ESRNO'].valid && patientAddEditForm.controls['ESRNO'].errors.required">
                    ESRNO required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['ESRNO_value']" placeholder="ESRNO value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> ESR L<br> (Latency) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['ESRL']"
                    (blur)="inputUntouch(patientAddEditForm,'ESRL')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['ESRL'].touched && !patientAddEditForm.controls['ESRL'].valid && patientAddEditForm.controls['ESRL'].errors.required">
                    ESR L required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['ESRL_value']" placeholder="ESRL value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> Peak C <br> (Amplitude) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['peakC']"
                    (blur)="inputUntouch(patientAddEditForm,'peakC')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['peakC'].touched && !patientAddEditForm.controls['peakC'].valid && patientAddEditForm.controls['peakC'].errors.required">
                    Peak C required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['peakC_value']" placeholder="peakC value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> PTG Type <br> (EnterType 1-5) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['PTGtype']"
                    (blur)="inputUntouch(patientAddEditForm,'PTGtype')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['PTGtype'].touched && !patientAddEditForm.controls['PTGtype'].valid && patientAddEditForm.controls['PTGtype'].errors.required">
                    PTG Type required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['PTGtype_value']"
                    placeholder="PTG Type value" />
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['PTGtype_value'].touched && !patientAddEditForm.controls['PTGtype_value'].valid && patientAddEditForm.controls['PTGtype_value'].errors.required">
                    PTG Type value required.</mat-error>
                  <mat-error
                    *ngIf="patientAddEditForm.controls['PTGtype_value'].touched && !patientAddEditForm.controls['PTGtype_value'].valid && patientAddEditForm.controls['PTGtype_value'].errors.pattern">
                    PTG Type value is not valid.</mat-error>
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> PTG CVD </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['PTGCVD']"
                    (blur)="inputUntouch(patientAddEditForm,'PTGCVD')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['PTGCVD'].touched && !patientAddEditForm.controls['PTGCVD'].valid && patientAddEditForm.controls['PTGCVD'].errors.required">
                    PTG CVD required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['PTGCVD_value']"
                    placeholder="PTGCVD value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> Stress I <br> (Stress Index) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['stressI']"
                    (blur)="inputUntouch(patientAddEditForm,'stressI')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['stressI'].touched && !patientAddEditForm.controls['stressI'].valid && patientAddEditForm.controls['stressI'].errors.required">
                    Stress I required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['stressI_value']"
                    placeholder="Stress I value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> RI </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['RI']"
                    (blur)="inputUntouch(patientAddEditForm,'RI')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['RI'].touched && !patientAddEditForm.controls['RI'].valid && patientAddEditForm.controls['RI'].errors.required">
                    RI required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['RI_value']" placeholder="Stress I value" />
                </mat-form-field>
              </mat-card-content>
  
              <mat-card-content>
                <label> AIPTG<br> (IPTG) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['AIPTG']"
                    (blur)="inputUntouch(patientAddEditForm,'AIPTG')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['AIPTG'].touched && !patientAddEditForm.controls['AIPTG'].valid && patientAddEditForm.controls['AIPTG'].errors.required">
                    AIPTG required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['AIPTG_value']" placeholder="AIPTG value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> CIs (CI) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['CIsCI']"
                    (blur)="inputUntouch(patientAddEditForm, 'CIsCI')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['CIsCI'].touched && !patientAddEditForm.controls['CIsCI'].valid && patientAddEditForm.controls['CIsCI'].errors.required">
                    CIs (CI) required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['CIsCI_value']" placeholder="CIsCI value">
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> pNN50 </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['pNN50']"
                    (blur)="inputUntouch(patientAddEditForm,'pNN50')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['pNN50'].touched && !patientAddEditForm.controls['pNN50'].valid && patientAddEditForm.controls['pNN50'].errors.required">
                    pNN50 required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['pNN50_value']" placeholder="pNN50 value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> RMSSD </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['RMSSD']"
                    (blur)="inputUntouch(patientAddEditForm,'pNN50')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['RMSSD'].touched && !patientAddEditForm.controls['RMSSD'].valid && patientAddEditForm.controls['RMSSD'].errors.required">
                    RMSSD required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['RMSSD_value']" placeholder="RMSSD value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> SD ba - </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['SDba']"
                    (blur)="inputUntouch(patientAddEditForm,'SDba')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['SDba'].touched && !patientAddEditForm.controls['SDba'].valid && patientAddEditForm.controls['SDba'].errors.required">
                    SD ba - required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['SDba_value']" placeholder="SDba value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label> SD da </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['SDda']"
                    (blur)="inputUntouch(patientAddEditForm,'SDda')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['SDda'].touched && !patientAddEditForm.controls['SDda'].valid && patientAddEditForm.controls['SDda'].errors.required">
                    SD da required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['SDda_value']" placeholder="SDda value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label>DPRS </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['DPRS']"
                    (blur)="inputUntouch(patientAddEditForm,'DPRS')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['DPRS'].touched && !patientAddEditForm.controls['DPRS'].valid && patientAddEditForm.controls['DPRS'].errors.required">
                    DPRS required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['DPRS_value']" placeholder="DPRS value" />
                </mat-form-field>
              </mat-card-content>
  
              <mat-card-content>
                <label>ValsR. </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['ValsR']"
                    (blur)="inputUntouch(patientAddEditForm,'ValsR')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['ValsR'].touched && !patientAddEditForm.controls['ValsR'].valid && patientAddEditForm.controls['ValsR'].errors.required">
                    ValsR required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['ValsR_value']" placeholder="ValsR value" />
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label>BMI<br> Enter BMI Score (I.E. 29.1) </label>
                <mat-form-field>
                  <input matInput [formControl]="patientAddEditForm.controls['BMI']" placeholder="BMI value" />
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['BMI'].touched && !patientAddEditForm.controls['BMI'].valid && patientAddEditForm.controls['BMI'].errors.required">
                    BMI value required.</mat-error>
                  <mat-error
                    *ngIf="patientAddEditForm.controls['BMI'].touched && !patientAddEditForm.controls['BMI'].valid && patientAddEditForm.controls['BMI'].errors.pattern">
                    BMI value is not valid.</mat-error>
                </mat-form-field>
              </mat-card-content>
  
  
              <mat-card-content>
                <label>Blood Pressure<br> Systolic & Diastolic (120/80) </label>
                <mat-form-field>
                  <mat-select [formControl]="patientAddEditForm.controls['blood_pressure']"
                    (blur)="inputUntouch(patientAddEditForm,'blood_pressure')" placeholder="Select a Option">
                    <mat-option>Select a option</mat-option>
                    <mat-option value="N"> Normal</mat-option>
                    <mat-option value="A"> Abnormal</mat-option>
                    <mat-option value="H"> Highly Abnormal</mat-option>
                  </mat-select>
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['blood_pressure'].touched && !patientAddEditForm.controls['blood_pressure'].valid && patientAddEditForm.controls['blood_pressure'].errors.required">
                    Blood Pressure required.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['systolic_value']"
                    placeholder="Systolic value" />
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['systolic_value'].touched && !patientAddEditForm.controls['systolic_value'].valid && patientAddEditForm.controls['systolic_value'].errors.required">
                    Systolic value required.</mat-error>
                  <mat-error
                    *ngIf="patientAddEditForm.controls['systolic_value'].touched && !patientAddEditForm.controls['systolic_value'].valid && patientAddEditForm.controls['systolic_value'].errors.pattern">
                    Systolic value is not valid.</mat-error>
                </mat-form-field>
  
                <mat-form-field class="subValue">
                  <input matInput [formControl]="patientAddEditForm.controls['diastolic_value']"
                    placeholder="Diastolic value" />
  
                  <mat-error
                    *ngIf="patientAddEditForm.controls['diastolic_value'].touched && !patientAddEditForm.controls['diastolic_value'].valid && patientAddEditForm.controls['diastolic_value'].errors.required">
                    Systolic value required.</mat-error>
                  <mat-error
                    *ngIf="patientAddEditForm.controls['diastolic_value'].touched && !patientAddEditForm.controls['diastolic_value'].valid && patientAddEditForm.controls['diastolic_value'].errors.pattern">
                    Diastolic value is not valid.</mat-error>
                </mat-form-field>
              </mat-card-content>
  
            </span>
          </fieldset>
  
          <br>
  
          <fieldset class="field_setmodel">
            <legend class="legend_model">additional notes</legend>
  
            <br>
  
            <span class="patient_diagnotes">
              <label>Patient Diagnoses & Notes:</label>
              <mat-form-field class="example-full-width">
  
                <textarea matInput placeholder="Leave a comment" [formControl]="patientAddEditForm.controls['leave_notes']"
                  (blur)="inputUntouch(patientAddEditForm,'leave_notes')"></textarea>
                <mat-error
                  *ngIf="patientAddEditForm.controls['leave_notes'].touched && !patientAddEditForm.controls['leave_notes'].valid && patientAddEditForm.controls['leave_notes'].errors.required">
                  Patient Diagnoses & Notes can not be blank</mat-error>
              </mat-form-field>
            </span>
            
          </fieldset>
        </form>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
  <!-- patient form end here -->
</mat-card-content>


<mat-toolbar class="action_button">
  <button mat-flat-button type="reset">Reset </button>
  <button mat-flat-button type="button" (click)="patientAddEditFormSubmit()"> update </button>
</mat-toolbar>

<app-admin-footer></app-admin-footer>
