.add_form{ width: 70%; margin: 20px auto; background: #fdfdfd; padding: 16px 10px; padding-bottom: 30px; border: 1px solid #91e7ff; }
.add_form .form_wrapper .mat-form-field{ width: 100%;  }
.add_form .form_wrapper textarea{ resize: none;}
.add_form h2{ font-family: "AvenirBlack"; text-transform: uppercase; font-size: 24px; padding: 0 6px; color: #1dbce9; }
.add_form .submit_form { display: block; width: 100%; text-align: center; margin-top: 30px; }

.add_form .return_button { background: #1dbce9; color: #fff; margin-bottom: 12px;}
.add_header{ display: flex; margin: 016px;}
.add_header button{ margin-left: auto;
  background: linear-gradient(180deg, #fac855, #e47e2a)!important;
  text-transform: uppercase;
  font-family: "AvenirBlack"; padding-top: 4px;
}

@media screen and (max-width: 840px){
  .add_form { width: 80%; }
}
@media screen and (max-width: 560px){
.add_form .submit_form button:nth-child(1) { margin-right: 0px; margin-bottom: 16px; }
.add_form .submit_form button { width: 100%; }

}

@media screen and (max-width: 480px){
.add_form  { width: 100%; }
}