<!-- Header Start -->

<app-admin-header *ngIf="headerFlag == 'admin'"></app-admin-header>

<app-biller-header *ngIf="headerFlag == 'biller'"></app-biller-header>

<app-tech-header *ngIf="headerFlag == 'tech'"></app-tech-header>

<app-doctor-header *ngIf="headerFlag == 'doctor'"></app-doctor-header>

<!-- Header End -->

<mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>

<mat-card-content class="title_wrapper">
    Account Setting
</mat-card-content>


<span class="add_header">
    <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Change Password</span>
</span>
<!-- End header with add button -->

<mat-card class="add_form">
    <h2>Change Password</h2>
    <mat-card-content class="form_wrapper">
        <form class="example-form" autocomplete="off" name="ChangePasswordForm" [formGroup]="ChangePasswordForm"
            (ngSubmit)="ChangePasswordFormSubmit()">
            <!-- Old Password -->
            <mat-form-field class="form-group">
                <input matInput placeholder="Type Current Password" type="password"
                    [formControl]="ChangePasswordForm.controls['oldPassword']">
                <mat-error
                    *ngIf="!ChangePasswordForm.controls['oldPassword'].valid && ChangePasswordForm.controls['oldPassword'].touched">
                    Password field can not be blank</mat-error>
            </mat-form-field>
            <!-- New Password -->
            <mat-form-field class="form-group">
                <input matInput placeholder="Type New Password" type="password"
                    [formControl]="ChangePasswordForm.controls['newPassword']">
                <mat-error
                    *ngIf="!ChangePasswordForm.controls['newPassword'].valid && ChangePasswordForm.controls['newPassword'].touched">
                    Password field can not be blank</mat-error>
            </mat-form-field>
            <!-- Confirm Password -->
            <mat-form-field class="form-group">
                <input matInput placeholder="Retype New Password" type="password"
                    [formControl]="ChangePasswordForm.controls['confirmPassword']">
                <mat-error
                    *ngIf="!ChangePasswordForm.controls['confirmPassword'].valid && ChangePasswordForm.controls['confirmPassword'].touched">
                    Password does not match </mat-error>
            </mat-form-field>

            <span class="submit_form">
                <button mat-flat-button type="button" (click)="CancelRedirectToDashboard()"> Cancel </button>
                <button mat-flat-button type="submit" [disabled]="!ChangePasswordForm.valid"> Update </button>
            </span>
        </form>
    </mat-card-content>

</mat-card>
<app-admin-footer></app-admin-footer>
