<mat-toolbar class="techdashboard_header" [ngClass]="{'sticky' : isSticky}">
  <mat-card-content class="header_wrapper">
    <span class="logo_wrapper" [routerLink]="[ '/tech/dashboard' ]">
      <img src="../../../assets/images/logo.png">
    </span>


    <button mat-flat-button (click)="menuFunction()" class="togle_menu"><i class="material-icons"> menu </i></button>
    <mat-card-content class="quotation" [ngClass]="status ? 'success' : 'danger'">
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/tech/dashboard']"> Dashboard </a>
        <a mat-list-item routerLinkActive="active" [matMenuTriggerFor]="calendarMenu"> Manage Calendar </a>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/tech/faq']" [matMenuTriggerFor]="calendarMenu"> FAQ </a>
      </mat-nav-list>

      <mat-menu #calendarMenu="matMenu" class="sub_menu">
        <button mat-menu-item [routerLink]="['/tech/manage-calender/manage-sehedule']">Manage Schedule
        </button>
        <button mat-menu-item [routerLink]="['/tech/manage-calender/my-appoinments']">My Appointments</button>
      </mat-menu>
    </mat-card-content>

    <mat-card-content class="profile_section">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="['/tech/account-settings']">
          <mat-icon>account_circle</mat-icon> Account Settings
        </button>
        <button mat-menu-item [routerLink]="['/tech/account-settings/change-password']">
          <mat-icon>vpn_key</mat-icon> Change Password
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon> Logout
        </button>
      </mat-menu>
      <span class="username">{{user_data.firstname}} {{user_data.lastname}}</span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <span class="user_profile">
          <mat-icon>account_circle</mat-icon>
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </span>
      </button>

    </mat-card-content>
  </mat-card-content>
</mat-toolbar>
<!-- end header -->

