<mat-toolbar class="techdashboard_header">
    <mat-toolbar-row>
      <span class="logo_wrapper" [routerLink]="[ '/tech/dashboard' ]">
        <img src="../../../assets/images/logo.png">
      </span>
  
  
      <mat-card-content class="quotation">
        <p>ADVANCED ANS TECHNOLOGY – BETTER PATIENT CARE – INCREASE PRACTICE REVENUE</p>
      </mat-card-content>
  
  
      <mat-card-content class="profile_section">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item [routerLink]="['/tech/account-settings']">
            <mat-icon>account_circle</mat-icon> Account Settings
          </button>
          <button mat-menu-item [routerLink]="['/tech/account-settings/change-password']">
            <mat-icon>vpn_key</mat-icon> Change Password
          </button>
          <button mat-menu-item (click)="logout()"> <mat-icon>power_settings_new</mat-icon> Logout </button>
        </mat-menu>
        <span class="username">{{user_data.firstname}} {{user_data.lastname}}</span>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <span class="user_profile">
            <mat-icon>account_circle</mat-icon>
            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </span>
        </button>
  
      </mat-card-content>
  
  
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- end header -->