
<span class="main_wrapper">
    <span class="img_wrapper">
    <mat-card class="login_wrapper">

      <mat-card-content>
        <div class="login_container">
            <span class="logo_section">
              <img src="assets/images/logo.png">
            </span>
            <h2>Reset Password</h2>
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
            <input matInput   type="email">
          </mat-form-field>

          <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password">
          </mat-form-field>


          <button mat-flat-button color="primary" class="loginBtn">Update Password</button>


          <span class="forget_wrapper">
            <a routerLink="/forgetpassword">Login</a>
          </span>
        </div>

      </mat-card-content>

    </mat-card>
    </span>
    </span>
