<mat-toolbar class="techdashboard_header" [ngClass]="{'sticky' : isSticky}">
  <mat-card-content class="header_wrapper">
    <span class="logo_wrapper" [routerLink]="[ '/biller/dashboard' ]">
      <img src="../../../assets/images/logo.png">
    </span>

    <mat-card-content *ngIf="user_data.headerFlag != 'undefined'" class="quotation">
      <button mat-flat-button (click)="menuFunction()" class="togle_menu">
        <i class="material-icons"> menu </i>
      </button>

      <mat-card-content class="quotation" [ngClass]="toggleStatus ? 'success' : 'danger'">
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/doctor-office/dashboard']"> Dashboard </a>
          <a mat-list-item [routerLink]="['/doctor-office/manage-appointments']" routerLinkActive="active"> Manage
            Appointments </a>

          <a mat-list-item routerLinkActive="active" [matMenuTriggerFor]="CreatePatientMenu"> Create Patient <i class="material-icons">
            keyboard_arrow_down
          </i> </a>

          <a mat-list-item [routerLink]="['/doctor-office/faq']" routerLinkActive="active"> FAQ </a>
          <a mat-list-item [routerLink]="['/doctor-office/reports-details']" routerLinkActive="active"> CPT Validate Reports </a>
        </mat-nav-list>
      </mat-card-content>   
    </mat-card-content>

    <mat-menu #CreatePatientMenu="matMenu">
      <button mat-menu-item [routerLink]="['/doctor-office/create-patient/add-patient-manually']"> Add Manually
      </button>
      <button mat-menu-item [routerLink]="['/doctor-office/manage-appointments/book-appoinment-now']"  > Book Appointment </button>
    </mat-menu>

    <mat-card-content class="profile_section">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="['/doctor-office/account-settings']">
          <mat-icon>account_circle</mat-icon> Account Settings
        </button>

        <button mat-menu-item [routerLink]="['/doctor-office/account-settings/change-password']">
          <mat-icon>vpn_key</mat-icon> Change Password
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon> Logout
        </button>
      </mat-menu>

      <span class="username">{{ user_data.center_name }}</span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <span class="user_profile">
          <mat-icon>account_circle</mat-icon>
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </span>
      </button>

    </mat-card-content>
  </mat-card-content>
</mat-toolbar>
<!-- end header -->