<mat-toolbar class="techdashboard_header">
  <mat-toolbar-row>
    <span class="logo_wrapper" [routerLink]="[ '/biller/dashboard' ]">
      <img src="../../../assets/images/logo.png">
    </span>

    <mat-card-content class="quotation">
      <p>ADVANCED ANS TECHNOLOGY – BETTER PATIENT CARE – INCREASE PRACTICE REVENUE</p>
    </mat-card-content>
    <mat-card-content class="profile">

    </mat-card-content>
  </mat-toolbar-row>
</mat-toolbar>
<!-- end header -->
<mat-card-content class="reset_wrapper">
  <mat-card-content class="card_wrapper">


    <mat-card-content class="icon">
      <i class="material-icons">
        cloud_download
      </i>
    </mat-card-content>
    <mat-card-title>Enter Password to Download the Report</mat-card-title>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter password" type="password" value="" [(ngModel)]="htmlText.password">
    </mat-form-field>

    <span class="botText" *ngIf="htmlText.passwordAttemptsCount >= 3">{{ htmlText.notBotText }}</span>

    <mat-form-field *ngIf="htmlText.passwordAttemptsCount >= 3" class="example-full-width">
      <input matInput placeholder="Enter text" type="text" value="" [(ngModel)]="htmlText.notBotInput">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="downloadPDF();">Download</button>
  </mat-card-content>
</mat-card-content>
<app-admin-footer></app-admin-footer>