<mat-toolbar class="techdashboard_header">
  <mat-toolbar-row>
    <span class="logo_wrapper" [routerLink]="[ '/biller/dashboard' ]">
      <img src="../../../assets/images/logo.png">
    </span>

    <mat-card-content class="quotation">
      <p>ADVANCED ANS TECHNOLOGY – BETTER PATIENT CARE – INCREASE PRACTICE REVENUE</p>
    </mat-card-content>
    <mat-card-content class="profile">

    </mat-card-content>
  </mat-toolbar-row>
</mat-toolbar>
<!-- end header -->
<mat-card-content class="reset_wrapper">
  <mat-card-content class="card_wrapper">
    <mat-card-content class="icon">
      <i class="material-icons">cloud_download</i>
    </mat-card-content>
    <mat-card-title>Enter Password to Download the Report</mat-card-title>

    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Enter password" type="password" value="" [(ngModel)]="htmlText.password">
    </mat-form-field>
    <span class="captcha_wrapper">
      <span class="botText">{{ htmlText.notBotText }} </span>
      <button mat-button class="refreshButton"><i class="material-icons"> autorenew </i></button>
    </span>
    <mat-form-field *ngIf="htmlText.failedPassword >= 3" class="example-full-width" appearance="fill">
      <input matInput placeholder="Enter text" type="text" value="" [(ngModel)]="htmlText.notBotInput">
    </mat-form-field>

    <button mat-raised-button class="download_button" (click)="downloadPDF();">Download</button>

    <p class="error_message">Error! Try Again</p>
    <p class="success_message">Thank You for Downloading</p>
  </mat-card-content>
</mat-card-content>
<app-admin-footer></app-admin-footer>
