<mat-card-content class="system_superbill_wrapper">
    <form class="example-form" autocomplete="off">

        <table class="table_one">
            <tr>
                <td colspan="3">
                    <h2 class="top_header">For Intensive Behavioral Therapy Obesity Counseling</h2>
                </td>
            </tr>

            <tr>
                <td data-label="Patient Name">
                    <label>
                        <span>Patient Name</span>
                        <input type="text" value="{{ orginalReportDetails.patient_details[0].patient_name }}">
                    </label>
                </td>

                <td class="gender" data-label="Gender">
                    <label><input type="radio"
                            [checked]="orginalReportDetails.patient_details[0].gender_male_flag == true"
                            [value]="true">Male</label>
                    <label><input type="radio"
                            [checked]="orginalReportDetails.patient_details[0].gender_female_flag == true"
                            [value]="true">Female</label>
                </td>

                <td data-label="Test Date">
                    <label>
                        <span>Test Date:</span>
                        <input type="text" value="{{ orginalReportDetails.test_date | date }}">
                    </label>
                </td>
            </tr>

            <tr>
                <td data-label="Ordering Physician">
                    <label>
                        <span> Ordering Physician </span>
                        <input type="text"
                            value="{{ orginalReportDetails.patient_details[0].doctor_details[0].firstname }} {{ orginalReportDetails.patient_details[0].doctor_details[0].lastname }}"></label>
                </td>
                <td> </td>
                <td data-label="D.O.B">
                    <label>
                        <span> D.O.B </span>
                        <input type="text" value="{{ orginalReportDetails.patient_details[0].dob | date }}">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="fifty" colspan="2" data-label="Physician’s Signature">
                    <label>
                        <span> Physician’s Signature </span>
                        <input class="signaturefont" type="text" value="{{ orginalReportDetails.doctor_signature }}">
                    </label>
                </td>

                <td class="fifty">Suggested billing amounts per CPT Code: </td>
            </tr>
            <tr>
                <td class="fifty" colspan="2">
                    <p>1. Medicare modifier “XU” must be used on secondary CPT codes.</p>
                    <p>2. Modifier “59” for commercial insurance must be used on secondary CPT codes</p>
                    <p>3. Do not bill these tests on the same day as a physical</p>
                </td>

                <td class="fifty">
                    <h4>Obesity Counseling ICD 10 Codes for Z68 CPT Codes Shown Below</h4>
                    <p><label><input type="checkbox" checked>G0447 Face-to-face obesity Counseling. 15 minutes:
                            $40</label></p>
                    <p><label><input type="checkbox" checked>G0473 Face-to-face Obesity Counseling for groups of (2-10)
                            30 minutes:
                            $20</label></p>
                </td>
            </tr>




        </table>
        <h2 class="table2_header"> INTENSIVE BEHAVIORAL THERAPY (IBT) FOR OBESITY ICD10 DIAGNOSTIC CODES
        </h2>
        <table class="table_two">

            <tr>
                <td>
                    <label> <input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI29"
                            [ngModelOptions]="{standalone: true}">
                        Z68.29 <span> BMI 29 to 29.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI33"
                            [ngModelOptions]="{standalone: true}">
                        Z68.33 <span> BMI 33 to 33.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI37"
                            [ngModelOptions]="{standalone: true}">
                        Z68.37<span> BMI 37 to 37.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI45"
                            [ngModelOptions]="{standalone: true}">
                        Z68.42 <span>BMI 45 to 49.9 </span> </label>
                </td>
            </tr>

            <tr>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI30"
                            [ngModelOptions]="{standalone: true}">
                        Z68.30 <span>BMI 30 to 30.9 </span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI34"
                            [ngModelOptions]="{standalone: true}">
                        Z68.34 <span> BMI 34 to 34.9 </span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI38"
                            [ngModelOptions]="{standalone: true}">
                        Z68.38 <span>BMI 38 to 38.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI50"
                            [ngModelOptions]="{standalone: true}">
                        Z68.43 <span>BMI 50 to 59.9</span> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI31"
                            [ngModelOptions]="{standalone: true}">
                        Z68.31 <span>BMI 31 to 31.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI35"
                            [ngModelOptions]="{standalone: true}">
                        Z68.35 <span> BMI 35 to 35.9 </span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI39"
                            [ngModelOptions]="{standalone: true}">
                        Z68.39 <span>BMI 39 to 39.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI60"
                            [ngModelOptions]="{standalone: true}">
                        Z68.44 <span>BMI 60 to 69.9</span> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI32"
                            [ngModelOptions]="{standalone: true}">
                        Z68.32 <span>BMI 32 to 32.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI36"
                            [ngModelOptions]="{standalone: true}">
                        Z68.36 <span>BMI 36 to 36.9 </span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI40"
                            [ngModelOptions]="{standalone: true}">
                        Z68.41 <span>BMI 40 to 44.9</span> </label>
                </td>
                <td>
                    <label><input type="checkbox" [(ngModel)]="reportDetails.reportData[0].BMI70"
                            [ngModelOptions]="{standalone: true}">
                        Z68.45 <span>BMI 70 and over</span> </label>
                </td>
            </tr>


           

        </table>
        <a class="line_link" target="_blank"
        href="https://www.cms.gov/medicare-coverage-database/details/nca-decision-memo.aspx?&NcaName=Intensive%20Behavioral%20Therapy%20for%20Obesity&bc=ACAAAAAAIAAA&NCAId=253&">Clinical
        Obesity Counselling - Qualifications, Procedures and On-going Requirements</a>

    </form>


</mat-card-content>