<app-tech-header></app-tech-header>

<mat-card class="admin_wrapper">

  <!-- new -->
  <mat-card-content class="admin_superbillsection techDashboard">
    <!-- <h1>Physician Report and Super Bills</h1> -->
    <mat-card-content class="biller_wrapper">
      <mat-card-content class="super_bill_item sp_one">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports Uploaded
          </p>
          <h2> {{ allResolveData.totalReportCount }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Reports Uploaded')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Report Processed
          </p>
          <h2> {{ allResolveData.processedReportCount }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Reports Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_three">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total Number of Reports Remain to Process
          </p>
          <h2> {{ allResolveData.totalRemainToProcessCount }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Remain Process')">view all</button>
        </span>
      </mat-card-content>
    </mat-card-content>

    <mat-card-content class="biller_wrapper">
      <mat-card-content class="super_bill_item sp_one">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports This Week
          </p>
          <h2> {{ allResolveData.totalreportthisweek }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Reports Uploaded')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_two">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Report Last Week
          </p>
          <h2> {{ allResolveData.totalreportpreviousweek }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Reports Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item sp_three">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon3.png">
          </mat-card-content>
        </span>
        <span class="container_wrapper">
          <p>Total Number of Reports This Month
          </p>
          <h2> {{ allResolveData.totalreportthismonth }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Remain Process')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>

    <mat-card-content class="biller_wrapper">
      <mat-card-content class="super_bill_item sp_one">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total No of <br>
            Reports Last Month
          </p>
          <h2> {{ allResolveData.totalreportlastmonth }} </h2>
          <button mat-flat-button (click)="viewDetailsData('Reports Uploaded')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>


  <!-- <mat-card-content class="doctor_content_wrapper">
    <mat-card-title>Doctor You Are Working With </mat-card-title>
    <mat-card-content class="table_structure">
      <mat-list>

        <mat-list-item>
          <p class="title_n">Name</p>
          <p class="title_a">
            <ng-container>
              {{ allResolveData.doctorWorkingWith[0].firstname }} {{ allResolveData.doctorWorkingWith[0].lastname }}
            </ng-container>
          </p>
        </mat-list-item>

        <mat-list-item>
          <p class="title_n">Taxonomies</p>
          <p class="title_a">
            <ng-container>
              {{ allResolveData.doctorWorkingWith[0].taxo_list[0] }}
            </ng-container>
          </p>
        </mat-list-item>

        <mat-list-item>
          <p class="title_n">Email</p>
          <p class="title_a">
            <ng-container>
              {{ allResolveData.doctorWorkingWith[0].email }}
            </ng-container>
          </p>
        </mat-list-item>

        <mat-list-item>
          <p class="title_n">Phone</p>
          <p class="title_a">
            <ng-container>
              {{ allResolveData.doctorWorkingWith[0].phone }}
            </ng-container>
          </p>
        </mat-list-item>

        <mat-list-item>
          <p class="title_n">FAX</p>
          <p class="title_a">
            <ng-container>
              {{ allResolveData.doctorWorkingWith[0].fax }}
            </ng-container>
          </p>
        </mat-list-item>

        <mat-list-item>
          <p class="title_n">NPI#</p>
          <p class="title_a">
            <ng-container>
              {{ allResolveData.doctorWorkingWith[0].npm }}
            </ng-container>
          </p>
        </mat-list-item>

      </mat-list>
    </mat-card-content>

    <p class="doctorCount">and&nbsp; <a
        (click)="allDoctorViewModal()">({{ allResolveData.doctorWorkingWith.length }})</a>&nbsp;more.</p>

  </mat-card-content> -->



  <!-- patainet report section -->
  <mat-card-content class="table_wrapper">

    <mat-toolbar class="top_header">
      <h2>{{ htmlText.headerText }}</h2>

      <button class="add_new" mat-button routerLink="/tech/patient-management/bulk-upload">upload bulk report</button>
    </mat-toolbar>

    <!--all dashboard data table start here-->
    <div class="tablewrapper">
      <!-- table -->
      <lib-listing
        class="DataTable" 
        *ngIf="allBillerData.length>0" 
        [datasource]="allBillerData" 
        [skip]="allUserData_skip"
        [modify_header_array]="allUserData_modify_header" 
        [detail_skip_array]="previewModal_detail_skip" 
        [apiurl]="apiUrl"
        [sourcedata]="tableName" 
        [editroute]="editUrl" 
        [jwttoken]="jwtToken" 
        [statusarr]="status"
        [updateendpoint]="UpdateEndpoint" 
        [deleteendpoint]="deleteEndpoint" 
        [date_search_endpoint]="SearchingEndpoint"
        [date_search_source]="SearchingSourceName" 
        [search_settings]="search_settings" 
        [sortdata]="sortdata" 
        [datacollection]="datacollection" 
        [libdata]="libdata" 
        [date_search_source_count]="billerData_count" 
        [limitcond]="limitcond" >
      </lib-listing>
    </div>
    

    <span class="button_action">
      <button mat-flat-button routerLink="/tech/patient-management/bulk-upload">upload bulk report</button>
    </span>
  </mat-card-content>

</mat-card>
<app-admin-footer></app-admin-footer>