<!-- Admin Header -->
<app-admin-header></app-admin-header>
<mat-card class="admin_wrapper">
  <!-- header with add button -->

  <span class="add_header">

    <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; Manage
      Appoinments</span>
  </span>
 <br>

  <mat-card-content class="table_wrapper bookedAppointment">

    <mat-toolbar class="top_header">
      <h2> manage appoinments </h2>
    </mat-toolbar>
    
    <lib-booked-event-listing [configData]="configData"></lib-booked-event-listing>

  </mat-card-content>
</mat-card>

<!-- Admin Footer -->
<app-admin-footer></app-admin-footer>
