<mat-card-content class="shareLink_wrpr">


  <mat-toolbar class="link_field">
    <h2>Share link for Doctor Signup:</h2>
    <span class="small_view">
      <span class="shreWr">
        <input type="text" [value]="shareDetailsData.link" #shareLinkUrl>
        <a mat-button (click)="copyShareLink(shareLinkUrl);"><i class="material-icons">
            link
          </i></a>
      </span>
      <span class="icon_wr">
        <a mat-button [href]="shareDetailsData.facebookShareLink" target="_blank">
          <i class="fab fa-facebook-f"></i> 
        </a>

        <a mat-button [href]="shareDetailsData.twitterShareLink" target="_blank">
           <i class="fab fa-twitter"></i> 
        </a>

        <a mat-button [href]="shareDetailsData.linkedinShareLink" target="_blank">
          <i class="fab fa-linkedin-in"></i> 
        </a>

        <a mat-button [href]="shareDetailsData.tumblrShareLink" target="_blank">
          <i class="fab fa-tumblr"></i> 
        </a>
      </span>
    </span>
  </mat-toolbar>

</mat-card-content>

 