<mat-card-content class="shareLink_wrpr">
    <h2>Doctor Signup through the following link:</h2>

    <mat-toolbar class="link_field">
      <input type="text" [value]="shareDetailsData.link" #shareLinkUrl>
      <span class="shreWr">
        <a mat-button (click)="copyShareLink(shareLinkUrl);">Copy</a>
      </span>
    </mat-toolbar>
    <mat-toolbar class="iconBar">
      <p>Share To: </p>
      <span class="icon_wr">
        <button mat-button><i class="fab fa-facebook-f"></i></button>
        <button mat-button><i class="fab fa-twitter"></i></button>
        <button mat-button><i class="fab fa-linkedin-in"></i></button>
        <button mat-button><i class="fab fa-tumblr"></i></button>
      </span>
    </mat-toolbar>

  </mat-card-content>