<!-- Header Start -->

<!-- Admin -->
<app-admin-header *ngIf="loginUserData.user_details.user_type == 'admin'"
></app-admin-header>

<!-- Biller -->
<app-biller-header *ngIf="loginUserData.user_details.user_type == 'biller'"></app-biller-header>

<!-- Diagnostic Admin -->
<app-diagnostic-admin-header *ngIf="loginUserData.user_details.user_type == 'diagnostic_admin'">
</app-diagnostic-admin-header>

<!-- Doctor -->
<app-doctor-header *ngIf="loginUserData.user_details.user_type == 'doctor'"></app-doctor-header>

<!-- Doctor Office -->
<app-doctor-office-header *ngIf="loginUserData.user_details.user_type == 'doctor_office'"></app-doctor-office-header>

<!-- Sales Person -->
<app-sales-person-header *ngIf="loginUserData.user_details.user_type == 'sales_person'"></app-sales-person-header>

<!-- Tech -->
<app-tech-header *ngIf="loginUserData.user_details.user_type == 'tech'"></app-tech-header>

<!-- doctor group -->
<app-doctor-group-header *ngIf="loginUserData.user_details.user_type == 'doctor_group'"></app-doctor-group-header>

<!-- distributors  -->
<app-distributors-header *ngIf="loginUserData.user_details.user_type == 'distributors'"></app-distributors-header> 

<!-- admin_biller  -->
<app-adminbiller-header *ngIf="loginUserData.user_details.user_type == 'admin_biller'"></app-adminbiller-header>

<!-- Header End -->


<mat-card class="faq_wrapper">
    <h2 class="header"> Frequently Asked Questions (FAQs) </h2>
    <span class="bradcrumb"><a [routerLink]="['/admin/dashboard']">Dashboard &nbsp;/</a> &nbsp; FAQ</span>
    <mat-accordion>
        
        <mat-expansion-panel *ngFor="let data of allResolveData; let i = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>{{ i + 1 }} &nbsp;</b> <span [innerHTML]="data.question"></span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- body -->
            <div class="body_wrapper">
                <div class="content_wr">
                    <p [innerHTML]="data.answer"></p>
                </div>
                <div class="video_wr" *ngIf="data.youtube_link != ''">
                    <iframe width="400" height="315" [src]="data.youtube_link_save" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</mat-card>



<!-- Footer Start -->

<!-- Admin -->
<app-admin-footer></app-admin-footer>

<!-- Footer End -->