<!-- Header Start -->

<!-- Admin -->
<app-admin-header *ngIf="loginUserData.user_details.user_type == 'admin'"></app-admin-header>

<!-- Biller -->
<app-biller-header *ngIf="loginUserData.user_details.user_type == 'biller'"></app-biller-header>

<!-- Diagnostic Admin -->
<app-diagnostic-admin-header *ngIf="loginUserData.user_details.user_type == 'diagnostic_admin'">
</app-diagnostic-admin-header>

<!-- Doctor -->
<app-doctor-header *ngIf="loginUserData.user_details.user_type == 'doctor'"></app-doctor-header>

<!-- Doctor Office -->
<!-- <app-doctor-office-header *ngIf="loginloginUserData.user_details.user_type == 'doctor_office'"></app-doctor-office-header> -->

<!-- Sales Person -->
<app-sales-person-header *ngIf="loginUserData.user_details.user_type == 'sales_person'"></app-sales-person-header>

<!-- Tech -->
<app-tech-header *ngIf="loginUserData.user_details.user_type == 'tech'"></app-tech-header>

<!-- Header End -->



<mat-card class="faq_wrapper">
    <h2 class="header"> Frequently Asked Questions (FAQs) </h2>
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>1 &nbsp;</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, quam.
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- body -->
            <div class="body_wrapper">
                <div class="content_wr">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum, non esse natus
                        magni architecto aspernatur, sit optio hic eveniet laudantium placeat, excepturi omnis harum
                        ducimus iste consequatur voluptatibus ea.</p>
                </div>
                <div class="video_wr">
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/SdR8rl-NbB4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>2 &nbsp;</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, quam.
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- body -->
            <div class="body_wrapper">
                <div class="content_wr">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum, non esse natus
                        magni architecto aspernatur, sit optio hic eveniet laudantium placeat, excepturi omnis harum
                        ducimus iste consequatur voluptatibus ea.</p>
                </div>
                <div class="video_wr">
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/SdR8rl-NbB4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>3 &nbsp;</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, quam.
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- body -->
            <div class="body_wrapper">
                <div class="content_wr">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus laborum, non esse natus
                        magni architecto aspernatur, sit optio hic eveniet laudantium placeat, excepturi omnis harum
                        ducimus iste consequatur voluptatibus ea.</p>
                </div>
                <div class="video_wr">
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/SdR8rl-NbB4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</mat-card>



<!-- Footer Start -->

<!-- Admin -->
<app-admin-footer *ngIf="loginUserData.user_details.user_type == 'admin'"></app-admin-footer>

<!-- Biller -->
<app-biller-footer *ngIf="loginUserData.user_details.user_type == 'biller'"></app-biller-footer>

<!-- Diagnostic Admin -->
<app-diagnostic-admin-footer *ngIf="loginUserData.user_details.user_type == 'diagnostic_admin'">
</app-diagnostic-admin-footer>

<!-- Doctor -->
<app-doctor-footer *ngIf="loginUserData.user_details.user_type == 'doctor'"></app-doctor-footer>

<!-- Doctor Office -->
<!-- <app-doctor-office-footer *ngIf="loginUserData.user_details.user_type == 'doctor_office'"></app-doctor-office-footer> -->

<!-- Sales Person -->
<app-sales-person-footer *ngIf="loginUserData.user_details.user_type == 'sales_person'"></app-sales-person-footer>

<!-- Tech -->
<app-tech-footer *ngIf="loginUserData.user_details.user_type == 'tech'"></app-tech-footer>

<!-- Footer End -->