.faq_wrapper{ width: 1440px; margin: 50px auto;}

.faq_wrapper .header{ font-size: 24px; font-family: 'AvenirMedium'; color: #767676; background: #f2f4f5; padding: 8px;}


.faq_wrapper .mat-expansion-panel-header.mat-expanded:focus{ background: #00baff;}
 /* .mat-expansion-panel-header-title{color: #f2f4f5;} */
.faq_wrapper .mat-expansion-panel-header.mat-expanded:focus .mat-expansion-panel-header-title {
    color: rgba(255, 255, 255, 0.87);
}
.active{background: #00baff!important;}
.active .mat-expansion-panel-header-title { color: rgba(255, 255, 255, 0.87);
}
.body_wrapper{
    background:#f2f4f5 ; display: flex; justify-content: space-between; padding: 10px 20px;
}
.body_wrapper .content_wr p{ color: #6e6e6e; font-size: 18px; font-family: 'AvenirRoman'; margin: 6px 0;}
.body_wrapper .content_wr{ width: 100%;}
.body_wrapper .video_wr{width: 39%;}

.body_wrapper .video_wr .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .body_wrapper .video_wr .video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 1560px){
    .faq_wrapper{ width: 90%;}
  }