<h2 mat-dialog-title>Select Patient</h2>
<mat-card class="modal_view">
<mat-form-field>
    <mat-label>Select patient</mat-label>
    <mat-select (selectionChange)="selectPatient($event.value);">
        <mat-option *ngFor="let patient of data.allPatient; let i = index;" [value]="i">
            {{ patient.patient_name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-list *ngIf="selectPatientData != ''">
    <mat-list-item>Patient Name: {{ selectPatientData.patient_name }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>DOB: {{ selectPatientData.dob | date }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Gender: {{ selectPatientData.gender }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Height: {{ selectPatientData.height }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email: {{ selectPatientData.email }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Booking date: {{ selectPatientData.booking_date | date }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Related Doctor: {{ selectPatientData.doctor_details[0].firstname }} {{ selectPatientData.doctor_details[0].lastname }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Doctor Office: {{ selectPatientData.doctor_office_details[0].firstname }} {{ selectPatientData.doctor_office_details[0].lastname }} </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="selectPatientData" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
</mat-card>