<h2 mat-dialog-title>Select Patient</h2>

<mat-card class="modal_view">
    <mat-form-field *ngIf="selectDoctor.data == ''">
        <mat-label>Select patient</mat-label>
        <mat-select (selectionChange)="onChnagePatient($event.value);" [(ngModel)]="selectPatient.model">
            <mat-option *ngFor="let patient of data.allPatient; let i = index;" [value]="i">
                {{ patient.patient_name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span *ngIf="selectPatientError" style="color: red;">Please a patient.</span>

    <h3 *ngIf="selectPatient.data == ''">OR</h3>

    <mat-form-field *ngIf="selectPatient.data == ''">
        <mat-label>Select Doctor</mat-label>
        <mat-select (selectionChange)="onChnageDoctor($event.value);">
            <mat-option *ngFor="let doctor of htmlText.doctorList; let i = index;" [value]="i">
                {{ doctor.firstname }} {{ doctor.lastname }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span *ngIf="selectPatientError" style="color: red;">Please a doctor.</span>



    <mat-list *ngIf="selectPatient.data != ''">
        <mat-list-item>Patient Name: {{ selectPatient.data.patient_name }} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>DOB: {{ selectPatient.data.dob | date }} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Gender: {{ selectPatient.data.gender }} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Height: {{ selectPatient.data.height }} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Email: {{ selectPatient.data.email }} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Booking date: {{ selectPatient.data.booking_date | date }} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="selectPatient.data.doctor_details.length > 0">Related Doctor:
            {{ selectPatient.data.doctor_details[0].firstname }} {{ selectPatient.data.doctor_details[0].lastname }}
        </mat-list-item>
        <mat-divider *ngIf="selectPatient.data.doctor_details.length > 0"></mat-divider>
        <mat-list-item *ngIf="selectPatient.data.doctor_office_details.length > 0">Doctor Office:
            {{ selectPatient.data.doctor_office_details[0].firstname }}
            {{ selectPatient.data.doctor_office_details[0].lastname }} </mat-list-item>
        <mat-divider *ngIf="selectPatient.data.doctor_office_details.length > 0"></mat-divider>
    </mat-list>


    <mat-dialog-actions align="end">
        <button mat-button (click)="closeModal();">Confirm</button>
        <button mat-button (click)="resetAllField();">Reset</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</mat-card>