<app-doctor-office-header></app-doctor-office-header>


<mat-card class="admin_wrapper">

  <!-- patainet report section -->
  <mat-card-content class="table_wrapper ">

    <mat-toolbar class="top_header">
      <h2>{{ htmlText.headerText }}</h2>
      <button class="add_new" mat-button routerLink="/doctor-office/manage-appointments/book-appoinment-now">Book
        Appoinment Now</button>
    </mat-toolbar>

    <!--all dashboard data table start here-->
<!--    <lib-booked-event-listing [configData]="configData" class="calendar_data"></lib-booked-event-listing>-->


    <!-- Booked Events Listing -->
    <mat-tab-group>
      <!-- Upcoming events -->
      <mat-tab label="Upcoming events">
        <app-upcoming-appoinments [searchByDoctorValues]="doctors"></app-upcoming-appoinments>
      </mat-tab>
      <!-- Past events -->
      <mat-tab label="Past Events">
        <app-past-appoinments [searchByDoctorValues]="doctors"></app-past-appoinments>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card>


<app-admin-footer></app-admin-footer>
