<app-doctor-office-header></app-doctor-office-header>


<mat-card class="admin_wrapper">

  <!-- patainet report section -->
  <mat-card-content class="table_wrapper ">

    <mat-toolbar class="top_header">
      <h2>{{ htmlText.headerText }}</h2>
      <button class="add_new" mat-button routerLink="/doctor-office/manage-appointments/book-appoinment-now">Book
        Appoinment Now</button>
    </mat-toolbar>

    <!--all dashboard data table start here-->
<!--    <lib-booked-event-listing [configData]="configData" class="calendar_data"></lib-booked-event-listing>-->

    <lib-listing *ngIf="configData.responseData != null && configData.responseData.length > 0"
                 [datasource]="configData.responseData"
                 [skip]="configData.skipFields"
                 [modify_header_array]="configData.modify_header_array"
                 [apiurl]="configData.baseUrl"
                 [deleteendpoint]="configData.endPoint.deleteEvent"
                 [updateendpoint]="configData.endPoint.rescheduleBookedEvent"
                 [jwttoken]="configData.jwtToken"
                 [date_search_source]="configData.source"
                 [date_search_endpoint]="configData.endPoint.listBookedEvents"
                 [sourcedata]="configData.source"
                 [statusarr]="configData.statusarray"



                 [url]="configData.custom_link"
                 [search_settings]="configData.search_settings"

                 [searchendpoint]="configData.endPoint.listBookedEvents"
                 [sortdata]="configData.sortdata"
                 [datacollection]="configData.endPoint.listBookedEvents"
                 [date_search_source_count]="configData.date_search_source_count"
                 [libdata]="configData.libdata"
                 [updatetable]="configData.updatetable"
                 [limitcond]="configData.limitcond"></lib-listing>
  </mat-card-content>

</mat-card>


<app-admin-footer></app-admin-footer>
