<mat-card-content class="encounter_wrapper">
  <table class="tableone">
    <tr>
      <td colspan="2">
        <h2 class="header"> Additional Recommended Diagnostic Tests</h2>
      </td>
    </tr>

    <tr>
      <td> Patient Name <input type="text" value="{{ orginalReportDetails.patient_details[0].patient_name }}"></td>
      <td> Patient Gender
        <label> <input type="radio" [checked]="orginalReportDetails.patient_details[0].gender_male_flag == true" [value]="true">M</label>
        <label> <input type="radio" [checked]="orginalReportDetails.patient_details[0].gender_female_flag == true" [value]="true">F</label>
      </td>

    </tr>

    <tr>
      <td><label> D.O.B <input type="text" value="{{ orginalReportDetails.patient_details[0].dob | date }}"></label></td>
      <td> Test Date <input type="text" value="{{ orginalReportDetails.patient_details[0].test_date | date }}"></td>
    </tr>


  </table>
</mat-card-content>

<!-- <mat-card>
    test Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nobis nesciunt, accusamus dolores nostrum quisquam. Possimus, similique qui minima reiciendis unde temporibus non aspernatur iusto fuga libero voluptatum laudantium quidem!
    <table>
      <tr>
        <th>Column</th>
        <td>1</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>Pre-Diabetes</td>
      </tr>
      <tr>
        <th>ICD -10</th>
        <td>data</td>
      </tr>
      <tr>
        <th>ABI &/or Doppler</th>
        <td>data</td>
      </tr>
      <tr>
        <th>Additional Testing</th>
        <td>data</td>
      </tr>
    </table>



</mat-card> -->

<span class="loop">
  <mat-card-content class="content" *ngFor="let data of reportDetails.additional_recommemded_diagnostic_tests; let i = index;">
    <table>
      <tr>
        <th>Column</th>
        <td>{{ i + 1 }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td [innerHtml]="data.description"></td>
      </tr>
      <tr>
        <th>ICD -10</th>
        <td [innerHtml]="data.ICD10"></td>
      </tr>
      <tr>
        <th>ABI &/or Doppler</th>
        <td [innerHtml]="data.ABI_doppler"></td>
      </tr>
      <tr>
        <th>Additional Testing</th>
        <td [innerHtml]="data.additional_testing"></td>
      </tr>
    </table>
  </mat-card-content>
</span>
