<app-doctor-office-header></app-doctor-office-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="admin_superbillsection">
    <h1>Physician Report Process Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p> Total Appointments<br> Booked </p>
          <h2> {{ htmlText.allResolveData.totalAppointmentsBookedCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Total Appointments Booked')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Appointments <br> Completed </p>
          <h2> {{ htmlText.allResolveData.totalAppointmentsCompletedCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Total Appointments Completed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item ">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Appointments<br> Pending
          </p>
          <h2> {{ htmlText.allResolveData.totalAppointmentsPendingCount }} </h2>
          <button mat-flat-button (click)="viewReportProcessData('Total Appointments Pending')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>

  <div class="tablewrapper admin_dashboard">
    <mat-toolbar class="top_header">
      <h2> {{ htmlText.headerText }} </h2>
      <span class="wrappp_R">
      </span>
    </mat-toolbar>
      
    <!-- table -->
    <lib-listing
      class="DataTable" 
      *ngIf="allBillerData.length>0" 
      [datasource]="allBillerData" 
      [skip]="allUserData_skip"
      [modify_header_array]="allUserData_modify_header" 
      [detail_skip_array]="previewModal_detail_skip" 
      [apiurl]="apiUrl"
      [sourcedata]="tableName" 
      [editroute]="editUrl" 
      [jwttoken]="jwtToken" 
      [statusarr]="status"
      [updateendpoint]="UpdateEndpoint" 
      [deleteendpoint]="deleteEndpoint" 
      [date_search_endpoint]="SearchingEndpoint"
      [date_search_source]="SearchingSourceName" 
      [search_settings]="search_settings" 
      [sortdata]="sortdata" 
      [datacollection]="datacollection" 
      [libdata]="libdata" 
      [date_search_source_count]="billerData_count" 
      [limitcond]="limitcond" >
    </lib-listing>

  </div>

<!--  <lib-booked-event-listing class="calendar_data" [configData]="configData"></lib-booked-event-listing>-->
  <!-- Booked Events Listing -->
  <!-- <mat-tab-group> -->
    <!-- Upcoming events -->
    <!-- <mat-tab label="Upcoming events">
      <app-upcoming-appoinments></app-upcoming-appoinments>
    </mat-tab> -->
    <!-- Past events -->
    <!-- <mat-tab label="Past Events">
      <app-past-appoinments></app-past-appoinments>
    </mat-tab>
  </mat-tab-group> -->

</mat-card>

<app-admin-footer></app-admin-footer>
