<app-doctor-office-header></app-doctor-office-header>

<mat-card-content class="content_wrapper">
  <mat-card-content class="itemsection one">
    <span class="counteer"> 10  </span>
    <p>Total Number of Doctors</p>
    <button mat-flat-button type="button" [routerLink]="['/admin/doctor-management']">View Details</button>
  </mat-card-content>

  <mat-card-content class="itemsection two">
    <span class="counteer"> 9 </span>
    <p>Total Number of Billers</p>
    <button mat-flat-button type="button" [routerLink]="['/admin/biller-management']">View Details</button>
  </mat-card-content>
  
  <mat-card-content class="itemsection three">
    <span class="counteer"> 8 </span>
    <p>Total Number of Techs</p>
    <button mat-flat-button type="button" [routerLink]="['/admin/tech-management']">View Details</button>
  </mat-card-content>
</mat-card-content>


<app-doctor-office-footer></app-doctor-office-footer>