<app-doctor-office-header></app-doctor-office-header>

<mat-card class="admin_wrapper">

  <mat-card-content class="admin_superbillsection">
    <h1>Physician Report Process Status</h1>
    <mat-card-content class="biller_wrapper">

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon1.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p> Total Appointments<br> Booked </p>
          <h2> 20 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Images Not Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Appointments <br> Completed </p>
          <h2>30 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Basic Details Not Processed')">view all</button>
        </span>
      </mat-card-content>

      <mat-card-content class="super_bill_item ">
        <span class="border_wrapper">
          <mat-card-content class="circle">
            <img src="../../../../assets/images/reporticon2.png">
          </mat-card-content>
        </span>

        <span class="container_wrapper">
          <p>Total Appointments<br> Pending
          </p>
          <h2> 40 </h2>
          <button mat-flat-button (click)="viewReportProcessData('Risk Markers Not Processed')">view all</button>
        </span>
      </mat-card-content>

    </mat-card-content>
  </mat-card-content>

  <lib-booked-event-listing class="calendar_data" [configData]="configData"></lib-booked-event-listing>
</mat-card>

<app-admin-footer></app-admin-footer>